{% load staticfiles %}
{# Comuni footer #}
<footer id="footer">
    <div class="container">

    	<div class="row">
    		<div class="col-xs-12 col-md-8">
                <p>Comune di</p>
                <h3>
                    {% if pagina_comune.backlink %}
                        <a href="{{ pagina_comune.backlink  }}">
                            {{territorio.denominazione}}
                        </a>
                    {% else %}
                        {{territorio.denominazione}}
                    {% endif %}
                </h3>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="http://www.openbilanci.it/" target="_blank" class="openbilanci">
                	open<strong>bilanci</strong>
                    <small>rendiamoci conto</small>
                </a>
            </div>
    	</div>

        <div class="row">
            <div class="col-xs-6 col-md-4">
                <ul class="nav nav-stacked">
                    <li>{{ pagina_comune.footer_text|safe }}</li>

            </div>

            <div class="col-xs-6 col-md-2 col-md-offset-4">
                <h4>Il progetto</h4>
                <ul class="nav nav-stacked">
                	<li><a href="/pages/bilancio_comune">Entra nel bilancio</a></li>
                    <li><a href="/pages/faq">FAQ</a></li>
                    <li><a href="/pages/indicatori">Indicatori</a></li>
                    <li><a href="http://blog.openpolis.it/2014/05/22/glossario-open-bilanci-wikipedia" target="_blank">Wiki glossario</a></li>
                    <li><a href="/pages/credits">Credits</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-2">
                <h4>Open data e open source</h4>
                <ul class="nav nav-stacked">
                    <li><a href="/pages/software">Software utilizzati</a></li>
                    <li><a href="/pages/licenze">Licenze</a></li>
                    <li><a href="/pages/informativa">Privacy</a></li>

                </ul>
            </div>


        </div>
    </div>
</footer>