{%  extends "bilanci/bilancio_base.html" %}
{% load staticfiles %}
{% load front_tags %}

{% block affix_breadcrumbs %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block page_controls %}{% endblock %}


{% block bilanci_content %}
    {% front_edit_scripts editor="ckeditor"%}

{#    <div id="content" class="col-sm-9" style="padding-bottom: 80px;">#}
        <h1>
        {% front_edit "title" request.path %}
            Default title
        {% end_front_edit  %}
        </h1>
        <h3>
            {% front_edit "subtitle" request.path %}
                Default subtitle
            {% end_front_edit  %}
        </h3>
        <p>
            {% front_edit "content" request.path %}
                Default content
            {% end_front_edit  %}
        </p>
{#    </div><!-- /#content -->#}



{% endblock %}

{% block extra_js %}

    <script src="{% static 'scripts/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/ckeditor/ckeditor.js' %}"></script>

{% endblock %}