{% load mptt_tags %}
{% load voice_values %}


<!-- Main table -->
<div class="table-responsive">

    <table class="table entrate no-hover">
        <tbody>

            {% recursetree bilancio_tree %}
                {% if node == bilancio_rootnode %}
                    {{ children }}
                {% else %}

                    <tr class="panel-heading">
                        <td class="col-sm-5 entry">
                            <a class="collapse-toggle" href="#{{ node.slug }}">
                                <span class="icon sprite-plus"></span></a>
                            {{ node.denominazione|lower|capfirst }}
                        </td>

                        <td class="col-sm-3 actions">
                            {% voice_values node.slug budget_values %}
                        </td>
                    </tr>
                    <tr class="panel-collapse collapse" id="{{ node.slug|slugify }}">
                        <td colspan="3" class="col-sm-12 details">
                            <p>
                                Testo corrente per la voce {{ node.denominazione|lower|capfirst }}

                                <a href="#" class="btn btn-sm btn-default more-info pull-right" data-open="andamento nel tempo &lt;span class='glyphicon glyphicon-chevron-down'&gt;&lt;/span&gt;" data-close="chiudi &lt;span class='glyphicon glyphicon-chevron-up'&gt;&lt;/span&gt;">andamento nel tempo <span class="glyphicon glyphicon-chevron-down"></span></a>
                            </p>
                            <figure class="trend hidden">
                                <img alt="Responsive image" class="img-responsive" src="">
                            </figure>

                            {% if not node.is_leaf_node %}
                            <br>

                            <!-- Sub table level 1 -->
                            <table class="table table-condensed">
                                <tbody>
                                    {{ children }}
                                </tbody>
                            </table>
                            {% endif %}
                        </td>
                    </tr>

                {% endif %}


            {% endrecursetree %}

        </tbody>
    </table>
</div>
