{% load mptt_tags %}
{% load staticfiles %}
{% load voice_values %}
{% load repeat %}
{% load section_title %}
{% load section_values_type %}
{% load popover_info %}


<div class="panel-group panel-tree" id="tree-preventivo-spese">

    {% recursetree bilancio_tree %}
        {% if node.denominazione != "Spese per investimenti" and node.denominazione != "Spese correnti" and not "interventi" in node.slug.lower %}
            {% if node == bilancio_rootnode or node.denominazione.lower == "funzioni" %}
                {{ children }}
            {% else %}
                <div class="panel-group panel-tree">
                    <div class="panel">
                        <div id="heading-{{ node.slug|slugify }}" class="panel-heading">

                            <div class="row">
                                <div class="col-sm-4 entry">
                                    {% if not node.is_leaf_node %}
                                    <a class="collapse-toggle" href="#{{ node.slug }}" data-toggle="collapse" data-parent="#tree-{{ node.parent.slug }}">
                                        <i class="fa fa-fw fa-plus-circle"></i>
                                        <span style="text-transform: uppercase">
                                            {% if node.denominazione == "_spese_somma_funzioni" %}
                                                Funzioni
                                            {% else %}
                                                {{ node.denominazione|lower|capfirst }}
                                            {% endif %}
                                        </span>
                                    </a>
                                    {% else %}
                                    <span style="text-transform: uppercase">
                                        {% if node.denominazione == "Spese correnti" %}
                                            Funzioni
                                        {% else %}
                                            <i class="fa fa-fw fa-plus-none"></i>
                                            {{ node.denominazione|lower|capfirst }}
                                        {% endif %}
                                    </span>
                                    {% endif %}
                                    {% popover_info node.slug %}

                                </div>
                                {% include 'bilanci/_classifiche_link.html' with selected_par_type='spese-funzioni' %}

                                <div class="col-sm-2 actions">
                                    {% voice_values node.slug budget_values %}
                                </div>

                                <div class="col-sm-3 chart-wrapper">
                                    {% if node.denominazione != "Prestiti" and node.denominazione != "Spese per conto terzi" %}
                                        {% voice_composition node.slug budget_values %}
                                    {% endif %}
                                </div>

                                <div class="col-sm-2">
                                    {# hides graph button for interventi / funzioni                   #}
                                    {% if node.slug != 'preventivo-spese-spese-per-investimenti' and node.slug != 'preventivo-spese-spese-correnti' and node.slug != 'consuntivo-spese-cassa-spese-correnti'%}
                                        {% include 'bilanci/_graph_button.html' with node=node %}
                                    {% endif %}

                                </div>
                            </div>
                            {#  trend chart container              #}
                            <div id="trend-chart-container-{{ node.pk }}" class="collapse chart-container">
                                <div class="row details section_title">
                                    {#  secondary graph title #}
                                    <div class="col-md-8">
                                        {% section_title bold_text="BILANCI" main_bilancio_type=bilancio_type_title main_bilancio_year=year  %}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="cas_com_box pull-right">
                                            {% section_values_type cas_com_type=cas_com_type values_type=values_type tooltip=True per_capita=True %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {#  secondary graph  #}
                                    <div class="col-md-12 graph-box"></div>
                                </div>
                            </div>
                            {#  / trend chart container              #}

                        </div>
                    </div>

                    {% if not node.is_leaf_node %}
                        <div id="{{ node.slug|slugify }}" class="panel-collapse collapse">
                            <!-- Sub panel level -->
                            <div class="panel-group" id="tree-{{ node.slug }}">
                                {{ children }}
                            </div>
                            <!-- Sub panel level -->

                        </div>
                    {% else %}
                        <div id="{{ node.slug|slugify }}"></div>
                    {% endif %}

                </div>

            {% endif %}

        {% endif %}

    {% endrecursetree %}
</div>

