{% load mptt_tags %}
{% load voice_values %}
{% load staticfiles %}
{% load repeat %}
{% load section_title %}


<!-- Main table -->
<div class="table-responsive">
    <table class="table entrate no-hover">
        <tbody>

            {% recursetree bilancio_tree %}

                {% if not "funzioni" in node.slug.lower %}

                    {% if node == bilancio_rootnode or node.denominazione.lower == "interventi" %}
                        {{ children }}
                    {% else %}

                        <tr>
                            <td class="col-sm-5 entry">
                                {% repeat node.indent_level %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endrepeat %}
                                {% if not node.is_leaf_node %}
                                <a class="collapse-toggle" href="#{{ node.slug }}">
                                    <span class="icon sprite-plus"></span></a>
                                {% else %}
                                    <span class="icon sprite-plus" style="visibility: hidden"></span>
                                {% endif %}
                                <span style="text-transform: uppercase">
                                    {% if node.denominazione == "Spese correnti" %}
                                        Interventi - Spese correnti
                                    {% elif node.denominazione == "Spese per investimenti" %}
                                        Interventi - Spese per investimenti
                                    {% else %}
                                        {{ node.denominazione|lower|capfirst }}
                                    {% endif %}
                                </span>
                            </td>

                            <td class="col-sm-3 actions">
                                {# set 3rd parameter to True, (is_interventi) #}
                                {% voice_values node.slug budget_values True %}
                            </td>

                            <td class="col-sm-3 chart-wrapper">
                            </td>

                            <td class="col-sm-1">
                               <a href="#{{ node.slug }}" class="pull-right trend-chart-toggle"
                                  id="trend-chart-toggle-{{ node.pk }}">
                                   <img class="secondary-graph-toggle" src="{% static 'img/secondary_graph_off.png' %}" />
                               </a>
                            </td>
                        </tr>

                        <tr id="trend-chart-container-{{ node.pk }}" class="hidden">
                            <td colspan="4" class="col-sm-12 details" style="border: 0">
                                <div class="row">
                                    <div class="col-md-12">
                                        {#  secondary graph title #}
                                        {% section_title bold_text="BILANCI" main_bilancio_type=bilancio_type_title cas_com_type=cas_com_type values_type=values_type per_capita=True  %}
                                    </div>
                                </div>
                                <div class="row">
                                    {#  secondary graph  #}
                                    <div class="col-md-12 graph-box"></div>
                                </div>
                            </td>
                        </tr>

                        <tr class="panel-collapse collapse" id="{{ node.slug|slugify }}">
                            <td colspan="4" class="col-sm-12 details">

                                {% if not node.is_leaf_node %}
                                <!-- Sub table level 1 -->
                                <table class="table table-condensed">
                                    <tbody>
                                        {{ children }}
                                    </tbody>
                                </table>
                                {% endif %}
                            </td>
                        </tr>

                    {% endif %}

                {% endif %}

            {% endrecursetree %}

        </tbody>
    </table>
</div>
