<table class="table">
    <tbody>
        {% if voce_set|length  == 0 %}

            <tr style="background-color: #d3d3d3;">
                <td class="col-sm-12 " colspan="3">
                    <h5>DATO NON DISPONIBILE PER QUESTO BILANCIO</h5>
                </td>
            </tr>

        {% else %}

            {% for voce in voce_set %}
                {% if voce != None %}
                    <tr>
                        <td class="col-sm-7 col-xs-7 text ">
                            <h5>
                                {% spaceless %}
                                    <a title="" data-toggle="tooltip" data-original-title="vai alla pagina di dettaglio della voce"
                                            href="{{ link }}?year={{ selected_year }}&type={{ tipo_bilancio }}&cas_com_type={{ cas_com_type }}#{{ voce.slug }}"
                                        >
                                        {{ voce.denominazione|upper }}
                                    </a>
                                {% endspaceless %}
                            </h5>
                        </td>
                        <td class="col-sm-1 col-xs-1 trend">

                            {% if voce.variation > 0 %}
                                <span class="icon sprite-trend-up-3"></span>
                            {% else %}
                                <span class="icon sprite-trend-down-3"></span>
                            {% endif %}

                        </td>
                        <td class="col-sm-4 col-xs-4 pos">
                            {% if voce.variation > 0 %}
                                <span class="h3">+{{ voce.variation }}%</span>
                            {% else %}
                                <span class="h3">{{ voce.variation }}%</span>
                            {% endif %}
                        </td>
                    </tr>

                {% else %}

                    <tr style="background-color: #d3d3d3;">
                        <td class="col-sm-8" colspan="2">
                            <h5>NON CI SONO ALTRE VOCI IN CLASSIFICA</h5>
                        </td>
                        <td class="col-sm-1 trend">
                            <span class="icon sprite-trend" style="visibility: hidden;"></span>
                        </td>
                    </tr>

                {% endif %}
            {% endfor %}
        {% endif %}

    </tbody>
</table>

