{% load chi_guadagna_perde %}
<!-- chi guadagna/perde -->

<div class="row hidden-xs hidden-sm hidden-md">
    <div class="col-md-12">
        <hr class="gray-border-top">
    </div>
</div>
<br class="hidden-md hidden-lg">
<div class="row">
    <div class="col-md-12">
        <span class="selection">CHI GUADAGNA E CHI PERDE DI PIÙ NEL BILANCIO {{ tipo_bilancio|upper }} {{ selected_year }}</span>
        A CONFRONTO CON IL {{ comparison_bilancio_type|upper }} {{ comparison_bilancio_year }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr class="gray-border-bot">
    </div>
</div>

<div id="balance" class="row">
    <div class="col-md-12">
        <div class="row">
            {% if selected_section != 'overview' %}
                {#   entrate / spese  #}
                <div class="col-md-6">
                    <h4>{{ selected_section|upper }}</h4>
                    <div class="panel panel-default">
                        {% chi_guadagna_perde voce_set=chiguadagnaperde type=selected_section territorio=territorio tipo_bilancio=tipo_bilancio selected_year=selected_year values_type=values_type cas_com_type=cas_com_type %}
                    </div>
                </div>
            {% else %}
                {# bilancio overview #}
                <div class="col-md-6">
                    <h4>ENTRATE</h4>
                    <div class="panel panel-default">
                        {% chi_guadagna_perde voce_set=entrate_chiguadagnaperde link=chiguadagnaperde_entrate_link tipo_bilancio=tipo_bilancio selected_year=selected_year values_type=values_type cas_com_type=cas_com_type %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>SPESE</h4>
                    <div class="panel panel-default">
                        {% chi_guadagna_perde voce_set=spese_chiguadagnaperde link=chiguadagnaperde_spese_link tipo_bilancio=tipo_bilancio selected_year=selected_year values_type=values_type cas_com_type=cas_com_type %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div> <!-- /#balance -->

<!-- /chi guadagna/perde -->
