<!-- desktop navigation menu -->

<nav class="navbar navbar-subnav hidden-xs hidden-sm hidden-md" role="navigation">
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a id="dLabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="#">
                bilancio <span class="fa fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                <li {% ifequal selected_section 'overview' %}class="active"{% endifequal %}>
                    <a tabindex="-1" href="{{ menu_voices.bilancio }}">overview</a>
                </li>
                <li class="dropdown-submenu {% ifequal selected_section "entrate" %}active{% endifequal %}">
                    <a tabindex="-1" href="#">entrate
                    </a>
                    <ul class="dropdown-menu">
                        <li {% if selected_section == 'entrate' and selected_subsection == 'dettaglio' %}class="active"{% endif %}>
                            <a href="{{ menu_voices.entrate.dettaglio }}{% if query_string %}?{{query_string}}{% endif %}">
                                dettaglio
                            </a>
                        </li>
                        <li {% if selected_section == 'entrate' and selected_subsection == 'composizione' %}class="active"{% endif %}>
                            <a href="{{ menu_voices.entrate.composizione }}{% if query_string %}?{{query_string}}{% endif %}">
                                composizione
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown-submenu {% ifequal selected_section 'spese' %}active{% endifequal %}">
                    <a tabindex="-1" href="#">spese
                    </a>

                    <ul class="dropdown-menu">
                        <li {% if selected_section == 'spese' and selected_subsection == 'dettaglio' %}class="active"{% endif %}>
                            <a href="{{ menu_voices.spese.dettaglio }}{% if query_string %}?{{query_string}}{% endif %}">
                                dettaglio
                            </a>
                        </li>
                        <li {% if selected_section == 'spese' and selected_subsection == 'composizione' %}class="active"{% endif %}>
                            <a href="{{ menu_voices.spese.composizione }}{% if query_string %}?{{query_string}}{% endif %}">
                                composizione
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li {% ifequal selected_section 'indicatori' %}class="active"{% endifequal %}>
            <a href="{{ menu_voices.indicatori}}">indicatori</a>
        </li>
    </ul>
</nav>

<!-- mobile navbar -->
<div class="row visible-md visible-sm visible-xs hidden-lg affix-mob">
    <div class="col-sm-12">
        <ul class="nav nav-tabs nav-justified">
            <li class="text-center {% ifequal selected_section 'overview' %}active{% endifequal %}">
                <a href="{{ menu_voices.bilancio }}">
                    overview
                </a>
            </li>
            <li class="text-center {% ifequal selected_section 'entrate' %}active{% endifequal %}">
                <a href="{{ menu_voices.entrate.dettaglio }}{% if query_string %}?{{query_string}}{% endif %}">
                    entrate
                </a>
            </li>
            <li class="text-center {% ifequal selected_section 'spese' %}active{% endifequal %}">
                <a href="{{ menu_voices.spese.dettaglio }}{% if query_string %}?{{query_string}}{% endif %}">
                    spese
                </a>
            </li>
            <li class="text-center {% ifequal selected_section 'indicatori' %}active{% endifequal %}">
                <a href="{{ menu_voices.indicatori}}">indicatori</a>
            </li>
        </ul>
    </div>
    <br>
</div>