{%spaceless %}
<div>
    {#  display title text  #}
    <span class="selection">
        {{ bold_text|default_if_none:''|upper }} {{ selected_section|default_if_none:""|upper }} {{ main_bilancio_type|default_if_none:''|upper }} {{ main_bilancio_year|default_if_none:'' }}
            {{ secondary_bold_text|default_if_none:''|upper }}
    </span>

    {% if normal_text %}
        {{ normal_text|upper }}
    {% endif %}

    {% if comparison_bilancio_type and comparison_bilancio_year  %}
        A CONFRONTO CON IL {{ comparison_bilancio_type|upper }} {{ comparison_bilancio_year }}
    {% endif %}

</div>
{% endspaceless %}