<!-- AddThis Button BEGIN -->
<div class="pull-right">
    <a href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-5370d1fa1cb562ad"
       class="pull-right share addthis_button">
        Condividi {{ share_label|default_if_none:"il bilancio" }}
        <span class="icon sprite-share"></span>

    </a>
</div>

<script type="text/javascript">
    var addthis_config = {"data_track_addressbar":false   };
    var addthis_share =
    {
        "url":"{{ share_url|safe }}"
    }
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5370d1fa1cb562ad"></script>
<!-- AddThis Button END -->