{% load humanize %}
{% load voice_values %}

{% if correnti_value > 0 or investimenti_totali > 0 %}
    {% if correnti_perc <= 1 %}
        <!-- small values hack to avoid donut disappeareance -->
        <div class="chart pull-left" id="{{ hash }}" data-chart-value="0.01"></div>
    {% else %}
        <!-- standard donut -->
        <div class="chart pull-left" id="{{ hash }}" data-chart-value="{{ correnti_perc|floatformat:"2" }}"></div>
    {% endif %}
{% else %}
    <!-- no values, no donut -->
    <div class="chart pull-left" id="{{ hash }}" data-chart-value="0"></div>
{% endif %}

<div style="padding-top: 4px;">
    <p class="small">
        <strong>
            SPESE CORRENTI {{ correnti_value|floatformat:"0"|intword }} €<br/>
            <span class="investimenti">
                INVESTIMENTI {{ investimenti_value|floatformat:"0"|intword }} €
            </span>
        </strong>

    </p>
</div>
