{# yr selector desktop            #}
<div class="row hidden-md hidden-xs hidden-sm">
    <div class="col-md-12">
        <div class="row timeline">
            <div class="col-sm-12">
                <div class="year-selector"></div>
            </div>
        </div>
    </div>
</div>
{# yr selector mobile               #}
<div class="row visible-sm visible-xs hidden-md hidden-lg" style="padding-top: 10px; padding-bottom: 15px;">
    <div class="col-sm-4 col-xs-4">
        SELEZIONA L'ANNO{% if yr_selector_complete %} ED IL BILANCIO{% endif %}
    </div>
    <div class="col-sm-6 col-xs-6">
        <select class="year-selector-mobile">
        {% if yr_selector_complete %}
            {% for year in bilanci_allowed_years %}
                <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        {% else %}
            {% for year in classifiche_allowed_years %}
                <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        {% endif %}
        </select>

    {# tendina tipo bilancio          #}
    {% if yr_selector_complete %}
        <div class="col-sm-6 col-xs-6">
            <select class="bilancio-type-selector-mobile">
                <option value="preventivo" {% if selected_bilancio_type == "preventivo" %}selected{% endif %}>Preventivo</option>
                <option value="consuntivo" {% if selected_bilancio_type == "consuntivo" %}selected{% endif %}>Consuntivo</option>
            </select>
        </div>
    {% endif %}
    </div>
</div>