{%  extends "bilanci/bilancio_base.html" %}
{% load staticfiles %}
{% load section_title %}
{% load section_values_type %}
{% load popover_info %}
{% load chi_guadagna_perde %}

{% block page_title %}
    {{ selected_section|title }} del bilancio {{ selected_bilancio_type }} per il Comune di {{ territorio }}, anno {{ year }}
{% endblock %}


{% block bilanci_content %}

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in" id="composizione">
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12">
                    {% if tipo_bilancio == "consuntivo" %}
                        {% section_values_type cas_com_type=cas_com_type values_type=values_type tooltip=True %}
                    {% else %}
                        {% section_values_type values_type=values_type tooltip=True %}
                    {% endif %}
                    <h3 style="margin-top: 0; font-size: 18px;">
                        {% section_title bold_text="BILANCIO" main_bilancio_type=tipo_bilancio main_bilancio_year=selected_year comparison_bilancio_type=comparison_bilancio_type comparison_bilancio_year=comparison_bilancio_year %}
                    </h3>
                </div>
            </div>

            <div class="row" >
                <div class="col-md-12">
                Qual è la politica di chi amministra il Comune? Quali sono le sue priorità?<br/>
                Fai click sulla bolla per vedere la composizione delle {{ selected_section|title }} e come si distribuiscono
                <span style="font-weight: bold; color:#7d8e17">GLI AUMENTI</span> in alto
                e <span style="font-weight: bold; color:#9b2d1b">LE RIDUZIONI</span> in basso. {% popover_info 'widget-bilancio' %}
                </div>
            </div>
            {#            composition widget#}
            <div class="tab-content composition-widget-container">
                <iframe class="composition-widget" frameborder='0' style="width: 100%;height: 722px;"
                    src="{% url 'composition-widget' widget_type=selected_section territorio_slug=territorio.slug bilancio_year=selected_year bilancio_type=tipo_bilancio %}?values_type={{ values_type }}&cas_com_type={{ cas_com_type }}">

                </iframe>
            </div>
            <div id="balance" class="row">
                <div class="col-md-12">
                    <h3><strong>CHI GUADAGNA E CHI PERDE DI PIÙ NEL BILANCIO {{ tipo_bilancio|upper }} {{ selected_year }} </strong>
                        <br class="hidden-lg">&nbsp;A CONFRONTO CON IL {{ comparison_bilancio_type|upper }} {{ comparison_bilancio_year }}
                    </h3>
                    <div class="row">
                        <div class="col-sm-12"><h4>{{ selected_section|upper }}</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                {% chi_guadagna_perde voce_set=chiguadagnaperde type=selected_section territorio=territorio tipo_bilancio=tipo_bilancio selected_year=selected_year values_type=values_type cas_com_type=cas_com_type %}
                            </div>
                        </div>
                    </div>


                </div>
            </div> <!-- /#balance -->

        </div>

        <div class="tab-pane fade in " id="dettaglio">

            <div class="row">
                <div class="col-md-7 section_title" style="">
                    <h3>{% section_title bold_text="BILANCI" main_bilancio_type=bilancio_type_title %}</h3>
                </div>
                <div class="col-md-5 section_title" style="">
                    {% if tipo_bilancio == "consuntivo" %}
                        {% section_values_type cas_com_type=cas_com_type values_type=values_type tooltip=True per_capita=True%}
                    {% else %}
                        {% section_values_type values_type=values_type tooltip=True per_capita=True%}
                    {% endif %}
                </div>
            </div>


            {% include 'commons/_lines_chart_over_the_years.html' %}

            <hr class="no-border">

            {% block content_header %}

            {% endblock %}

            {% block totale_generale %}

            {% endblock %}


            {% block bilanci_accordion %}
                <!-- Default panel contents -->

                <div>ACCORDION HERE</div>
            {%  endblock bilanci_accordion %}
        </div>
    </div>
{% endblock %}

{% block extra_js_inner %}

   <script type="text/javascript">

    $(document).ready(function(){


        /**
        * set handlers for secondary trend charts (the ones in the accordion)
        **/
        $('#results').find('.chart-container').on('shown.bs.collapse', { timeline_start_year:{{ timeline_start_year }},timeline_end_year:{{ timeline_end_year }} }, init_secondary_linechart);

        $('a[data-toggle="tab"][href="#dettaglio"]').on("shown.bs.tab",function(){
            {# fixes graph size on tab switch   #}

            show_main_linechart({{ timeline_start_year }},{{ timeline_end_year }});

        });

        {# adds anchor #composizione / #dettaglio to page url   #}
        $('.nav-tabs a').on('click',function(){ window.location.hash = $(this).attr('href'); });

        if(location.hash == '#composizione' || location.hash == ""){
            //open composizione
            $('#partial-tabs a[href="#composizione"]').tab('show');
        }
        else{

            //open dettaglio
            $('#partial-tabs a[href="#dettaglio"]').tab('show');
            // initialize main_linechart
            show_main_linechart({{ timeline_start_year }},{{ timeline_end_year }});
            // enable nested accordion
            setupNestedAccordion();
            var lhash = location.hash
            var startElement = lhash.replace("spese-somma-funzioni","spese-correnti-funzioni");
            
            autoOpenNestedAccordion(startElement);
            goToIdByScroll(startElement.replace("#","#heading-"));
        }

    });


    function feed_main_linechart(){
        d3.json("{% url 'incarichi-voce-json' territorio_opid=territorio_opid voce_slug=bilancio_rootnode %}" +
                "?values_type={{ values_type }}",
                function (i) {
            linechart.data(i);
            linechart.year({{ selected_year }});
        });

    }

   function feed_secondary_linechart(voce_slug){
       {%  comment %}

         if voce_slug is from spese funzioni (preventivo / consuntivo) then the graph to be visualized
         is the graph relative to  spese somma funzioni.
         example: consuntivo-spese-impegni-spese-correnti-funzioni-amministrazione -> consuntivo-spese-impegni-spese-somma-funzioni-amministrazione

       {% endcomment %}

        if (window.location.search.indexOf("fun_int_view") == -1 ||
            window.location.search.indexOf("fun_int_view=funzioni") != -1) {
            if (voce_slug.indexOf("preventivo-spese-spese-correnti") == 0 ||
                    voce_slug.indexOf("consuntivo-spese-cassa-spese-correnti") == 0 ||
                    voce_slug.indexOf("consuntivo-spese-impegni-spese-correnti") == 0 ){

                    if(voce_slug == "preventivo-spese-spese-correnti" ||
                            voce_slug == "consuntivo-spese-cassa-spese-correnti" ||
                            voce_slug == "consuntivo-spese-impegni-spese-correnti" ){

                        voce_slug=voce_slug.replace("spese-correnti", "spese-somma-funzioni");
                    }
                    else{
                        voce_slug=voce_slug.replace("spese-correnti", "spese-somma");
                        }
            }
        }

        d3.json(
            "/incarichi_voce/{{ territorio.op_id }}/" + voce_slug +
                "?values_type={{ values_type }}",
            function (i) {
                secondary_linechart.data(i);
                secondary_linechart.resize();
                secondary_linechart.year({{ selected_year }});
            }
        );
    }


    </script>

{% endblock %}
