<ul class="nav nav-stacked menu">
    <li class="active">
        <span class="icon sprite-autonomia-finanziaria"></span> INDICATORI
        <div class="scrollbox">
            <ul class="nav nav-stacked" id="parameter_list_indicatori">
                {% for parameter in parameter_list %}
                    <li
                        {% if parameter.slug == selected_par_slug %}
                            class="active"
                        {% endif %}
                            >
                        <a
                                id="{{ parameter_list_type }}/{{ parameter.slug }}"

                        initialize the url for parameter list menu
                            href=""
                        >
                            <span class="icon sprite-info pull-right"></span> {{ parameter.denominazione }}
                        </a>
                    </li>

                {% endfor %}

            </ul>
        </div>
    </li>
</ul>