{%  extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load popover_info %}


{% block extra_css %}
    {#    <!-- visup css-->#}
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/visup-style.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {#    <!-- / visup css-->#}
{% endblock %}


{% block content %}

    {# header block with Comune name, inhabitants and share button    #}
    <div class="panel-heading">
        <div id="bilancio-header">

            <span class="pull-right">
                {% if csv_package_file %}
                <span style="text-transform: uppercase; font-size: 13px;">Scarica i dati</span> <a href="{{ open_data_url }}{{ csv_package_file.file_name }}" class="share" title="{{ csv_package_file.file_size|filesizeformat }}"><strong>CSV</strong> <span class="fa fa-download"></span></a>
                |
                {% endif %}


                <!-- AddThis Button BEGIN -->
                <a class="share addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-5370d1fa1cb562ad">
                    <strong>Condividi</strong> <span class="icon sprite-share"></span>
                </a>
                <script type="text/javascript">
                    var addthis_config = {"data_track_addressbar":false   };
                    var addthis_share =
                    {
                        "url":"{{ share_url|safe }}"
                    }
                </script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5370d1fa1cb562ad"></script>
                <!-- AddThis Button END -->



            </span>
            <h1 class="panel-title">{{territorio.denominazione}}</h1>
            <p class="details">
                <span class="location">
                    {{ territorio.prov|default:"" }},
                    {{ territorio.regione|default_if_none:""|title }}
                </span>
                <span class="year">
                    <span class="label label-warning">{{ selected_year }}</span>
                    {{ selected_bilancio_type }}
                </span>
                <span style="padding-left: 6px;" class="inhabitants">
                    {% if comune_context.bil_popolazione_residente %}
                        {{ comune_context.bil_popolazione_residente|intcomma }} abitanti
                    {% endif %}
                </span>
            </p>

            {% block bilanci_navigation_menu %}
                {% include 'bilanci/_navigation_menu.html' with active_voice=selected_section %}
            {% endblock %}

        </div>
    </div>
    
    <div class="panel-body">

        <h2 class="panel-title text-alt">{% block subtitle %}{{ selected_section }}{% endblock %}</h2>

        <hr class="no-border">

        {% if selected_section == 'bilancio' %}
            {#            sindaci timeline for bilancio overview #}
            <div class="row" xmlns="http://www.w3.org/1999/html">
                <div class="col-md-11 " style="margin-left: 30px; padding-right: 70px;">
                    {% include 'commons/_lines_chart_over_the_years.html' %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div id="content" class="col-sm-12">

                {# year selector widget #}
                {% block year_selector %}
                    <div class="row timeline">
                        <div class="col-sm-12">
                            <div class="year-selector"></div>
                        </div>
                    </div>
                {% endblock %}

            <div id="results" class="row">
                <div class="col-sm-12">
                    {% block bilanci_content %}

                    {% endblock %}
                </div>
            </div>
        </div>


        {#  here goes the Menu for bilanci-indicatori page       #}
        {% block bilancio_settings_menu %}
            <div id="side-controls">
                <a href="#" role="button" class="slider-arrow show" id="open-settings"><span class="icon sprite-open-menu"></span></a>
            </div>
            <div id="settings" class="closed">
                <form id="settings-list-form" method="get">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#" role="button" href="#" class="pull-right slider-arrow close" id="hide-settings"><span class="icon sprite-close-menu"></span></a>
                            <h3 class="panel-title">IMPOSTAZIONI</h3>
                            <input type="hidden" id="budget_year" name="year" value="{{ selected_year }}">
                            <input type="hidden" id="budget_type" name="type" value="{{ selected_bilancio_type }}">
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item label">MOSTRA PER</li>
                            <li class="list-group-item">
                                <div class="row">

                                    {# if bilancio_type is preventivo disables cassa/competenza selection menu    #}
                                    {% if selected_bilancio_type == "preventivo" %}

                                        <div class="col-md-6">
                                            <input type="radio" value="cassa" id="cas_com_type_cassa" name="cas_com_type" disabled />
                                            <label for="cas_com_type_cassa" style="color:#d3d3d3">Cassa {% popover_info 'cassa' %}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="radio" value="competenza" id="cas_com_type_competenza" name="cas_com_type" disabled />
                                            <label for="cas_com_type_competenza" style="color:#d3d3d3">Competenza {% popover_info 'competenza' %}</label>
                                        </div>

                                        {% else %}

                                            <div class="col-md-6">
                                                <input type="radio" value="cassa"
                                                       {% if cas_com_type == "cassa" %}checked="checked"{% endif %}
                                                       id="cas_com_type_cassa" name="cas_com_type">
                                                <label for="cas_com_type_cassa" >Cassa {% popover_info 'cassa' %}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="radio" value="competenza"
                                                       {% if cas_com_type == "competenza" %}checked="checked"{% endif %}
                                                       id="cas_com_type_competenza" name="cas_com_type">
                                                <label for="cas_com_type_competenza">Competenza {% popover_info 'compentenza' %}</label>
                                            </div>

                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item label">VALORI</li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="radio" value="real"
                                               {% if values_type == "real" %}checked="checked"{% endif %}
                                               id="values_type_real" name="values_type">
                                        <label for="values_type_real">Reali {% popover_info 'valore-reale' %}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" value="nominal"
                                               {% if values_type == "nominal" %}checked="checked"{% endif %}
                                               id="values_type_nominal" name="values_type">
                                        <label for="values_type_nominal">Nominali {% popover_info 'valore-nominale' %}</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="panel-footer text-center">
                            <input type="submit" class="btn btn-default" value="Aggiorna">
                        </div>

                    </div>
                </form>
            </div>
        {% endblock %}

        {% block bilancio_indicatori_selection_menu %}{% endblock %}
        </div>

        {#  here goes the handle for Menu for bilanci-indicatori page       #}
        {% block bilancio_indicatori_selection_toggle_menu %}{% endblock %}



    </div>

{% endblock %}

{% block extra_js %}

    <!-- visup base and yr selector -->
    <script src="{% static 'scripts/visup/all.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/yr_selector_utils.js' %}" type="text/javascript"></script>
   <!-- visup linechart -->
   <script src="{% static 'scripts/linechart_utils.js' %}" type="text/javascript"></script>

    <script>
        $(document).ready(function(){
            var $this = $('#bilancio-header');
            // fix container height
            $this.css('width', $this.width());
            $this.parent().css('min-height', $this.height());
            // set affix dynamic offset
            $this.affix({
                  offset: {
                    top: $this.offset().top
                  }
            });
            $( window ).resize(function() {
              $this.css('width', $this.parent().width());
                $this.parent().css('min-height', $this.height());
            });
        });
    </script>

    {% block extra_js_inner %}
        {# block for extra js activity needed for children templates   #}
    {% endblock %}

{% endblock %}