{%  extends "base.html" %}
{% load bilanci_print %}
{% load humanize %}

{% block page_title %}
    Bilancio {{ tipo_bilancio }} per il Comune di {{ territorio }}, anno: {{ year }}
{% endblock %}



{% block content %}

    {% block city_and_name_data %}
        <div class="panel-heading">
            <a href="" class="pull-right share">Condividi <span class="glyphicon glyphicon-share"></span></a>
            <h1 class="panel-title">{{territorio.denominazione}}</h1>
            <p class="details">
                <span class="location">{{ territorio.prov }}, {{ territorio.regione|lower }} </span>
                <span class="category"><span class="glyphicon glyphicon-record"></span>
                    {{ territorio.get_cluster_display }}, {{ territorio.abitanti|intcomma }} abitanti</span>
            </p>
        </div>
    {% endblock %}

    <div class="row">
        {% bilanci_print bilanci year "preventivo" %}
    </div>

{% endblock %}