{% extends "bilanci/bilancio_partial.html" %}
{% load humanize %}
{% load section_title %}
{% load section_values_type %}

{% block content_header %}

    <div class="row">
        <div class="col-md-5 section_title" >
            {% section_title bold_text="DETTAGLIO SPESE" main_bilancio_type=tipo_bilancio main_bilancio_year=year  %}
        </div>
        <div class="col-md-4 section_title" >
            {% section_values_type cas_com_type=cas_com_type values_type=values_type tooltip=True per_capita=True %}
        </div>

        {#        switch funzioni interventi #}
        <div class="col-md-3 section_title" >

            <a href="{{ fun_int_switch.url }}" class="btn btn-sm btn-default fun-int pull-right">mostra {{ fun_int_switch.label }}</a>

        </div>
    </div>
{% endblock %}


{% block bilanci_accordion %}

    {% if fun_int_current_view == 'interventi' %}
        {% include 'bilanci/_accordion_spese_interventi.html' %}
    {% else %}
        {% include 'bilanci/_accordion_spese_funzioni.html' %}
    {% endif %}
{%  endblock bilanci_accordion %}
