{%  extends "bilanci/bilancio_base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load bilancio_indicatori_parameter_list %}
{% load section_title %}

{% block page_title %}
    Indicatori del bilancio {{ tipo_bilancio }} per il Comune di {{ territorio }}
{% endblock %}

{% block year_selector %}{% endblock %}

{% block bilancio_description %}

    <div class="col-md-3">
        <div class="btn-group ">
            <button id="indicatori-button" type="button" class="btn btn-ob dropdown-toggle" data-toggle="dropdown">
                <span class="pull-left">SCEGLI UNO O PI&Ugrave; INDICATORI</span><span class="fa fa-caret-down pull-right"></span>
            </button>
            {% bilancio_indicatori_parameter_list indicator_list territorio_slug selected_indicators%}
        </div>
    </div>

{% endblock %}

{% block bilanci_content %}

    <div class="tab-pane fade in" id="dettaglio">
        <h3>{% section_title bold_text="ANDAMENTO NEL TEMPO"   %}</h3>

        <div id="indicatori-selezionati">
            {% include 'commons/_lines_chart_over_the_years.html' %}
        </div>
    </div>

    {% if not request.servizi_comuni %}
        <div class="row" id="results">
            <div class="col-md-6">
                {% include 'bilanci/_miniclassifiche.html' %}
            </div>
        </div>
        {% else %}
        <div class="row" style="min-height: 100px;">
            <div class="col-md-12">

            </div>
        </div>

    {% endif %}


{% endblock %}


{% block extra_js_inner %}


    <script type="text/javascript">

        $(document).ready(function(){
            //init linechart settings % as measure unit
            init_main_linechart({{ timeline_start_year }},{{ timeline_end_year }},'%','%');
            feed_main_linechart();
        });

        function feed_main_linechart(){
            d3.json("{% url 'incarichi-indicatori-json' territorio_opid=territorio_opid %}{{ selected_indicators_qstring|safe }}",
                    function (i) {
                linechart.data(i);
            });

        }

    </script>

{% endblock %}
