{%  extends "bilanci/bilancio_base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load bilancio_indicatori_parameter_list %}

{% block page_title %}
    Indicatori del bilancio {{ tipo_bilancio }} per il Comune di {{ territorio }}, anno: {{ year }}
{% endblock %}

{% block year_selector %}{% endblock %}

{% block bilancio_indicatori_parameter_menu %}

    {% bilancio_indicatori_parameter_list indicator_list territorio_slug selected_indicators%}

{% endblock %}

{% block bilancio_indicatori_toggle_menu %}
    {# indicatori handle is hidden on pageload   #}
    <div id="side-controls" style="display: block; left: -50px; top: 343px;">
        <a href="#" role="button" class="slider-arrow show" id="push-menu"><span class="icon sprite-open-menu"></span></a>
    </div>
{% endblock %}


{% block bilanci_content %}
    <div class="tab-pane fade in" id="dettaglio">

        <div id="indicatori-selezionati">
            {% include 'commons/_lines_chart_over_the_years.html' %}
        </div>

    </div>

{% endblock %}


{% block extra_js_inner %}

    <script src="{% static 'scripts/side_menu_utils.js' %}" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function(){
            //init linechart settings % as measure unit
            init_main_linechart({{ timeline_start_year }},{{ timeline_end_year }},'%','%');
            feed_main_linechart();
        });

        function feed_main_linechart(){
            d3.json("{% url 'incarichi-indicatori-json' territorio_opid=territorio_opid %}{{ selected_indicators_qstring|safe }}",
                    function (i) {
                linechart.data(i)
            });

        }

    </script>

{% endblock %}
