{%  extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load popover_info %}


{% block extra_css %}
    {#    <!-- visup css-->#}
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/visup-style.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {#    <!-- / visup css-->#}
{% endblock %}


{% block content %}

    {# header block with Comune name, inhabitants and share button    #}
    <div class="panel-heading">
        <div id="bilancio-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right download-box">
                        {% if csv_package_file %}
                            <a href="{{ open_data_url }}{{ csv_package_file.file_name }}" title="{{ csv_package_file.file_size|filesizeformat }}"
                               class="pull-right csv">scarica i dati csv <span class="icon sprite-csv"></span></a>
                        {% endif %}
                    </div>

                    <h1 class="panel-title" style="text-transform: uppercase;">{{territorio.denominazione}}</h1>
                    <p class="details">
                        <span class="location">
                            {% if comune_context.bil_popolazione_residente %}
                                {{ comune_context.bil_popolazione_residente|intcomma }} abitanti
                            {% endif %}
                        </span>

                        {#   affix menu#}
                        {% if selected_year %}
                            <span class="year">
                                <span class="label label-warning">{{ selected_year }}</span>
                                {{ selected_bilancio_type }}
                            </span>
                        {% endif %}

                        <span style="padding-left: 6px;" class="inhabitants">
                            {{ territorio.prov|default:"" }},
                            {{ territorio.regione|default_if_none:""|title }}
                        </span>
                    </p>
                </div>
            </div>

            {#  navbar #}

            {% block bilanci_navigation_menu %}
                {% include 'bilanci/_navigation_menu.html' with selected_section=selected_section %}
            {% endblock %}
        </div>


        {# breadcrumbs   #}
        <div class="row">
            <div class="col-md-12">
                <div class="bread">
                    <p>Sei in:</p>
                    <ol class="breadcrumb">
                        {% if selected_section == 'indicatori' %}
                            <li>{{ selected_section }}</li>
                        {% elif selected_section == 'bilancio' %}
                            <li>Bilancio › Overview </li>
                        {% else %}
                            <li>Bilancio › {{ selected_section }} › {{ selected_subsection }}</li>
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
        {# /breadcrumbs   #}


        {# page subtitle: bilancio / entrate /spese/ indicatori  #}
        <div class="row page-subtitle">
            <div class="col-md-8">
                <h2 class="panel-title text-alt" style="text-transform: capitalize;">{% block subtitle %}{{ selected_section }}{% endblock %}</h2>
            </div>
            <div class="col-md-4 share-box">
                <!-- AddThis Button BEGIN -->
                <div class="pull-right">
                    <a href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-5370d1fa1cb562ad"
                       class="pull-right share addthis_button">
                        Condividi il bilancio
                        <span class="icon sprite-share"></span>

                    </a>
                </div>

                <script type="text/javascript">
                    var addthis_config = {"data_track_addressbar":false   };
                    var addthis_share =
                    {
                        "url":"{{ share_url|safe }}"
                    }
                </script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5370d1fa1cb562ad"></script>
                <!-- AddThis Button END -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="gray-border-top">
            </div>
        </div>
        {# year selector widget #}
        <div class="row">
            <div class="col-md-12">
                {% block year_selector %}
                    <div class="row timeline">
                        <div class="col-sm-12">
                            <div class="year-selector"></div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <hr class="gray-border-top">
            </div>
        </div>

        {# control row for bilancio: description "Consuntivo 2012 dettaglio" , values_type and control button #}
        <div class="row">
             {#    description #}
            <div class="col-md-7 gTitle">
                {% block bilancio_description %}

                {% endblock %}
            </div>
            {# values types + control button "CAMBIA"  #}
            <div class="col-md-5">
                {% block bilancio_controls %}

                {% endblock %}

            </div>
        </div>
        {#  /control row          #}

        <div class="row">
            <div class="col-md-12">
                <hr class="gray-border-bot">
            </div>
        </div>
        {#   / bilancio info data           #}
    </div>
    
    <div class="panel-body">

{#        <hr class="no-border">#}
        <div class="row">
            <div id="content" class="col-sm-12">

                {% block bilanci_content %}

                {% endblock %}

            </div>

            {% block bilancio_indicatori_selection_menu %}{% endblock %}
        </div>

        {#  here goes the handle for Menu for bilanci-indicatori page       #}
        {% block bilancio_indicatori_selection_toggle_menu %}{% endblock %}


    </div>

{% endblock %}

{% block extra_js %}

    <!-- visup base and yr selector -->
    <script src="{% static 'scripts/visup/all.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/yr_selector_utils.js' %}" type="text/javascript"></script>
   <!-- visup linechart -->
   <script src="{% static 'scripts/linechart_utils.js' %}" type="text/javascript"></script>

    <script>
        $(document).ready(function(){
            var $this = $('#bilancio-header');
            // fix container height
            $this.css('width', $this.width());
            $this.parent().css('min-height', $this.height());
            // set affix dynamic offset
            $this.affix({
                  offset: {
                    top: $this.offset().top
                  }
            });
            $( window ).resize(function() {
              $this.css('width', $this.parent().width());
                $this.parent().css('min-height', $this.height());
            });
        });
    </script>

    {% block extra_js_inner %}
        {# block for extra js activity needed for children templates   #}
    {% endblock %}

{% endblock %}