{%  extends "bilanci/bilancio_overview.html" %}
{% load staticfiles %}
{% load section_title %}
{% load section_values_type %}
{% load voice_values %}
{% load popover_info %}

{% block bilancio_description %}

    <div class="col-md-3 col-sm-12 col-xs-12 gTitle">
        {#    description #}
        {% if main_bilancio_available %}
            {% section_title bold_text="DETTAGLIO" main_bilancio_type=tipo_bilancio main_bilancio_year=selected_year  %}
        {% else %}
            {% section_title bold_text="BILANCIO" main_bilancio_type=tipo_bilancio main_bilancio_year=selected_year %}
        {% endif %}
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 ">
        {# selettore funzioni / interventi    #}
        {% if selected_section == 'spese' %}
            <span class="fun-int">
                <a href="{% if fun_int_current_view != 'funzioni' %}{{ fun_int_switch.url }}{% else %}#{% endif %}">
                    <span class="label label-blu {% if fun_int_current_view == 'funzioni' %}active{% endif %}">Vista per Funzioni</span>
                </a>
                <a href="{% if fun_int_current_view != 'interventi' %}{{ fun_int_switch.url }}{% else %}#{% endif %}">
                    <span class="label label-blu {% if fun_int_current_view == 'interventi' %}active{% endif %}">Vista per Interventi</span>
                </a>
            </span>
        {% endif %}
    </div>

{% endblock %}


{% block bilanci_content %}

    {% if main_bilancio_available %}
        {#  totale generale   #}
        <div class="panel-group panel-tree totale-generale">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">

                        {% if selected_section == 'spese' and fun_int_current_view == 'funzioni' %}

                            <div class="col-md-4 col-sm-12 col-xs-12  entry" id="consuntivo-entrate-cassa">
                                <h2>TOTALE {{ selected_section|upper }}</h2>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-6 actions col-sm-offset-1 ">
                                {% voice_values bilancio_rootnode.slug budget_values %}
                            </div>

                            <div class="col-sm-2 col-sm-offset-3 ">
                                {% include 'bilanci/_graph_button.html' with node=bilancio_rootnode %}
                            </div>


                        {% else %}

                            <div class="col-md-6 col-sm-12 col-xs-12 entry" id="consuntivo-entrate-cassa">
                                <h2>TOTALE {{ selected_section|upper }}</h2>
                            </div>

                            <div class="col-sm-3 actions col-sm-offset-1">
                                {% voice_values bilancio_rootnode.slug budget_values %}
                            </div>

                            <div class="col-sm-2 ">
                                {% include 'bilanci/_graph_button.html' with node=bilancio_rootnode %}
                            </div>


                        {% endif %}

                    </div>

                    {# trend chart container               #}
                    <div id="trend-chart-container-{{ bilancio_rootnode.pk }}" class="collapse chart-container">
                        <div class="row details section_title">
                            {#  secondary graph title #}
                            <div class="col-md-8 " style="">
                                {% section_title bold_text="BILANCI" main_bilancio_type=bilancio_type_title main_bilancio_year=year  %}
                            </div>
                            <div class="col-md-4 " style="">
                                <div class="cas_com_box pull-right">
                                    {% section_values_type cas_com_type=cas_com_type tooltip=True per_capita=True %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {#  secondary graph  #}
                            <div class="col-md-12 graph-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#    accordion #}

        {%  if selected_section == 'entrate' %}

            {% include 'bilanci/_accordion_entrate.html' %}

        {% else %}

            {% if fun_int_current_view == 'interventi' %}
                {% include 'bilanci/_accordion_spese_interventi.html' %}
            {% else %}
                {% include 'bilanci/_accordion_spese_funzioni.html' %}
            {% endif %}

        {% endif %}
    {% else %}
        {% include 'bilanci/_bilancio_not_available.html' %}
    {% endif %}


{% endblock %}

{% block extra_js_dettaglio %}


    <!-- Raphael -->
    <script src="{% static 'scripts/vendor/raphael/raphael.js' %}"></script>
    <script src="{% static 'scripts/vendor/g.raphael/g.raphael.js' %}"></script>
    <script src="{% static 'scripts/vendor/g.raphael/g.pie.js' %}"></script>

    <script type="text/javascript">

       function feed_secondary_linechart(voce_slug){
           {%  comment %}

             if voce_slug is from spese funzioni (preventivo / consuntivo) then the graph to be visualized
             is the graph relative to  spese somma funzioni.
             example: consuntivo-spese-impegni-spese-correnti-funzioni-amministrazione -> consuntivo-spese-impegni-spese-somma-funzioni-amministrazione

           {% endcomment %}

            if (window.location.search.indexOf("fun_int_view") == -1 ||
                window.location.search.indexOf("fun_int_view=funzioni") != -1) {
                if (voce_slug.indexOf("preventivo-spese-spese-correnti") == 0 ||
                        voce_slug.indexOf("consuntivo-spese-cassa-spese-correnti") == 0 ||
                        voce_slug.indexOf("consuntivo-spese-impegni-spese-correnti") == 0 ){

                        if(voce_slug == "preventivo-spese-spese-correnti" ||
                                voce_slug == "consuntivo-spese-cassa-spese-correnti" ||
                                voce_slug == "consuntivo-spese-impegni-spese-correnti" ){

                            voce_slug=voce_slug.replace("spese-correnti", "spese-somma-funzioni");
                        }
                        else{
                            voce_slug=voce_slug.replace("spese-correnti", "spese-somma");
                            }
                }
            }

            d3.json(
                "/incarichi_voce/{{ territorio.op_id }}/" + voce_slug +
                    "?values_type={{ values_type }}",
                function (i) {
                    secondary_linechart.data(i);
                    secondary_linechart.resize();
                    secondary_linechart.year({{ selected_year }});
                }
            );
        }

       {# prevents the browser to add a #slug-voce to the window.location      #}
       function avoidAnchorBehaviour(event){
           event.preventDefault();
       }

       $(document).ready(function(){

            /**
            * set handlers for secondary trend charts (the ones in the accordion)
            **/
            $('#content').find('.chart-container').on('shown.bs.collapse',
                                                      { timeline_start_year:{{ timeline_start_year }},timeline_end_year:{{ timeline_end_year }} }, init_secondary_linechart);

            $('#content').find('.chart-container').on('hidden.bs.collapse', close_secondary_linechart);

            $('#content').find('.trend-chart-toggle').on('click', avoidAnchorBehaviour);

            var lhash = location.hash;

            // if a voce slug is in the hash then scroll to that voce in the accordion
            if(lhash != ''){
                var startElement = lhash.replace("spese-somma-funzioni","spese-correnti-funzioni");
                var targetElement =startElement.replace("#","#heading-");

                autoOpenNestedAccordion(targetElement);
                goToIdByScroll(targetElement);
            }


        });

    </script>

{% endblock %}