{%  extends "bilanci/bilancio_base.html" %}
{% load staticfiles %}
{% load section_title %}
{% load section_values_type %}

{% block page_title %}
    {{ selected_section|title }} del bilancio {{ selected_bilancio_type }} per il Comune di {{ territorio }}, anno {{ year }}
{% endblock %}


{% block bilanci_content %}
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs nav-justified">
        {% comment %}
        <li ><a href="#composizione" data-toggle="tab">COMPOSIZIONE DELLE {{ selected_section|upper }}</a></li>
        {% endcomment %}
        <li class="active"><a href="#dettaglio" data-toggle="tab">ANDAMENTO NEL TEMPO E DETTAGLIO</a></li>
    </ul>

    <hr class="no-border">

    <!-- Tab panes -->
    <div class="tab-content">
        {% comment %}
        <div class="tab-pane fade in" id="composizione">
            composition widget
        </div>
        {% endcomment %}

        <div class="tab-pane fade in active" id="dettaglio">

            <div class="row">
                <div class="col-md-7 section_title" style="">
                    {% section_title bold_text="BILANCI" main_bilancio_type=bilancio_type_title %}
                </div>
                <div class="col-md-5 section_title" style="">
                    {% if tipo_bilancio == "consuntivo" %}
                        {% section_values_type cas_com_type=cas_com_type values_type=values_type tooltip=True per_capita=True%}
                    {% else %}
                        {% section_values_type values_type=values_type tooltip=True per_capita=True%}
                    {% endif %}
                </div>
            </div>


            {% include 'commons/_lines_chart_over_the_years.html' %}

            <hr class="no-border">

            {% block content_header %}

            {% endblock %}


            {% block bilanci_accordion %}
                <!-- Default panel contents -->

                <div>ACCORDION HERE</div>
            {%  endblock bilanci_accordion %}
        </div>
    </div>
{% endblock %}

{% block extra_js_inner %}

    <!-- Raphael -->
    <script src="{% static 'scripts/vendor/raphael/raphael.js' %}"></script>
    <script src="{% static 'scripts/vendor/g.raphael/g.raphael.js' %}"></script>
    <script src="{% static 'scripts/vendor/g.raphael/g.pie.js' %}"></script>


   <script type="text/javascript">

    $(document).ready(function(){

        /*
        * initialize year selectors
        * */
        var selector_init_obj ={
            'selector_default_year':{{ selector_default_year }},
            'selected_year':{{ selected_year }},
            'visible_buttons': true,
            'selected_bilancio_type': '{{ selected_bilancio_type }}',
            'start_year': {{ timeline_start_year }},
            'end_year': {{ timeline_end_year }},
            'reference_url': ''
        };

        {% if selected_section == 'entrate' %}
            selector_init_obj['reference_url']="{% url 'bilanci-entrate' slug=territorio.slug %}?year={{ selected_year }}&type={{ selected_bilancio_type }}";
        {% else %}
            selector_init_obj['reference_url']="{% url 'bilanci-spese' slug=territorio.slug %}?year={{ selected_year }}&type={{ selected_bilancio_type }}";
        {% endif %}

        init_selector(selector_init_obj);

        /**
        * set handlers for secondary trend charts (the ones in the accordion)
        **/
        $('#results').find('.chart-container').on('shown.bs.collapse', { timeline_start_year:{{ timeline_start_year }},timeline_end_year:{{ timeline_end_year }} }, init_secondary_linechart);
        init_main_linechart({{ timeline_start_year }},{{ timeline_end_year }},"EURO","EURO");
        feed_main_linechart();


    });


    function feed_main_linechart(){
        d3.json("{% url 'incarichi-voce-json' territorio_opid=territorio_opid voce_slug=bilancio_rootnode %}" +
                "?values_type={{ values_type }}",
                function (i) {
            linechart.data(i);
            linechart.year({{ selected_year }});
        });

    }

   function feed_secondary_linechart(voce_slug){
       {%  comment %}

         if voce_slug is from spese funzioni (preventivo / consuntivo) then the graph to be visualized
         is the graph relative to  spese somma funzioni.
         example: consuntivo-spese-impegni-spese-correnti-funzioni-amministrazione -> consuntivo-spese-impegni-spese-somma-funzioni-amministrazione

       {% endcomment %}

        if (window.location.source.indexOf("fun_int_view=funzioni") != -1) {
            if (voce_slug.indexOf("preventivo-spese-spese-correnti") == 0 ||
                    voce_slug.indexOf("consuntivo-spese-cassa-spese-correnti") == 0 ||
                    voce_slug.indexOf("consuntivo-spese-impegni-spese-correnti") == 0 ){

                    if(voce_slug == "preventivo-spese-spese-correnti" ||
                            voce_slug == "consuntivo-spese-cassa-spese-correnti" ||
                            voce_slug == "consuntivo-spese-impegni-spese-correnti" ){

                        voce_slug=voce_slug.replace("spese-correnti", "spese-somma-funzioni");
                    }
                    else{
                        voce_slug=voce_slug.replace("spese-correnti", "spese-somma");
                        }
            }
        }

        d3.json(
            "/incarichi_voce/{{ territorio.op_id }}/" + voce_slug +
                "?values_type={{ values_type }}",
            function (i) {
                secondary_linechart.data(i);
                secondary_linechart.resize();
                secondary_linechart.year({{ selected_year }});
            }
        );
    }


    </script>

{% endblock %}
