{%  extends "bilanci/bilancio_base.html" %}
{% load staticfiles %}

{% block page_title %}
    Bilancio {{ tipo_bilancio }} per il Comune di {{ territorio }}, anno: {{ year }}
{% endblock %}


{% block bilanci_content %}

    <div class="tab-content">

        composition widget

    </div>

{% endblock %}

{% block extra_js_inner %}


    <!-- Initialization for year/budget type selector and linecharts -->
    <script type="text/javascript">
        $(document).ready(function(){

            /*
            * initialize year selectors
            * */

            var selector_init_obj ={
                'selector_default_year':{{ selector_default_year }},
                'selected_year':{{ selected_year }},
                'visible_buttons': false,
                'selected_bilancio_type': null,
                'start_year': {{ timeline_start_year }},
                'end_year': {{ timeline_end_year }},
                'reference_url': "{% url "bilanci-overview" slug=territorio.slug %}?year={{ selected_year }}&type={{ selected_bilancio_type }}"
            };


            init_selector(selector_init_obj);

            init_main_linechart({{ timeline_start_year }},{{ timeline_end_year }});
            feed_main_linechart();

            });

        function feed_main_linechart(){

            d3.json("{% url 'incarichi-voci-json' territorio_opid=territorio_opid voce_slug='preventivo' %}",
                    function (i) {
                linechart.data(i)
            });

        }
    </script>

{% endblock %}

