{% load tooltip %}
<aside id="sidebar" class="hidden">
    <form id="parameter-list-form"  method="get" >
        <div class="panel panel-default">
            <div class="panel-body">

                <a role="button" href="#" class="active pull-right" id="hide-menu"><span class="icon sprite-toggle-menu"></span></a>
                <h3 class="menu-title">
                    Seleziona un indicatore
                </h3>

                <div class="scrollbox">
                    <ul class="nav nav-stacked menu">
                        <li>
                            <a href="#" class="pin pull-right hidden" data-toggle="tooltip" title="presenti voci selezionate"><span class="icon sprite-alert"></span></a>
{#                            <a href="#" class="panel-collapse "><span class="icon sprite-autonomia-finanziaria"></span> AUTONOMIA FINANZIARIA</a>#}

                            <ul class="nav nav-stacked ">
                                {% for parameter in parameter_list %}
                                <li>
                                    {% tooltip link="#" text="vai alla classifica di tutti i comuni per questo indicatore.<br><strong class='link'><span class='icon sprite-search-alt'></span> Lorem ipsum</strong>" %}
                                    <input type="checkbox" value="{{ parameter.slug }}" name="slug" id="{{ parameter.slug }}"
                                            {% if parameter.slug in selected_parameters %}
                                                checked="checked"
                                            {% endif %}
                                            >
                                    <label for="{{ parameter.slug }}">
                                        {{ parameter.denominazione }}
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>

                        </li>
                        <li style="border:0; margin-top: 20px;">
                            <input type="submit" class="btn btn-default" value="Aggiorna">
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </form>
    </aside><!-- /#sidebar -->