{% extends "bilanci/bilancio_partial.html" %}
{% load humanize %}
{% load section_title %}
{% load section_values_type %}
{% load voice_values %}

{% block content_header %}
    <div class="row">
        <div class="col-md-8 section_title" style="">
            <h3>{% section_title bold_text="DETTAGLIO ENTRATE" main_bilancio_type=tipo_bilancio main_bilancio_year=year  %}</h3>
        </div>
        <div class="col-md-4 section_title" style="">
            {% section_values_type cas_com_type=cas_com_type values_type=values_type tooltip=True per_capita=True %}
        </div>
    </div>
{% endblock %}

{% block totale_generale %}

    <div class="panel-group panel-tree totale-generale">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6 entry">
                        <span style="text-transform: uppercase">TOTALE {{ selected_section|upper }}</span>
                    </div>

                    <div class="col-sm-3 actions">
                        {% voice_values bilancio_rootnode.slug budget_values %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bilanci_accordion %}
    {% include 'bilanci/_accordion_entrate.html' %}
{%  endblock bilanci_accordion %}


