{%  extends "bilanci/bilancio_base.html" %}
{% load staticfiles %}
{% load section_title %}
{% load section_values_type %}
{% load chi_guadagna_perde %}
{% load popover_info %}

{% block page_title %}
    {% if selected_section == 'overview' %}
        Overview
    {% else %}
        {{ selected_section }} - {{ selected_subsection }}
    {% endif %}
    per il bilancio {{ tipo_bilancio }} per il Comune di {{ territorio }}, anno {{ selected_year }}
{% endblock %}

{% block bilancio_description %}

    {% if main_bilancio_available %}
        <div class="col-md-7 gTitle">
            {#    description #}
            {% section_title bold_text="COMPOSIZIONE" main_bilancio_type=tipo_bilancio main_bilancio_year=selected_year comparison_bilancio_type=comparison_bilancio_type comparison_bilancio_year=comparison_bilancio_year %}
        </div>
    {% endif %}

{% endblock %}

{% block bilancio_controls %}

    {% if main_bilancio_available %}
        <div class="cas_com_box pull-right">

            {# values type    #}
            {% if tipo_bilancio == "consuntivo" %}
                {% section_values_type cas_com_type=cas_com_type values_type=values_type tooltip=True %}
            {% else %}
                {% section_values_type values_type=values_type tooltip=True %}
            {% endif %}

            {#   settings menu  #}
            <div class="btn-group nolenght">
                    <button id="open-settings" type="button" class="btn btn-ob nolenght change dropdown-toggle" data-toggle="dropdown">
                    <span class="pull-left">CAMBIA</span><span class="fa fa-caret-down pull-right"></span><span class="fa fa-gear pull-right"></span>
                    </button>
             </div>
            <div id="settings" class="closed">
                <form id="settings-list-form" method="get">
                    {#  hidden inputs     #}
                    <input type="hidden" id="budget_year" name="year" value="{{ selected_year }}">
                    <input type="hidden" id="budget_type" name="type" value="{{ selected_bilancio_type }}">

                    <div class="panel panel-default ">
                        <ul class="list-group">
                            <li class="list-group-item label">Mostra per</li>
                            <li class="list-group-item">
                                <div class="row">

                                {# if bilancio_type is preventivo: cassa/competenza selection menu is disabled #}
                                    <div class="col-md-5">
                                        <input type="radio" value="cassa"
                                            id="cas_com_type_cassa" name="cas_com_type"

                                            {% if selected_bilancio_type == "preventivo" %}disabled
                                            {% else %}
                                                {% if cas_com_type == "cassa" %}checked="checked"{% endif %}
                                            {% endif %}
                                                />
                                        <label for="cas_com_type_cassa"
                                            {% if selected_bilancio_type == "preventivo" %}style="color:#d3d3d3"{% endif %}>
                                            Cassa {% popover_info 'cassa' %}
                                        </label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="radio" value="competenza"
                                               id="cas_com_type_competenza" name="cas_com_type"

                                               {% if selected_bilancio_type == "preventivo" %}disabled
                                               {% else %}
                                                   {% if cas_com_type == "competenza" %}checked="checked"{% endif %}
                                               {% endif %}
                                                />
                                        <label for="cas_com_type_competenza"
                                            {% if selected_bilancio_type == "preventivo" %}style="color:#d3d3d3"{% endif %}>
                                            Competenza {% popover_info 'competenza' %}
                                        </label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item label">Valori</li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="radio" value="real"
                                                   {% if values_type == "real" %}checked="checked"{% endif %}
                                                   id="values_type_real" name="values_type">
                                        <label for="values_type_real">Reali {% popover_info 'valore-reale' %}</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="radio" value="nominal"
                                                   {% if values_type == "nominal" %}checked="checked"{% endif %}
                                                   id="values_type_nominal" name="values_type">
                                        <label for="values_type_nominal">Nominali {% popover_info 'valore-nominale' %}</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item text-center">
                                <input type="submit" class="btn btn-blu" value="Aggiorna">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            {#  / settings menu  #}

        </div>

    {% endif %}


{% endblock %}



{% block bilanci_content %}

    {% if main_bilancio_available %}

        <div class="row" >
            <div class="col-md-12">
               Qual è la politica di chi amministra il Comune? Quali sono le sue priorità?<br/>
                Fai click sulla bolla per vedere la composizione delle Entrate e delle Spese e come si distribuiscono
                <span style="font-weight: bold; color:#7d8e17">GLI AUMENTI</span> in alto
                e <span style="font-weight: bold; color:#9b2d1b">LE RIDUZIONI</span> in basso. {% popover_info 'widget-bilancio' %}
            </div>
        </div>


        <div class="tab-content composition-widget-container">
            <iframe class="composition-widget" frameborder='0'
                    src="{% url 'composition-widget' widget_type='overview' territorio_slug=territorio.slug bilancio_year=selected_year bilancio_type=tipo_bilancio %}?values_type={{ values_type }}&cas_com_type={{ cas_com_type }}"></iframe>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="gray-border-top">
            </div>
        </div>
        <div id="balance" class="row">
            <div class="col-md-12">
                <span class="selection">CHI GUADAGNA E CHI PERDE DI PIÙ NEL BILANCIO {{ tipo_bilancio|upper }} {{ selected_year }}</span> A CONFRONTO CON IL {{ comparison_bilancio_type|upper }} {{ comparison_bilancio_year }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="gray-border-bot">
            </div>
        </div>
        <div id='balance' class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6"><h4>ENTRATE</h4></div>
                    <div class="col-sm-6"><h4>SPESE</h4></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            {% chi_guadagna_perde voce_set=entrate_chiguadagnaperde link=chiguadagnaperde_entrate_link tipo_bilancio=tipo_bilancio selected_year=selected_year values_type=values_type cas_com_type=cas_com_type %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            {% chi_guadagna_perde voce_set=spese_chiguadagnaperde link=chiguadagnaperde_spese_link tipo_bilancio=tipo_bilancio selected_year=selected_year values_type=values_type cas_com_type=cas_com_type %}
                        </div>
                    </div>
                </div>


            </div>
        </div> <!-- /#balance -->

    {% else %}
        {% if main_bilancio_is_recent %}
            il bilancio selezionato non &egrave; stato fornito dal Comune al sito di finanza locale
        {% else %}
            il bilancio selezionato non &egrave; presente nel db. seleziona un altro bilancio
        {% endif %}
    {% endif %} {# /main_bilancio_available #}

{% endblock %}

{% block extra_js_inner %}


    <!-- Initialization for year/budget type selector and linecharts -->
    <script type="text/javascript">
        $(document).ready(function(){

            /*
            * initialize year selectors
            * */

            var selector_init_obj ={
                'selector_default_year':{{ selector_default_year }},
                'selected_year':{{ selected_year }},
                'visible_buttons': true,
                'selected_bilancio_type': "{{ selected_bilancio_type }}",
                'start_year': {{ timeline_start_year }},
                'end_year': {{ timeline_end_year }},
                'reference_url': "{% url "bilanci-overview" slug=territorio.slug %}?year={{ selected_year }}&type={{ selected_bilancio_type }}"
            };

            init_selector(selector_init_obj);

            {# adds sindaci timeline to yr selector  #}

            d3.json("{% url 'incarichi-voce-json' territorio_opid=territorio_opid voce_slug='preventivo-entrate' %}",
                function (i) {

                year_selector.data({
                  "timeSpans": i['timeSpans']
                });
            });

        });

    </script>

    {% block extra_js_composizione %}{% endblock %}
    {% block extra_js_dettaglio %}{% endblock %}

{% endblock %}

