<aside id="sidebar" class="hidden">
    <form>
        <div class="panel panel-default">
            <div class="panel-body">

                <a role="button" href="#" class="active pull-right" id="hide-menu"><span class="icon sprite-toggle-menu"></span></a>
                <h3 class="menu-title">
                    Seleziona un indicatore
                </h3>

                <div class="scrollbox">
                    <ul class="nav nav-stacked menu">
                        <li>
                            <a href="#" class="pin pull-right hidden" data-toggle="tooltip" title="presenti voci selezionate"><span class="icon sprite-alert"></span></a>
                            <a href="#" class="panel-collapse collapse"><span class="icon sprite-autonomia-finanziaria"></span> AUTONOMIA FINANZIARIA</a>

                            <ul class="nav nav-stacked hidden">
                                {% for parameter in parameter_list %}
                                <li>
                                    <a href="#" class="pin pull-right" data-toggle="tooltip" data-html="true" title="vai alla classifica di tutti i comuni per questo indicatore.<br><strong class='link'><span class='icon sprite-search-alt'></span> Lorem ipsum</strong>"><span class="icon sprite-info"></span></a>
                                    <input type="checkbox" value="" name="">
                                    {{ parameter.denominazione }}
                                </li>
                                {% endfor %}
                            </ul>

                        </li>
                        <li>
                            <a href="#" class="pin pull-right hidden" data-toggle="tooltip" title="presenti voci selezionate"><span class="icon sprite-alert"></span></a>
                            <a href="#" class="panel-collapse collapse"><span class="icon sprite-capacita-programmatoria"></span> CAPACITA PROGRAMMATORIA</a>

                            <ul class="nav nav-stacked hidden">
                                <li>
                                    <a href="#" class="pin pull-right" data-toggle="tooltip" data-html="true" title="vai alla classifica di tutti i comuni per questo indicatore.<br><strong class='link'><span class='icon sprite-search-alt'></span> Lorem ipsum</strong>"><span class="icon sprite-info"></span></a>
                                    <input type="checkbox" checked="checked" value="" name="">
                                    Velocità di riscossione delle entrate proprie
                                </li>
                                <li>
                                    <a href="#" class="pin pull-right" data-toggle="tooltip" title="lorem ipsum"><span class="icon sprite-info"></span></a>
                                    <input type="checkbox" value="" name="">
                                    Pressione tributaria per abitante

                                    <ul class="nav nav-stacked">
                                        <li>
                                            <a href="#" class="pin pull-right" data-toggle="tooltip" title="lorem ipsum"><span class="icon sprite-info"></span></a>
                                            <input type="checkbox" value="" name="">
                                            Pressione tributaria per...
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="pin pull-right" data-toggle="tooltip" title="lorem ipsum"><span class="icon sprite-info"></span></a>

                                    <input type="checkbox" value="" name="">
                                    Risultato d’amministrazione valutato al fair value
                                </li>
                                <li>
                                    <a href="#" class="pin pull-right" data-toggle="tooltip" title="lorem ipsum"><span class="icon sprite-info"></span></a>
                                    <input type="checkbox" value="" name="">
                                    Consistenza...
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="#" class="pin pull-right hidden" data-toggle="tooltip" title="presenti voci selezionate"><span class="icon sprite-alert"></span></a>
                            <a href="#" class="panel-collapse"><span class="icon sprite-peso-amministrazione"></span> PESO DELL’AMMINISTRAZIONE</a>
                        </li>
                        <li>
                            <a href="#" class="pin pull-right hidden" data-toggle="tooltip" title="presenti voci selezionate"><span class="icon sprite-alert"></span></a>
                            <a href="#" class="panel-collapse"><span class="icon sprite-propensione-sviluppo"></span> PROPENSIONE ALLO SVILUPPO</a>
                        </li>
                        <li>
                            <a href="#" class="pin pull-right" data-toggle="tooltip" title="presenti voci selezionate"><span class="icon sprite-alert"></span></a>
                            <a href="#" class="panel-collapse"><span class="icon sprite-sostenibilita"></span> SOSTENIBILITA</a>
                        </li>
                        <li>
                            <a href="#" class="pin pull-right hidden" data-toggle="tooltip" title="presenti voci selezionate"><span class="icon sprite-alert"></span></a>
                            <a href="#" class="panel-collapse"><span class="icon sprite-indicatori"></span> INDICATORI DI CONTESTO</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </form>
    </aside><!-- /#sidebar -->