{%  extends "base.html" %}
{% load humanize %}

{% block page_title %}
    Bilancio {{ tipo_bilancio }} per il Comune di {{ territorio }}, anno: {{ year }}
{% endblock %}



{% block content %}

    {% block city_and_name_data %}
        <div class="panel-heading">
            <a href="" class="pull-right share">Condividi <span class="glyphicon glyphicon-share"></span></a>
            <h1 class="panel-title">{{territorio.denominazione}}</h1>
            <p class="details">
                <span class="location">{{ territorio.prov }}, {{ territorio.regione|title }} </span>
                <span class="category"><span class="glyphicon glyphicon-record"></span>
                    {{ territorio.get_cluster_display }}, {{ comune_context.popolazione_residente|intcomma }} abitanti</span>
            </p>
        </div>
    {% endblock %}

    <div class="panel-body">
        {% block bilanci_navigation_menu %}
            {% include 'bilanci/_navigation_menu.html' with active_voice='bilancio' %}
        {% endblock %}

        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title text-alt">
                    {% block subtitle %}bilancio{% endblock %}
                </h2>
            </div>
            <div class="panel-body">

                {% block sindaci %}
                    {% include 'bilanci/_sindaci.html' %}
                {% endblock %}

                {% block timeline %}
                    {% include 'bilanci/_timeline.html' %}
                {% endblock %}

                {% block bilanci_content %}
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#composizione" data-toggle="tab">COMPOSIZIONE</a></li>
                        <li><a href="#analisi-e-trend" data-toggle="tab">ANALISI E TREND</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="composizione">
                            {% include 'bilanci/_composition_widget.html' with bilancio_type='complessivo' %}
                        </div>

                        <div class="tab-pane fade in" id="analisi-e-trend">
                            <figure class="stripe thumbnail">
                                <img src="http://cambelt.co/200x600/Analisi+e+trend" class="img-responsive" alt="Analisi e trend">
                            </figure>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>


{% endblock content %}