{%  extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load popover_info %}


{% block extra_css %}
    {#    <!-- visup css-->#}
    <link href="{% static 'css/visup/style.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {#    <!-- / visup css-->#}
{% endblock %}


{% block content %}

    {# header block with Comune name, inhabitants and share button    #}

    {# NOTE:  bilancio-header cannot have ROW / Col-md-X classes because that interferes with the affix functionalities #}
    <div class="panel-heading">
        <div id="bilancio-header">

            {% if request.servizi_comuni  %}

                {% include 'services/_comune_name.html' %}

            {% else %}

                {% include 'bilanci/_comune_name.html' %}

            {% endif %}

            <p class="details">
                {% if not request.servizi_comuni %}
                    <span class="inhabitants">
                        {% if bil_popolazione_residente %}
                            {{ bil_popolazione_residente|intcomma }} abitanti
                        {% endif %}
                    </span>
                {% endif %}

                {#   affix menu#}
                {% if selected_year %}
                    <span class="year">
                        <span class="label label-warning">{{ selected_year }}</span>
                        {{ selected_bilancio_type }}
                    </span>
                {% endif %}

                {% if not request.servizi_comuni %}
                    <span style="padding-left: 6px;" class="location">
                        {{ territorio.prov|default:"" }}<span class="region">,</span>
                        <span class="region">
                            {{ territorio.regione|default_if_none:""|title }}
                        </span>
                    </span>
                {% endif %}
            </p>

            {% block affix_breadcrumbs %}
                <span id="affix-breadcrumbs" class="affix-only">
                    {#                AFFIX BREADCRUMBS#}
                     {% if selected_section == 'indicatori' %}
                        {{ selected_section|upper }}
                    {% elif selected_section == 'overview' %}
                        BILANCIO › OVERVIEW
                    {% else %}
                        BILANCIO › {{ selected_section|upper }} › {{ selected_subsection|upper }}
                    {% endif %}

                    {% if selected_section != 'indicatori' %}
                        -
                        {{ tipo_bilancio|upper }} {{ selected_year }}
                    {% endif %}

                </span>

            {% endblock %}


            {#  navbar #}

            {% block bilanci_navigation_menu %}
                {% include 'bilanci/_navigation_menu.html' with selected_section=selected_section %}
            {% endblock %}
        </div>

        {% block breadcrumbs %}

            {# breadcrumbs   #}
            <div class="row hidden-xs hidden-sm">
                <div class="col-md-12">
                    <div class="bread">
                        <p>Sei in:</p>
                        <ol class="breadcrumb">
                            {% if selected_section == 'indicatori' %}
                                <li>{{ selected_section }}</li>
                            {% elif selected_section == 'overview' %}
                                <li>Bilancio › Overview </li>
                            {% else %}
                                <li>Bilancio › {{ selected_section }} › {{ selected_subsection }}</li>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
            {# /breadcrumbs   #}

        {% endblock %}

        {% block page_controls %}
            {# page subtitle: bilancio / entrate /spese/ indicatori  #}
            <div class="row page-subtitle">
                <div class="col-md-8 col-sm-6 col-xs-6">
                    <h2 class="panel-title text-alt" style="text-transform: capitalize;">{% block subtitle %}{{ selected_section }}{% endblock %}</h2>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 share-box">
                    {% include "bilanci/_share_button.html" %}
                </div>
            </div>

            {% block year_selector %}
                <div class="row">
                    <div class="col-md-12">
                        <hr class="gray-border-top">
                    </div>
                </div>
                {# year selector component            #}
                {% include 'bilanci/_yr_selector.html' with yr_selector_complete=True %}
            {% endblock %}

            <div class="row hidden-xs hidden-sm">
                <div class="col-md-12">
                    <hr class="gray-border-top">
                </div>
            </div>

            {# control row for bilancio: description "Consuntivo 2012 dettaglio" , control button #}
            <div class="row" style="margin-bottom: 10px;">

                 {#    description #}
                {% block bilancio_description %}

                {% endblock %}

                {# values types + control button "CAMBIA"  #}
                <div class="col-md-5 col-sm-6 col-xs-6">
                    {% block bilancio_controls %}

                    {% endblock %}

                </div>
            </div>
            {#  /control row          #}

            <div class="row">
                <div class="col-md-12">
                    <hr class="gray-border-bot">
                </div>
            </div>
            {#   / bilancio info data           #}
        </div>

    {% endblock %}

    <div class="panel-body">
        <div class="row">
            <div id="content" class="col-sm-12">

                {% block bilanci_content %}

                {% endblock %}

            </div>
        </div>

    </div>

{% endblock %}

{% block extra_js %}

    <!-- visup base and yr selector -->
    <script src="{% static 'scripts/visup/all.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/yr_selector_utils.js' %}" type="text/javascript"></script>
   <!-- visup linechart -->
   <script src="{% static 'scripts/linechart_utils.js' %}" type="text/javascript"></script>

    <script>
        $(document).ready(function(){
            var bilancio_header = $('#bilancio-header');
            var navbar_top = $('.navbar.navbar-subnav').offset().top;
            var footer_height = 388;

{#            riga seguente: fix giangiulio per menu affix mobile   #}
            bilancio_header.css('width', bilancio_header.width());
            // fix container height
            bilancio_header.parent().css('min-height', bilancio_header.height());
            // set affix dynamic offset

            bilancio_header.affix({
                offset: {
                  top: navbar_top,
                  bottom: footer_height
                }
            });

            $( window ).resize(function() {
              bilancio_header.css('width', bilancio_header.parent().width());
                bilancio_header.parent().css('min-height', bilancio_header.height());
            });
        });
    </script>

    {% block extra_js_inner %}
        {# block for extra js activity needed for children templates   #}
    {% endblock %}

{% endblock %}