{%  extends "base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block page_title %}
    Bilancio {{ tipo_bilancio }} per il Comune di {{ territorio }}, anno: {{ year }}
{% endblock %}



{% block content %}

    {% block city_and_name_data %}
        <div class="panel-heading">
            <a href="" class="pull-right share">Condividi <span class="glyphicon glyphicon-share"></span></a>
            <h1 class="panel-title">{{territorio.denominazione}}</h1>
            <p class="details">
                <span class="location">{{ territorio.prov }}, {{ territorio.regione|title }} </span>
                <span class="category"><span class="glyphicon glyphicon-record"></span>
                    {{ territorio.get_cluster_display }}, {{ comune_context.popolazione_residente|intcomma }} abitanti</span>
            </p>
        </div>
    {% endblock %}

    <div class="panel-body">
        {% block bilanci_navigation_menu %}
            {% include 'bilanci/_navigation_menu.html' with active_voice='bilancio' %}
        {% endblock %}

        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title text-alt">
                    {% block subtitle %}bilancio{% endblock %}
                </h2>
            </div>
            <div class="panel-body">
                {% block bilanci_content %}
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#composizione" data-toggle="tab">COMPOSIZIONE</a></li>
                        <li><a href="#analisi-e-trend" data-toggle="tab">ANALISI E TREND</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="composizione">
                            {% include 'bilanci/_composition_widget.html' with bilancio_type='complessivo' %}
                        </div>

                        <div class="tab-pane fade in" id="analisi-e-trend">
                            <figure class="stripe thumbnail">
                                <img src="http://cambelt.co/200x600/Analisi+e+trend" class="img-responsive" alt="Analisi e trend">
                            </figure>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>


{% endblock content %}


{% block extra_js %}
    <!-- visup js -->
    <script src="{% static 'scripts/visup/all.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        "use strict";
        var chart = visup.linechart(".timeline-multiline");
        chart.options({
            timeline: {
                start: 2003,
                end: 2013,
                barPadding: 3,
                format: "%Y-%m-%d",
                visible: true
            },
            linechart: {
                height: 270,
                start: 2003,
                end: 2013,
                circleRadius: 9,
                axisUnit: "MILLION",
                tooltipUnit: "MLN",
                format: "%Y",
                visible: true
            },
            legend: {
                rowItems: 2
            }
        }), d3.json("{% static 'data/visup_sample_data.json' %}", function (i) {
            chart.data(i)
        });

    </script>

    <!-- / visup js -->
{% endblock %}

{% block extra_css %}
{#    <!-- visup css-->#}
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/visup/visup-style.css' %}" media="screen" rel="stylesheet" type="text/css" />


{#    <!-- / visup css-->#}
{% endblock %}