<table class="table">
    <tbody>
        {% if voce_set|length  > 0 %}
            {% for voce in voce_set %}

                <tr>
                    <td class="col-sm-10 text">
                        <h5><a title="" data-toggle="tooltip" href="#" data-original-title="vai alla pagina di dettaglio della voce">{{ voce.denominazione|upper }}</a></h5>
                    </td>
                    <td class="col-sm-1 trend">

                        {% if type == "guadagna" %}
                            <span class="icon sprite-trend-up-3"></span>
                        {% else %}
                            <span class="icon sprite-trend-down-3"></span>
                        {% endif %}

                    </td>
                    <td class="col-sm-1 pos">
                        {% if type == "guadagna" %}
                            <span class="h3">+{{ voce.variation }}%</span>
                        {% else %}
                            <span class="h3">{{ voce.variation }}%</span>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        {% else %}

            <tr style="background-color: #d3d3d3;">
                <td class="col-sm-10 text">
                    <h5>DATO NON DISPONIBILE PER QUESTO BILANCIO</h5>
                </td>
                <td class="col-sm-1 trend">
                    <span style="visibility: hidden;" class="icon sprite-trend-up-3"></span>
                </td>
                <td class="col-sm-1 pos">

                </td>
            </tr>
        {% endif %}
    </tbody>
</table>