{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load classifiche_parameter_list %}
{% load classifiche_incarichi_politici %}
{% load digg_paginator %}
{% load section_title %}
{% load section_values_type %}
{% load italianize %}

{% block page_title %}
    Classifiche per {{ selected_parameter_name }}
{% endblock %}

{% block content %}

    <div class="panel-heading">
        <!-- AddThis Button BEGIN -->
        {% if share_url %}
            <div class="pull-right">
                <span style="text-transform: uppercase; font-size: 13px;">Condividi</span>

                <!-- AddThis Button BEGIN -->
                <a class="share addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-5370d1fa1cb562ad">
                     <strong>la tua classifica</strong> <span class="icon sprite-share"></span>
                </a>
                <script type="text/javascript">
                    var addthis_config = {"data_track_addressbar":false   };
                    var addthis_share =
                    {
                        "url":"{{ share_url|safe }}"
                    }
                </script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5370d1fa1cb562ad"></script>
                <!-- AddThis Button END -->
            </div>

        {% endif %}

        <!-- AddThis Button END -->
        <h1 class="panel-title">CLASSIFICHE</h1>
    </div>

    <div class="panel-body">
        <hr class="no-border">

        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="row timeline">
                    <div class="col-sm-12">
                        <div class="year-selector"></div>
                    </div>
                </div>

                <div id="results" class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">

                                {# parameter name / type #}
                                <div class="row">
                                    <div class="col-md-12">
                                        {% section_values_type cas_com_type='cassa' values_type='real' tooltip=True per_capita=True hide_icon=True%}
                                        <h4 class="panel-title pull-left">
                                            {% if selected_par_type == 'indicatori' %}
                                                INDICATORE
                                            {% else %}
                                                {{ selected_par_type|upper }}
                                            {% endif %}
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="pull-left">
                                                {{ selected_parameter_name|upper }}
                                        </h4>
                                    </div>
                                </div>

                                {% if selected_par_type != 'indicatori' %}
                                    {# values type #}
                                    <div class="row">
                                        <div class="col-md-12" style="">
                                            {% section_title bold_text="BILANCI" main_bilancio_type='consuntivi' %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="" class="autosubmit" action="{% url 'classifiche-search' %}" method="get">
                                            <div class="">
                                             {{ territori_search_form_classifiche.territorio_id}}
                                            </div>
                                            <input id="id_selected_year" name="selected_year" type="hidden" value="{{ selected_year|safe }}" />
                                            <input id="id_selected_par_type" name="selected_par_type" type="hidden" value="{{ selected_par_type|safe }}" />
                                            <input id="id_selected_parameter_id" name="selected_parameter_id" type="hidden" value="{{ selected_parameter.pk|safe }}" />
                                            <input id="id_selected_regioni" name="selected_regioni" type="hidden" value="{{ selected_regioni_str|safe }}" />
                                            <input id="id_selected_cluster" name="selected_cluster" type="hidden" value="{{ selected_cluster_str|safe }}" />
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-body">
                                {% if n_comuni > 0 %}
                                    <p class="small" style="font-weight: bold;">
                                        {{ n_comuni }} COMUNI
                                    </p>


                                    <div class="pagination-wrapper clearfix">
                                        {% digg_paginator %}

                                        {% comment %}
                                        <div  class="pull-right">
                                            <div class="dropdown pull-left">
                                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                    RISULTATI: <span>10</span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">20</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">50</a></li>
                                                    <li role="presentation" class="divider"></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tutti</a></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="refresh"><span class="icon sprite-refresh"></span></a>
                                        </div>
                                        {% endcomment %}
                                    </div>
                                {% else %}
                                    <p>Spiacenti, non sono presenti Comuni per le categorie selezionate</p>
                                {% endif %}

                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        {% if object_list %}
                                            {% for valore_obj in object_list %}
                                                <tr
                                                    {% if valore_obj.territorio.pk == highlight_territorio %} class="highlight_territorio"{% endif %}
                                                >
                                                    <td class="col-sm-1 rate">
                                                        <span class="h2">
                                                            {% if selected_par_type == 'indicatori' %}
                                                                {{ valore_obj.valore|italianize }}%
                                                            {% else %}
                                                                &euro;&nbsp;{{ valore_obj.valore|italianize }}
                                                            {% endif %}
                                                        </span>
                                                    </td>
                                                    <td class="col-sm-9 text">
                                                        <h4>
                                                            <a
                                                                {% if selected_par_type == 'indicatori' %}
                                                                    href="{% url 'bilanci-indicatori' slug=valore_obj.territorio.slug %}?slug={{ selected_parameter.slug }}"
                                                                {% elif selected_par_type == 'entrate' %}
                                                                    href="{% url 'bilanci-entrate' slug=valore_obj.territorio.slug %}?year={{ selected_year }}&type=consuntivo&values_type=real&cas_com_type=cassa#{{ selected_parameter.slug }}"
                                                                {% else %}
                                                                    href="{% url 'bilanci-spese' slug=valore_obj.territorio.slug %}?year={{ selected_year }}&type=consuntivo&values_type=real&cas_com_type=cassa#{{ selected_parameter.slug }}"
                                                                {% endif %}
                                                                    >
                                                                {{ valore_obj.territorio.denominazione }}
                                                            </a>
                                                        </h4>

                                                        <p>{{ valore_obj.territorio.prov }}, {{ valore_obj.territorio.regione }}</p>

                                                        <div class="media" style="font-size: 13px;">
                                                            {% classifiche_incarichi_politici valore_obj %}
                                                        </div>

                                                    </td>
                                                    <td class="col-sm-1 pos">
                                                        <span class="h3">{{ valore_obj.position }}°</span>
                                                    </td>

                                                    <td class="col-sm-1 trend">
                                                        {% spaceless %}
                                                            <span title="{% if valore_obj.variazione == 0 %}Mantiene la posizione dell'anno precedente{% else %}Era al {{ valore_obj.prev_position }}° posto l'anno precedente{% endif %}"
                                                            {% if valore_obj.variazione == 0 %}
                                                                class="icon sprite-trend"
                                                            {% elif valore_obj.variazione > 0 %}
                                                                class="icon sprite-trend-up-3"
                                                            {% else  %}
                                                                class="icon sprite-trend-down-3"
                                                            {% endif %}
                                                            >
                                                            </span>
                                                        {% endspaceless %}

                                                    </td>
                                                </tr>
                                             {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>

                        {% if n_comuni > 0 %}
                            {% spaceless %}
                                <div class="panel-body" style="padding-top: 0;">
                                    <div class="pagination-wrapper clearfix">
                                        {% digg_paginator %}
                                    </div>
                                </div>
                            {% endspaceless %}
                        {% endif %}


                        </div>  <!-- /panel panel-default -->
                    </div> <!-- /col-md8 -->

                {#  classifiche filters   #}

                {% include 'bilanci/classifiche_filters.html' %}

                </div> <!-- /results row -->

                {% block results %}

                {% endblock %}
            </div>

            {# menu handle is hidden on pageload   #}
            <div id="side-controls" style="display: block; left: -50px; top: 343px;">
                <a href="#" role="button" class="slider-arrow show" id="push-menu"><span class="icon sprite-toggle-menu"></span></a>
            </div>

            {# comparison list menu  #}
            <aside id="sidebar" class="classifiche_parameter_container hidden">
                <form id="parameter-list-form"  method="get">
                    <div class="panel panel-default" id="side-menu">
                        <div class="panel-body" id="classifiche_parameter_container">

                            <a role="button" href="#" class="active pull-right" id="hide-menu"><span class="icon sprite-toggle-menu"></span></a>

                            <h3 class="menu-title" style="margin-bottom:20px;">
                                Seleziona
                            </h3>
                            <div class="dropdown" >

                                <select id="classifiche-dropdown" class="parameter-dropdown">
                                    <option value="indicatori">INDICATORI</option>
                                    <option value="entrate">ENTRATE</option>
                                    <option value="spese">SPESE</option>
                                </select>
                                <div class="separator"></div>

                                {% classifiche_parameter_list 'indicatori' indicator_list selected_par_type selected_parameter.slug selected_year %}
                                {% classifiche_parameter_list 'entrate' entrate_list selected_par_type selected_parameter.slug selected_year %}
                                {% classifiche_parameter_list 'spese' spese_list selected_par_type selected_parameter.slug selected_year %}
                            </div>
                        </div>
                    </div>
                </form>
            </aside>


        </div> <!-- ./row -->


    </div><!-- /.panel-body -->
{% endblock %}



{% block extra_js %}


    <!-- visup js -->
    <script src="{% static 'scripts/visup/all.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/yr_selector_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/side_menu_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/parameter_menu_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/classifiche_utils.js' %}" type="text/javascript"></script>

    <!-- / visup js -->

    <script type="text/javascript">

        $(document).ready(function(){

            /*
            * initialize year selectors
            * */

            var selector_init_obj ={
                'selector_default_year':{{ selector_default_year }},
                'selected_year':{{ selected_year }},
                'visible_buttons': false,
                'selected_bilancio_type': null,
                'start_year': {{ selector_start_year }},
                'end_year': {{ selector_end_year }},
                'reference_url': "{% url 'classifiche-list' parameter_type=selected_par_type parameter_slug=selected_parameter.slug anno=selected_year %}{% if query_string %}?{{query_string}}{% endif %}"
            };


            init_selector(selector_init_obj);
            init_parameter_menu('classifiche');

            if ($('.highlight_territorio').length == 1){
                goToClassByScroll('highlight_territorio');
            }



        });

    </script>


{% endblock %}

{% block extra_css %}
{#    <!-- visup css-->#}
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/visup-style.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/digg_paginator.css' %}" media="screen" rel="stylesheet" type="text/css" />

{#    <!-- / visup css-->#}
{% endblock %}