{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load classifiche_incarichi_politici %}
{% load digg_paginator %}
{% load section_title %}
{% load section_values_type %}
{% load italianize %}
{% load popover_info %}

{% block page_title %}
    Classifiche per {{ selected_parameter_name }}
{% endblock %}

{% block content %}

    <div class="panel-heading">
        <h1 class="panel-title">CLASSIFICHE</h1>
    </div>

    <!-- start _hierarchical_control_bar -->
    <div class="panel-body">
        {% include 'bilanci/_hierarchical_control_bar.html' with page_type='classifiche' share_label='la tua classifica' %}
    <div class="panel-body">
    <!-- /_hierarchical_control_bar -->


    <div class="panel-body">
        <hr class="no-border">

        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="row timeline">
                    <div class="col-sm-12">
                        <div class="year-selector"></div>
                    </div>
                </div>

                <div id="results" class="row">
                    <div class="col-md-9">
                        <div class="panel panel-default">

                            {#    heading#}
                            <div class="panel-heading noeight2 clearfix">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3 class="panel-title pull-left">
                                            CLASSIFICA {{ selected_year }}
                                        </h3>
                                    </div>
                                    <div class="col-md-4 vertical-center">
                                        {% if n_comuni > 0 %}
                                            SELEZIONATI <strong>{{ n_comuni }}</strong> COMUNI
                                        {% endif %}
                                    </div>
                                    <div class="col-md-5">
                                        <form role="" class="form-inline pull-right autosubmit" action="{% url 'classifiche-search' %}" method="get" style="width:100%;">
                                            <div class="form-group search">
                                                 {{ territori_search_form_classifiche.territorio_id}}
                                            </div>

                                            {#  hidden inputs     #}
                                            <input id="id_selected_year" name="selected_year" type="hidden" value="{{ selected_year|safe }}" />
                                            <input id="id_selected_par_type" name="selected_par_type" type="hidden" value="{{ selected_par_type|safe }}" />
                                            <input id="id_selected_parameter_id" name="selected_parameter_id" type="hidden" value="{{ selected_parameter.pk|safe }}" />
                                            <input id="id_selected_regioni" name="selected_regioni" type="hidden" value="{{ selected_regioni_str|safe }}" />
                                            <input id="id_selected_cluster" name="selected_cluster" type="hidden" value="{{ selected_cluster_str|safe }}" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {# / heading#}


                            <div class="panel-body">

                                {#  bilancio type, values  types #}
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="selection">
                                            {% section_title bold_text="BILANCI" main_bilancio_type='consuntivi' %}
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cas_com_box pull-right">
                                            <span class="values_type">
                                                {% if selected_par_type == 'indicatori' %}
                                                    {% section_values_type cas_com_type='cassa' values_type='real' tooltip=True per_capita=False %}
                                                {% else %}
                                                    {% section_values_type cas_com_type='cassa' values_type='real' tooltip=True per_capita=True %}
                                                {% endif %}

                                            </span>
                                        </div>
                                    </div>
                                </div>



                                {% if n_comuni > 0 %}

                                    <div class="pagination-wrapper clearfix">
                                        {% digg_paginator %}

                                        {% comment %}
                                        <div  class="pull-right">
                                            <div class="dropdown pull-left">
                                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                    RISULTATI: <span>10</span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">20</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">50</a></li>
                                                    <li role="presentation" class="divider"></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tutti</a></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="refresh"><span class="icon sprite-refresh"></span></a>
                                        </div>
                                        {% endcomment %}
                                    </div>
                                {% else %}
                                    <p>Spiacenti, non sono presenti Comuni per le categorie selezionate</p>
                                {% endif %}

                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        {% if object_list %}
                                            {% for valore_obj in object_list %}
                                                <tr
                                                    {% if valore_obj.territorio.pk == highlight_territorio %} class="highlight_territorio"{% endif %}
                                                >
                                                    {# position   #}
                                                    <td class="col-md-1 col-sm-1 pos">
                                                        <span class="h3">
                                                            {{ valore_obj.position }}°

                                                        </span>
                                                    </td>
                                                    {# trend #}
                                                    <td class="col-md-1 col-sm-1 trend">
                                                         {% spaceless %}

                                                            <span title="{% if valore_obj.variazione == 0 %}Mantiene la posizione dell'anno precedente{% else %}Era al {{ valore_obj.prev_position }}° posto l'anno precedente{% endif %}"
                                                            {% if valore_obj.variazione == 0 %}
                                                                class="icon sprite-trend-small"
                                                            {% elif valore_obj.variazione > 0 %}
                                                                class="icon sprite-trend-up-3-small"
                                                            {% else  %}
                                                                class="icon sprite-trend-down-3-small"
                                                            {% endif %}
                                                            >
                                                            </span>
                                                        {% endspaceless %}
                                                    </td>

                                                    <td class="col-md-9 col-sm-8 text">
                                                        <div class="panel-heading clearfix">
                                                            {# nome territorio   #}
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h3 style="margin-top: 0;margin-bottom: 2px;font-size: 21px;line-height:18px;">
                                                                        <a
                                                                            {% if selected_par_type == 'indicatori' %}
                                                                                href="{% url 'bilanci-indicatori' slug=valore_obj.territorio.slug %}?slug={{ selected_parameter.slug }}"
                                                                            {% elif selected_par_type == 'entrate' %}
                                                                                href="{% url 'bilanci-dettaglio' slug=valore_obj.territorio.slug section=selected_par_type %}?year={{ selected_year }}&type=consuntivo&values_type=real&cas_com_type=cassa#{{ selected_parameter.slug }}"
                                                                            {% elif selected_par_type == 'spese-funzioni' %}
                                                                                href="{% url 'bilanci-dettaglio' slug=valore_obj.territorio.slug section="spese" %}?year={{ selected_year }}&type=consuntivo&values_type=real&cas_com_type=cassa&fun_int_view=funzioni#{{ selected_parameter.slug }}"
                                                                            {% elif selected_par_type == 'spese-interventi' %}
                                                                                href="{% url 'bilanci-dettaglio' slug=valore_obj.territorio.slug section="spese" %}?year={{ selected_year }}&type=consuntivo&values_type=real&cas_com_type=cassa&fun_int_view=interventi#{{ selected_parameter.slug }}"
                                                                            {% endif %}
                                                                                style="margin-bottom: 0;margin-top: 0;">
                                                                            {{ valore_obj.territorio.denominazione }}
                                                                        </a>
                                                                    </h3>
                                                                    <h4 class="dirty-fix">
                                                                            {{ valore_obj.territorio.prov }}, {{ valore_obj.territorio.regione }}
                                                                        </h4>
                                                                </div>
                                                            </div>

                                                            {% classifiche_incarichi_politici valore_obj %}
                                                        </div>
                                                    </td>
                                                    {# valore parametro #}
                                                    <td class="col-md-1 col-sm-2 rate">
                                                        <p class="h2">
                                                            {% if selected_par_type == 'indicatori' %}
                                                                {{ valore_obj.valore|italianize }}%
                                                            {% else %}
                                                                &euro;&nbsp;{{ valore_obj.valore|italianize }}
                                                            {% endif %}
                                                        </p>
                                                    </td>
                                                </tr>
                                             {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>

                        {% if n_comuni > 0 %}
                            {% spaceless %}
                                <div class="panel-body" style="padding-top: 0;">
                                    <div class="pagination-wrapper clearfix">
                                        {% digg_paginator %}
                                    </div>
                                </div>
                            {% endspaceless %}
                        {% endif %}


                        </div>  <!-- /panel panel-default -->
                    </div> <!-- /col-md8 -->

                    {#  classifiche filters   #}
                    <aside id="filters" class="col-md-3">
                        {% include 'bilanci/classifiche_filters.html' %}
                    </aside> <!-- /#filters -->

                </div> <!-- /results row -->

                {% block results %}

                {% endblock %}
            </div>

        {# parameter hierarchical menu #}
        {% include 'bilanci/_hierarchical_menu.html' with page_type='classifiche' parameter_list=parameter_list selected_par_type=selected_par_type selected_parameter_slug=selected_parameter.slug %}

        </div> <!-- ./row -->
    </div><!-- /.panel-body -->
{% endblock %}


{% block extra_js %}

    <!-- visup js -->
    <script src="{% static 'scripts/visup/all.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/yr_selector_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/parameter_menu_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/classifiche_utils.js' %}" type="text/javascript"></script>

    <!-- / visup js -->

    <script type="text/javascript">

        $(document).ready(function(){

            /*
            * initialize year selectors
            * */

            var selector_init_obj ={
                'selector_default_year':{{ selector_default_year }},
                'selected_year':{{ selected_year }},
                'visible_buttons': false,
                'selected_bilancio_type': null,
                'start_year': {{ selector_start_year }},
                'end_year': {{ selector_end_year }},
                'reference_url': "{% url 'classifiche-list' parameter_type=selected_par_type parameter_slug=selected_parameter.slug anno=selected_year %}{% if query_string %}?{{query_string}}{% endif %}"
            };


            init_selector(selector_init_obj);
            init_parameter_menu('classifiche');

            if ($('.highlight_territorio').length == 1){
                goToClassByScroll('highlight_territorio');
            }



        });

    </script>


{% endblock %}

{% block extra_css %}
{#    <!-- visup css-->#}
    <link href="{% static 'css/visup-style.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/digg_paginator.css' %}" media="screen" rel="stylesheet" type="text/css" />

{#    <!-- / visup css-->#}
{% endblock %}