<aside id="filters" class="col-md-4">
    <form>
    <div class="panel panel-default">

        <div class="panel-heading">

            <div class="pull-right"><a>Rimuovi tutti </a></div>
            <h3 class="panel-title">FILTRA</h3>

            <button type="button" class="btn btn-default">Aggiorna</button>

        </div>

        <ul class="list-group">
            <li class="list-group-item label">FILTRA PER REGIONE</li>
            {% for regione in regioni_list %}
                <li class="list-group-item"><input type="checkbox" name="" value="" > {{ regione.denominazione }}</li>
            {% endfor %}

        </ul>

        <ul class="list-group">
            <li class="list-group-item label">FILTRA PER CLUSTER</li>
            {% for cluster in cluster_list %}
                <li class="list-group-item"><input type="checkbox" name="" value="" > {{ cluster.denominazione }}</li>
            {% endfor %}
        </ul>

        {% comment %}
        <ul class="list-group">
            <li class="list-group-item label">FILTRA PER CLASSE</li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" name="" value="" checked="checked"> I
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" name="" value=""> II
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" name="" value=""> III
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" name="" value=""> IV
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" name="" value=""> V
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" name="" value=""> VI
                    </div>
                </div>
            </li>
        </ul>
        {% endcomment %}

        <div class="panel-heading">

            <button type="button" class="btn btn-default">Aggiorna</button>

        </div>

    </div>
    </form>
</aside> <!-- /#filters -->
