{% extends "bilanci/composizione_base.html" %}

{% block load_data_js %}

    <script>
        $(document).ready( function() {
            var load_sample_json = false;


            {% spaceless %}
            var composition_data = {
                "hover": true,
                "showLabels": false,
                "year": {{ year }},
                "entrate":{{ entrate|safe }},
                "spese":{{ spese|safe }},
                "showHelp": false,

                //widget 1,2,3: overview boxes
                "widget1": {
                    "type": "{{ w1.type }}",
                    "showHelp": {{ w1.showhelp|lower }},
                    "label": "{{ w1.label|safe|default:"null" }}",
                    "sublabel1": "{{ w1.sublabel1|safe}}",
                    "sublabel2": "{{ w1.sublabel2|safe }}",

                    "value": {{ w1.value|safe|default:"null" }},
                    "procapite": {{ w1.value_procapite|safe|default:"null" }},
                    "variation":{% if w1.variation %}{{ w1.variation|safe }}{% else %}null{% endif %},

                    "year1": {{ w1.year1|default:"null" }},
                    "year2": {{ w1.year2|default:"null" }},
                    "year3": {{ w1.year3|default:"null" }},

                    "value1": {{ w1.value1|safe|default:"null" }},
                    "value2": {{ w1.value2|safe|default:"null" }},
                    "value3": {{ w1.value3|safe|default:"null" }}
                        
                },

                "widget2":{
                    "type": "bar",
                    "showHelp": {{ w2.showhelp|lower }},
                    "label": "{{ w2.label }}",
                    "sublabel1": "{{ w2.sublabel1|default_if_none:"" }}",
                    "sublabel2": "{{ w2.sublabel2 }}",
                    "value": {{ w2.value|safe }},
                    "procapite": {{ w2.value_procapite|safe }},
                    "variation":{% if w2.variation %}{{ w2.variation|safe }}{% else %}null{% endif %}
                },

                "widget3": {
                     "type": "{{ w3.type }}",
                    "showHelp": {{ w3.showhelp|lower }},
                    "label": "{{ w3.label|safe }}",
                    "sublabel1": "{{ w3.sublabel1|safe}}",
                    "sublabel2": "{{ w3.sublabel2|safe }}",
                    "sublabel3": "{{ w3.sublabel3|safe }}",
                    "value": {{ w3.value|safe|default:"null" }},
                    "procapite": {{ w3.value_procapite|safe|default:"null" }},
                    "variation":{% if w3.variation %}{{ w3.variation|safe }}{% else %}null{% endif %},
                    "series": {{ w3.series|safe|default:"null" }}
                },


                // widget 4 : 1 box for voce detail
                "widget4": {
                    "showHelp": {{ w4.showhelp|lower }},
                    "entrate": {
                    "label": "entrate da",
                    "sublabel": "{{ w4.e_moneyverb|safe }}"
                    },
                    "spese": {
                    "label": "spese per",
                    "sublabel": "{{ w4.s_moneyverb|safe }}"
                    },
                    "sublabel3": "sul {{ comp_bilancio_type|safe }} {{ comp_bilancio_year|safe }}"
                },

                // widget 5 : 2 box for voce detail
                "widget5": {
                    "showHelp": {{ w5.showhelp|lower }},

                    "entrate": {
                    "label": "Percentuale sul totale delle entrate"
                    },
                    "spese": {
                    "label": "Percentuale sul totale delle spese"
                    }
                },
                //widget 6 : 3 box for voce detail

                "widget6": {
                    "showHelp": {{ w6.showhelp|lower }},
                    "entrate": {
                    "label": "andamento entrate da"
                    },
                    "spese": {
                    "label": "andamento spese per"
                    },
                    "sublabel3": "nei bilanci {{ w6.main_bilancio_type_plural }}"
                }
            };

            {% endspaceless %}

              if(load_sample_json == true ){
                  visup.bilancio(function(){
                    d3.json("/static/data/vista1.json", function(data){
                        visup.bilancio.data(data);
                        visup.bilancio.on("select", function(d) {
{#                          console.log(d);#}
                        });
                        });
                    });
              }
                else{
                  visup.bilancio.data(composition_data);
              }

            });
        </script>

    {% endblock %}


{% block body %}
    {% verbatim %}
        <div class='wrap' ng-cloak ng-controller='AppControllerBilancio'>
        <div class='visup-main visup-graph-compare'>
        <div class='visup-graph-left-container'>
        <div class='visup-title'>Entrate</div>
        <div class='visup-graph-container'>
        </div>
        </div>
        <div class='visup-graph-right-container'>
        <div class='visup-title'>Spese</div>
        <div class='visup-graph-container'>
        </div>
        </div>
        <div class='visup-labels'>
        <div class='visup-label visup-label-1'>
        Aumenti oltre il 25%
        <div class='h-divider'></div>
        </div>
        <div class='visup-label visup-label-2'>
        Valori stabili
        <div class='h-divider'></div>
        </div>
        <div class='visup-label visup-label-3'>
        <div class='h-divider'></div>
        <div class='label'>Riduzioni oltre il 25%</div>
        </div>
        <div class='v-divider'></div>
        </div>
        <div class='visup-legend'>
        <img alt="Legend" src="/static/img/visup/legend.png" />
        </div>
        <div class='visup-graph-tooltip' ng-click='showGraphHelp = !showGraphHelp' ng-show='showHelp' style='background-image: url("/static/img/visup/icons.png")'>
        <div class='visup-graph-help' ng-show='showGraphHelp'>
        <div class='visup-graph-help-title' ng-show='helpTitle != null'>{{helpTitle}}</div>
        <div class='visup-graph-help-text' ng-show='helpText != null'>{{helpText}}</div>
        </div>
        </div>
        <div class='visup-graph-toggle' ng-class='{active: (toggleActive &amp;&amp; showLabels), disable: (!toggleActive)}'>{{ showLabels ? 'Nascondi' : 'Mostra' }}</div>
        </div>
        <div class='visup-sidebar visup-sidebar1'>
        <!-- widget 1 -->
        <div class='visup-widget widget1' data='widget1' widget='1' widgetbilancio></div>
        <!-- widget 4 -->
        <div class='visup-widget widget4 visup-dot-value active-selection active-hover' data='widget4' ng-style="{'border-color':selected.color}" selected='selected' widget='4' widgetbilanciohover></div>
        <!-- widget 2 -->
        <div class='visup-widget widget2' data='widget2' widget='1' widgetbilancio></div>
        <!-- widget 3 -->
        <div class='visup-widget widget3' data='widget3' widget='3' widgetbilancio></div>
        <!-- widget 5 -->
        <div class='visup-widget widget5 active-selection active-hover'>
        <div class='visup-widget-help' ng-click='showHelpText5 = !showHelpText5' ng-show='widget5.showHelp' style='background-image: url("/static/img/visup/icons.png")'>
        <div class='visup-graph-help' ng-show='showHelpText5'>
        <div class='visup-graph-help-title' ng-show='widget5.helpTitle != null'>{{widget5.helpTitle}}</div>
        <div class='visup-graph-help-text' ng-show='widget5.helpText != null'>{{widget5.helpText}}</div>
        </div>
        </div>
        <div class='visup-description'>
        <div class='visup-title as-subtitle'>{{type === 'ENTRATE' ? widget5.entrate.label : widget5.spese.label}}</div>
        </div>
        <div class='visup-pie-container visup-pie-4'></div>
        <div class='visup-value-2'>{{selected.percent}}%</div>
        </div>
        <!-- widget 6 -->
        <div class='visup-widget widget6 active-selection active-hover'>
        <div class='visup-widget-help' ng-click='showHelpText6 = !showHelpText6' ng-show='widget6.showHelp' style='background-image: url("/static/img/visup/icons.png")'>
        <div class='visup-graph-help' ng-show='showHelpText6'>
        <div class='visup-graph-help-title' ng-show='widget6.helpTitle != null'>{{widget6.helpTitle}}</div>
        <div class='visup-graph-help-text' ng-show='widget6.helpText != null'>{{widget6.helpText}}</div>
        </div>
        </div>
        <div class='visup-description'>
        <div class='visup-title as-subtitle'>{{type === 'ENTRATE' ? widget6.entrate.label : widget6.spese.label}}</div>
        <div class='visup-subtitle as-title'>{{selected.label}}</div>
        </div>
        <div class='visup-graph-container visup-spark-4' ng-style="{'visibility': (selected.series == null) ? 'hidden' : ''}"></div>
        <div class='inline-block vertical-middle'>{{(selected.series != null) ? widget6.sublabel3+" "+selected.series[0][0]+"-"+selected.series[selected.series.length-1][0] : " non disponibile"}}</div>
        </div>
        <div class='visup-credits'>made by VISUP</div>
        </div>
        </div>

    {% endverbatim %}
{% endblock %}





