{% extends "base.html" %}
{% load staticfiles %}


{% block page_title %}
    Confronti
{% endblock %}

{% block content %}

    <div class="panel-heading">

        <h1 class="panel-title">CONFRONTI</h1>
    </div>

    <div class="panel-body">
        <div class="row">
            <div id="content" class="col-sm-12">
                <div id="comparison" class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">

                                    <label for="">CONFRONTA</label>
                                    {{ territori_comparison_search_form.territorio_1 }}
                                    {% block helpbox_1 %}{% endblock %}
                                 </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">

                                    <label for="">CON</label>
                                    {{ territori_comparison_search_form.territorio_2 }}
                                    {% block helpbox_2 %}{% endblock %}
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group hidden-xs">

                                    <a class="btn btn-link" id="confronti_submit_btn" style="margin-top: 20px;">
                                        <span class="icon sprite-submit"></span>
                                    </a>
                                </div>
                                <a class="btn btn-fill hidden-md hidden-lg hidden-sm" id="confronti_submit_btn" style="margin-top: 20px;">
                                    APPLICA CONFRONTO
                                </a>
                            </div>
                        </div>
                        {#       error message box #}
                        <div class="row hidden" id="error_msg_box">
                            <div class="col-md-1">
                                <p id="log" class="error">
                                    <span class="icon sprite-status"></span>
                                </p>
                            </div>
                            <div class="col-md-11">
                                <span id="error_msg_box_txt"></span>
                            </div>
                        </div>


                    </div>
                </div><!-- /panel panel-default -->
            </div><!-- /panel row-->
        </div>
      {# block confronti description contains the settings button and the description of the comparison parameter   #}
      {% block confronti_description %}{% endblock %}

        <div class="row">


            {% block results %}

            {% endblock %}
        </div>

{% endblock %}

{% block extra_js %}

    {#  binds the  territorio_1, territorio_2 autocomplete fields with #}
    {#  the url of the fake submit button  #}
    <script src="{% static 'scripts/confronti_utils.js' %}" type="text/javascript"></script>

    <script type="text/javascript">


        $(document).ready(function(){

            $("#id_territorio_1").on("click", function(){ changeConfrontiUrl();});
            $("#id_territorio_2").on("click", function(){ changeConfrontiUrl();});

            $("#confronti_submit_btn").on('click', function(e) {
                submitButtonConfronti(e);
            });
        });


    </script>
{% endblock %}