{%  extends "bilanci/confronti_home.html" %}
{% load staticfiles %}
{% load confronti_helpbox %}
{% load confronti_parameter_list %}

{% block page_title %}
    Confronto Comune {{ territorio_1.denominazione }} con {{ territorio_2.denominazione }} su {{ parameter.denominazione }}
{% endblock %}

{% block helpbox_1 %}
    {% confronti_helpbox territorio_1 contesto_1 %}
{% endblock %}

{% block helpbox_2 %}
    {% confronti_helpbox territorio_2  contesto_2 %}
{% endblock %}

{% block confronti_parameter_menu_toggle %}

    {# menu handle is hidden on pageload   #}
    <div id="side-controls" style="display: block; left: -50px; top: 343px;">
        <a href="#" role="button" class="slider-arrow show" id="push-menu"><span class="icon sprite-open-menu"></span></a>
    </div>

{% endblock %}

{# comparison list menu  #}
{% block confronti_parameter_menu %}
    <aside id="sidebar" class="hidden">
        <form id="parameter-list-form"  method="get" >
            <div class="panel panel-default">
                <div class="panel-body" id="confronti_parameter_container">

                    <a role="button" href="#" class="active pull-right" id="hide-menu"><span class="icon sprite-toggle-menu"></span></a>
                    <h3 class="menu-title">
                        Seleziona
                    </h3>
                    {% confronti_parameter_list 'indicatori' indicator_list territorio_1.slug territorio_2.slug parameter_type parameter.slug%}
                    {% confronti_parameter_list 'entrate' entrate_list territorio_1.slug territorio_2.slug parameter_type parameter.slug %}
                    {% confronti_parameter_list 'spese' spese_list territorio_1.slug territorio_2.slug parameter_type parameter.slug%}
                </div>
            </div>
        </form>

    </aside>
{% endblock %}

{% block results %}
    <div id="results" class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-nobg">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">{{ parameter_type }}</h3>
                    <p> {{ parameter_type }}<span class="sep">›</span> {{ parameter.denominazione|upper }}</p>
                </div>
                <div class="panel-body">
                    <div class='col-md-12'>
                        {% include 'commons/_lines_chart_over_the_years.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /#results -->
{% endblock %}


{% block extra_js %}


    <script src="{% static 'scripts/visup/all.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/linechart_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/confronti_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/side_menu_utils.js' %}" type="text/javascript"></script>


    <script type="text/javascript">

        $(document).ready(function(){

            init_confronti_page();
            {% if parameter_type == 'indicatori' %}
                init_main_linechart({{ timeline_start_year }},{{ timeline_end_year }},"%","%");
            {% else %}
                init_main_linechart({{ timeline_start_year }},{{ timeline_end_year }});
            {% endif %}

            // binds the indicator menu toggle with the graph resize if in the classifiche or confronti page
            if($('#push-menu').length){
                $("#push-menu").on("click", function(){ linechart.resize();});
            }
        });

    </script>

    <script type="text/javascript">

        //    initialize the line graph with data

        d3.json("{% url 'confronti-data-json' territorio_1_opid=territorio_1.op_id territorio_2_opid=territorio_2.op_id parameter_type=parameter_type parameter_slug=parameter.slug %}",
            function (i) {
            linechart.data(i)
        });

    </script>

    <!-- / visup js -->

{% endblock %}

{% block extra_css %}
{#    <!-- visup css-->#}
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/visup/visup-style.css' %}" media="screen" rel="stylesheet" type="text/css" />

{#    <!-- / visup css-->#}
{% endblock %}