{% extends "bilanci/confronti_data.html" %}

{% block confronti_parameter_menu_toggle %}{% endblock %}
{% block confronti_parameter_menu %}{% endblock %}

{% block extra_js %}

{#  binds the  territorio_1, territorio_2 autocomplete fields with #}
{#  the url of the fake submit button  #}


    <script type="text/javascript">

        var url_is_correct = false;

        function changeUrl(){
            var territorio_1_slug = $("#id_territorio_1").select2("val");
            var territorio_2_slug = $("#id_territorio_2").select2("val");

            if(territorio_1_slug && territorio_2_slug){

                //sets url for the fake submit button
                var url = 'confronti/'+territorio_1_slug+"/"+territorio_2_slug+"";
                $("#confronti_submit_btn").attr("href", url);
                url_is_correct = true;
            }
            else{

                url_is_correct = false;
            }
        }


        $(document).ready(function(){

            $("#id_territorio_1").on("click", function(){ changeUrl();});
            $("#id_territorio_2").on("click", function(){ changeUrl();});

            $("#confronti_submit_btn").on('click', function(e) {
                e.preventDefault();

                //if url is correct, navigates to confronti page, else display error msg

                if(url_is_correct)
                {
                    window.location = $("#confronti_submit_btn").attr('href');
                }
                else{
                    //insert error text
                    $( "#error_msg_box_txt" ).html('ATTENZIONE, DEVI SELEZIONARE DUE COMUNI PER PROCEDERE NEL CONFRONTO')
                    //show error_msg_box
                    $("#error_msg_box").removeClass('hidden');

                }

            });
        });


    </script>
{% endblock %}