{%  extends "bilanci/confronti_home.html" %}
{% load staticfiles %}
{% load confronti_helpbox %}
{% load section_title %}
{% load section_values_type %}

{% block page_title %}
    Confronto Comune {{ territorio_1.denominazione }} con {{ territorio_2.denominazione }} su {{ selected_parameter_name }}
{% endblock %}

{% block helpbox_1 %}
    {% confronti_helpbox territorio_1 contesto_1 %}
{% endblock %}

{% block helpbox_2 %}
    {% confronti_helpbox territorio_2  contesto_2 %}
{% endblock %}

{% block share_box %}

    <!-- AddThis Button BEGIN -->
    <a class="share addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-5370d1fa1cb562ad">
         <strong>i tuoi confronti</strong> <span class="fa fa-share-alt"></span>
    </a>
    <script type="text/javascript">
        var addthis_config = {"data_track_addressbar":false   };
        var addthis_share =
        {
            "url":"{{ share_url|safe }}"
        }
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5370d1fa1cb562ad"></script>
    <!-- AddThis Button END -->
{% endblock %}

{# comparison list menu  #}
{% block confronti_parameter_menu %}
    {% include 'bilanci/hierarchical_menu.html' with page_type='confronti' parameter_list=parameter_list territorio_1_slug=territorio_1.slug territorio_2_slug=territorio_2.slug selected_par_type=selected_par_type selected_parameter_slug=selected_parameter.slug %}
{% endblock %}

{% block results %}
    <div id="results" class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-nobg">
                <div class="panel-body">

                    {#  section title / values_type                   #}
                    <div class="row">
                        <div class='{% if selected_par_type != 'indicatori' %}col-md-6{% else %}col-md-12{% endif %}'>
                            <h3>{% section_title bold_text="ANDAMENTO NEL TEMPO" secondary_bold_text=selected_parameter_name %}</h3>
                        </div>

                        {% if selected_par_type != 'indicatori' %}
                            <div class='col-md-6'>
                                {% section_values_type cas_com_type='cassa' values_type='real' tooltip=True per_capita=True %}
                            </div>
                        {% endif %}
                    </div>

                    {#  linechart               #}
                    <div class="row">
                        <div class='col-md-12'>
                            {% include 'commons/_lines_chart_over_the_years.html' %}
                        </div>
                    </div>
                </div>
            </div>
            {#  miniclassifiche indicatori    #}
            {% if selected_par_type == 'indicatori' %}
                <div class="panel panel-default panel-nobg">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'bilanci/miniclass_indicatori.html' with territorio=territorio_1 territorio_cluster=territorio_1_cluster indicatore_position=indicatore_positions_1 incarichi_attivi=incarichi_attivi_1 active_indicator_slug=parameter.slug selected_cluster_str=selected_cluster_str_1 %}

                            </div>
                            <div class="col-md-6">
                                {% include 'bilanci/miniclass_indicatori.html' with territorio=territorio_2 territorio_cluster=territorio_2_cluster indicatore_position=indicatore_positions_2 incarichi_attivi=incarichi_attivi_2 active_indicator_slug=parameter.slug selected_cluster_str=selected_cluster_str_2%}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div><!-- /#results -->


{% endblock %}


{% block extra_js %}


    <!-- Raphael -->
    <script src="{% static 'scripts/vendor/raphael/raphael.js' %}"></script>
    <script src="{% static 'scripts/vendor/g.raphael/g.raphael.js' %}"></script>
    <script src="{% static 'scripts/vendor/g.raphael/g.pie.js' %}"></script>

    <script src="{% static 'scripts/visup/all.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/linechart_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/confronti_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/parameter_menu_utils.js' %}" type="text/javascript"></script>


    <script type="text/javascript">

        $(document).ready(function(){

            init_confronti_page();
            {% if selected_par_type == 'indicatori' %}
                init_main_linechart({{ timeline_start_year }},{{ timeline_end_year }},"%","%");
            {% else %}
                init_main_linechart({{ timeline_start_year }},{{ timeline_end_year }},"€ p.c.", "Euro");
            {% endif %}

            init_parameter_menu('confronti');
        });

    </script>

    <script type="text/javascript">

        //    initialize the line graph with data

        d3.json("{% url 'confronti-data-json' territorio_1_opid=territorio_1.op_id territorio_2_opid=territorio_2.op_id parameter_type=selected_par_type parameter_slug=selected_parameter.slug %}",
            function (i) {
            linechart.data(i)
        });

    </script>

    <!-- / visup js -->

{% endblock %}

{% block extra_css %}
{#    <!-- visup css-->#}
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/visup-style.css' %}" media="screen" rel="stylesheet" type="text/css" />

{#    <!-- / visup css-->#}
{% endblock %}