<ul class="nav nav-stacked menu">
    <li class="active">
        <a href="#"><span class="icon sprite-autonomia-finanziaria"></span> {{ parameter_list_type|upper }}</a>
        <div class="scrollbox">
            <ul class="nav nav-stacked">
                {% for parameter in parameter_list %}
                    <li>
                        <a href="#">
                            <span class="icon sprite-info pull-right"></span> {{ parameter.denominazione }}
                        </a>
                    </li>

                {% endfor %}

            </ul>
        </div>
    </li>
</ul>