<div id="side-controls-wrapper">
    <div id="side-controls">
        <a href="#menu-selezione" role="button" class="slider-arrow show grouped" id="open-menu-selezione"><span class="icon sprite-open-menu-selezione"></span></a>
    </div>

    <div id="settings" class="closed alt">

        <div class="panel panel-default hidden" id="menu-selezione">
            <div class="panel-heading">
                <a href="#" role="button" href="#" class="pull-right close-menu"><span class="icon sprite-close-menu-selezione"></span></a>
                <h3 class="panel-title">Seleziona</h3>
            </div>

            <div class="panel-body">
                <div class="dropdown submenu-change">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret pull-right"></span>
                        INDICATORI
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#submenu-indicatori">INDICATORI</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#submenu-entrate">ENTRATE</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#submenu-spese">SPESE</a></li>
                    </ul>
                </div>

                <div class="multi-level-menu">
                    <ul class="nav nav-stacked menu" id="submenu-indicatori">
                        <li>
                            <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                            <a href="#">Voce 1</a>
                            <a href="#"
                                class=tip"
                                rel="info-popover"
                                data-toggle="popover"
                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                data-original-title="Contributi pubblici">
                                 <i class="fa fa-question-circle"></i>
                            </a>
                            <ul class="nav nav-stacked hidden">
                                <li>
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#">Voce 1.1</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                    <a href="#">Voce 1.2</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>

                                    <ul class="nav nav-stacked hidden">
                                        <li>
                                            <i class="fa fa-angle-left"></i>
                                            <a href="#">Voce 1.2.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                            <a href="#">Voce 1.2.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                            <ul class="nav nav-stacked hidden">
                                                <li>
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 1.2.1.1</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 1.2.1.2</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#">Voce 1.3</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                    <a href="#">Voce 1.4</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>

                                    <ul class="nav nav-stacked hidden">
                                        <li>
                                            <i class="fa fa-angle-left"></i>
                                            <a href="#">Voce 1.4.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li><!-- item lv0 end -->

                        <li class="active">
                            <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                            <a href="#">Voce 2</a>
                            <a href="#"
                                class=tip"
                                rel="info-popover"
                                data-toggle="popover"
                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                data-original-title="Contributi pubblici">
                                 <i class="fa fa-question-circle"></i>
                            </a>
                            <ul class="nav nav-stacked hidden">
                                <li>
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#">Voce 1.1</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                    <a href="#">Voce 2.2</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>

                                    <ul class="nav nav-stacked hidden">
                                        <li>
                                            <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                            <a href="#">Voce 2.1.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                            <ul class="nav nav-stacked hidden">
                                                <li>
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 2.1.1.1</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 2.1.1.2</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active">
                                            <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                            <a href="#">Voce 2.1.2</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                            <ul class="nav nav-stacked hidden">
                                                <li>
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 2.1.2.1</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 2.1.2.2</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#">Voce 2.3</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                    <a href="#">Voce 2.4</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>

                                    <ul class="nav nav-stacked hidden">
                                        <li>
                                            <i class="fa fa-angle-left"></i>
                                            <a href="#">Voce 2.4.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li><!-- item lv0 end -->
                    </ul>


                    <ul class="nav nav-stacked menu hidden" id="submenu-entrate">
                        <li>
                            <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                            <a href="#">Voce 1</a>
                            <a href="#"
                                class=tip"
                                rel="info-popover"
                                data-toggle="popover"
                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                data-original-title="Contributi pubblici">
                                 <i class="fa fa-question-circle"></i>
                            </a>
                            <ul class="nav nav-stacked hidden">
                                <li>
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#">Voce 1.1</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                    <a href="#">Voce 1.2</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>

                                    <ul class="nav nav-stacked hidden">
                                        <li>
                                            <i class="fa fa-angle-left"></i>
                                            <a href="#">Voce 1.2.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                            <a href="#">Voce 1.2.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                            <ul class="nav nav-stacked hidden">
                                                <li>
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 1.2.1.1</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 1.2.1.2</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#">Voce 1.3</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                    <a href="#">Voce 1.4</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>

                                    <ul class="nav nav-stacked hidden">
                                        <li>
                                            <i class="fa fa-angle-left"></i>
                                            <a href="#">Voce 1.4.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li><!-- item lv0 end -->
                    </ul>


                    <ul class="nav nav-stacked menu hidden" id="submenu-spese">
                        <li>
                            <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                            <a href="#">Voce 1</a>
                            <a href="#"
                                class=tip"
                                rel="info-popover"
                                data-toggle="popover"
                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                data-original-title="Contributi pubblici">
                                 <i class="fa fa-question-circle"></i>
                            </a>
                            <ul class="nav nav-stacked hidden">
                                <li>
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#">Voce 1.1</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                    <a href="#">Voce 1.2</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>

                                    <ul class="nav nav-stacked hidden">
                                        <li>
                                            <i class="fa fa-angle-left"></i>
                                            <a href="#">Voce 1.2.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                            <a href="#">Voce 1.2.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                            <ul class="nav nav-stacked hidden">
                                                <li>
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 1.2.1.1</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-angle-left"></i>
                                                    <a href="#">Voce 1.2.1.2</a>
                                                    <a href="#"
                                                        class=tip"
                                                        rel="info-popover"
                                                        data-toggle="popover"
                                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                        data-original-title="Contributi pubblici">
                                                         <i class="fa fa-question-circle"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#">Voce 1.3</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="toggler"><i class="fa fa-plus-circle"></i></a>
                                    <a href="#">Voce 1.4</a>
                                    <a href="#"
                                        class=tip"
                                        rel="info-popover"
                                        data-toggle="popover"
                                        data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                        data-original-title="Contributi pubblici">
                                         <i class="fa fa-question-circle"></i>
                                    </a>

                                    <ul class="nav nav-stacked hidden">
                                        <li>
                                            <i class="fa fa-angle-left"></i>
                                            <a href="#">Voce 1.4.1</a>
                                            <a href="#"
                                                class=tip"
                                                rel="info-popover"
                                                data-toggle="popover"
                                                data-content="<p>Lorem ipsum <a href='#'>link</a>.</p>"
                                                data-original-title="Contributi pubblici">
                                                 <i class="fa fa-question-circle"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li><!-- item lv0 end -->
                    </ul>

                </div>
            </div>
        </div>


    </div><!-- /#settings -->
</div><!-- /#side-controls-wrapper -->