<hr class="no-border">

<div class="panel panel-default">
    <div class="panel-heading clearfix">

        <div class="media pull-right">
             {% include 'bilanci/miniclass_incarichi.html' with incarichi_attivi=incarichi_attivi territorio=territorio %}
        </div>

        <h3 class="panel-title">
            {{ territorio.denominazione }}
        </h3>
        <p>Posizione in classifica per l'anno {{ last_indicatore_yr }} per tutti gli indicatori per il cluster: {{ territorio_cluster }}</p>
    </div>

    <div class="table-responsive">
        <table class="table">
            <tbody>
                {% for ip in indicatore_position %}

                    <tr>
                        <td class="col-sm-1 rate">
                            <span class="h2">{{ ip.position }}&deg;</span>
                        </td>
                        <td class="col-sm-9 text">
                            <h4 class="alt">
                                <a href="{% url 'classifiche-list' parameter_type='indicatori' parameter_slug=ip.indicatore_slug anno=last_indicatore_yr %}" data-toggle="tooltip" data-html="true" title="vai alla classifica di tutti i Comuni per questo indicatore">
                                    {{ ip.indicatore_denominazione|upper }}
                                </a>
                            </h4>
                        </td>
                        <td class="col-sm-2">
                            {#  ranking graph    #}
{#                            <div class="chart" id="rank-{{forloop.counter }}" data-chart-type="rank" data-chart-scale="1.5" data-chart-width="150" data-chart-height="30" data-chart-value="1"></div>#}
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

</div>