{% load staticfiles %}
{% load popover_info %}
{# displays info about cas/com and about values type  #}
<div class="cas_com_box pull-right" style="margin-right: 10px;">

    {% if cas_com_type %}
        <span class="values_type">
            {{ cas_com_type|upper }}
            {% if tooltip %}
                {% popover_info cas_com_type %}
            {% endif %}
        </span>
    {% endif %}
    <span class="values_type">
        VALORI {% if per_capita %}PROCAPITE{% endif %} {% if values_type == 'real' %}REALI {% else %} NOMINALI{% endif %}
        {% if tooltip %}
            {% if values_type == 'real' %}{% popover_info 'valore-reale' %}{% else %}{% popover_info 'valore-nominale' %}{% endif %}
        {% endif %}
    </span>
</div>
