{% load staticfiles %}
{% load tooltip %}
{# displays info about cas/com and about values type  #}
<div class="cas_com_box">
    {% if not hide_icon %}
        <span class="values_type">
            <img id="gear" src="{% static 'img/section_title_gear.png' %}"/>
        </span>
    {% endif %}
    {% if cas_com_type %}
        <span class="values_type">
            {{ cas_com_type|upper }}
        </span>
        <div class="values_type">
            {% if tooltip %}
                {% tooltip text=cas_com_type %}
            {% endif %}
        </div>
    {% endif %}
    <span class="values_type">
        VALORI {% if per_capita %}PROCAPITE{% endif %} {% if values_type == 'real' %}REALI{% else %} NOMINALI {% endif %}
    </span>
    <div class="values_type">
        {% if tooltip %}
            {% tooltip text=values_type %}
        {% endif %}
    </div>
</div>