{% load staticfiles %}
{% load tooltip %}

{%spaceless %}
<div class="row section_title" >
    <div class="{% if cas_com_type and values_type %}col-sm-6{% else %}col-sm-12{% endif %}">
        {#  display title text  #}
        <strong>{{ bold_text|default_if_none:''|upper }} {{ main_bilancio_type|default_if_none:''|upper }} {{ main_bilancio_year|default_if_none:'' }}
                {{ secondary_bold_text|default_if_none:''|upper }}
        </strong>

        {% if normal_text %}
            {{ normal_text|upper }}
        {% endif %}

        {% if comparison_bilancio_type and comparison_bilancio_year  %}
            A CONFRONTO CON IL {{ comparison_bilancio_type|upper }} {{ comparison_bilancio_year }}
        {% endif %}

    </div>

    {# displays info about cas/com and about values type    #}
    {% if cas_com_type and values_type %}
        {# show hide funzioni / interventi button  #}
        <div
            {% if funzioni_interventi %}
                class="col-sm-3 cas_com_box"
            {% else %}
                class="col-sm-5 cas_com_box"
            {% endif %}
                >

            <span class="element">
                <img id="gear" src="{% static 'img/section_title_gear.png' %}"/>
            </span>
            <span class="element">
                {{ cas_com_type|default_if_none:''|upper }}
            </span>
            <span class="element">
                {% tooltip text=cas_com_type %}
            </span>
            <span class="element">
                VALORI {% if per_capita %}PROCAPITE{% endif %} {% if values_type == 'real' %}REALI{% else %} NOMINALI {% endif %}
            </span>
            <span class="element">
                {% tooltip text=values_type %}
            </span>
        </div>
        {% if funzioni_interventi %}
            <div class="col-sm-3">
                <header class="clearfix">
                    <a href="{{ fun_int_url }}" class="btn btn-sm btn-default fun-int pull-right">mostra {{ fun_int_label }}</a>
                </header>
            </div>
        {% endif %}

    {% endif %}

</div>
{% endspaceless %}