{%  extends "bilanci/bilancio.html" %}
{% load staticfiles %}
{% load humanize %}

{% block page_title %}
    Spese del bilancio {{ tipo_bilancio }} per il Comune di {{ territorio }}, anno: {{ year }}
{% endblock %}

{% block bilanci_navigation_menu %}
    {% include 'bilanci/_navigation_menu.html' with active_voice='spese' %}
{% endblock %}

{% block subtitle %}spese{% endblock %}

{% block bilanci_content %}
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li ><a href="#composizione" data-toggle="tab">COMPOSIZIONE DELLE SPESE</a></li>
        <li class="active"><a href="#dettaglio" data-toggle="tab">DETTAGLIO DELLE SPESE</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in" id="composizione">
            {% include 'bilanci/_composition_widget.html' with bilancio_type='spese' %}
        </div>

        <div class="tab-pane fade in active" id="dettaglio">
            {% include 'commons/_lines_chart_over_the_years.html' %}
            <hr class="no-border">

            <!-- Default panel contents -->
            <h3>Dettaglio delle spese</h3>
            <p>Una breve descrizione del contenuto ...</p>

            {% include 'bilanci/_accordion_spese.html' %}
        </div>
    </div>
{% endblock %}




{% block extra_js %}
    <!-- visup js -->
    <script src="{% static 'scripts/visup/all.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        "use strict";
        var chart = visup.linechart(".timeline-multiline");
        chart.options({
            timeline: {
                start: 2003,
                end: 2014,
                barPadding: 3,
                format: "%Y-%m-%d",
                visible: true
            },
            linechart: {
                height: 270,
                start: 2003,
                end: 2014,
                circleRadius: 9,
                axisUnit: "MILLION",
                tooltipUnit: "MLN",
                format: "%Y",
                visible: true
            },
            legend: {
                rowItems: 2
            }
        }),
        d3.json("{% url 'incarichi-voce-json' territorio_opid=territorio_opid voce_slug='preventivo-spese-spese-correnti-totale' %}",
                function (i) {
            chart.data(i)
        });

        $(window).resize(function(){
            chart.resize();
        });


    </script>

    <!-- / visup js -->
{% endblock %}

{% block extra_css %}
{#    <!-- visup css-->#}
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/visup/visup-style.css' %}" media="screen" rel="stylesheet" type="text/css" />


{#    <!-- / visup css-->#}
{% endblock %}
