{%  extends "bilanci/bilancio.html" %}
{% load humanize %}

{% block page_title %}
    Spese del bilancio {{ selected_bilancio_type }} per il Comune di {{ territorio }}, anno: {{ year }}
{% endblock %}

{% block bilanci_navigation_menu %}
    {% include 'bilanci/_navigation_menu.html' with active_voice='spese' %}
{% endblock %}

{% block subtitle %}spese{% endblock %}

{% block bilanci_content %}
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li ><a href="#composizione" data-toggle="tab">COMPOSIZIONE DELLE SPESE</a></li>
        <li class="active"><a href="#dettaglio" data-toggle="tab">ANDAMENTO NEL TEMPO E DETTAGLIO</a></li>
    </ul>

    <hr class="no-border">

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in" id="composizione">
            {% include 'bilanci/_composition_widget.html' with bilancio_type='spese' %}
        </div>

        <div class="tab-pane fade in active" id="dettaglio">
            {% include 'commons/_lines_chart_over_the_years.html' %}

            <hr class="no-border">

            <!-- Default panel contents -->
            <header class="clearfix">
                <h3>DETTAGLIO SPESE {{ year }}</h3>
            </header>
            <p>Una breve descrizione del contenuto ...</p>

            {% include 'bilanci/_accordion_spese.html' %}
        </div>
    </div>
{% endblock %}




{% block extra_js_inner %}
    <script type="text/javascript">
        function feed_linechart(){
            d3.json(
                "{% url 'incarichi-voci-json' territorio_opid=territorio_opid voce_slug='preventivo-spese-spese-correnti' %}",
                function (i) {
                    linechart.data(i)
                }
            );
        }
    </script>
{% endblock %}

