# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

#pycharm
.idea/
.env

#south
bilanci_project/*/migrations/
scraper_project/scraper/output/
bilanci_project/bilanci/settings/local.py
couchdb_scripts/output
couchdb_scripts/settings_local.py
