# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~
*.csv#
# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

#pycharm
.idea/
.env

#deploy
deploy_config

#settings
bilanci_project/bilanci/settings/local.py

#static files & log
/log/*
/static/
assets/

#south
bilanci_project/*/migrations/

#robots
robots.txt

#dump files
dump_indicatori
dump_territori
ob_dump.sql.gz

#scraper files
scraper_project/scraper/output/
scraper_project/scraper/settings.py

#couch scripts
couchdb_scripts/output
couchdb_scripts/settings_local.py
couchdb_scripts/translate_log
oauth2/openbilanci-drive-access-f9d652b90027.json
bilanci_project/bilanci/management/commands/couch_translate_bulk.py
bilanci_project/data/fake_bilancio_example
oauth2/drive-access.json
#docs
/docs/_build/

#data
bilanci_project/dati/
dati/
/static/
assets/
open_data/
bilanci_project/data/csv
bilanci_project/data/gdocs_csv_cache/simple_map
bilanci_project/data/gdocs_csv_cache/voci_map
bilanci_project/data/xml
bilanci_project/data/zip
bilanci_project/data/xml
bilanci_project/data/indicators/
bilanci_project/data/indicators_capoluoghi/
bilanci_project/templates/visup_test.html
html_templates/
