<ul id="pagination-digg">
    {% spaceless %}
            <li>
                <a href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page=1">
                    <span class="icon sprite-arrow-left-left"></span>
                </a>
            </li>
            <li class="{% if has_previous %}more{% else %}pager-off{% endif %}">
                <a {% if has_previous %}href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ previous }}"{% endif %}>
                    <span class="icon sprite-arrow-left"></span>
                </a>

            </li>
        {% if not in_leading_range %}
            {% for p in pages_outside_trailing_range %}
                <li><a href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ p }}">{{ p }}</a></li>
            {% endfor %}
            <li><span class="ellipsis">&hellip;</span></li>
        {% endif %}
        {% for p in page_range %}
            {% if p == page %}
                <li><span class="active">{{ p }}</span></li>
            {% else %}
                <li><a href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}

            <li class="{% if has_next %}more{% else %}pager-off{% endif %}">
                <a {% if has_next %}href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ next }}"{% endif %}>
                    <span class="icon sprite-arrow-right"></span>
                </a>

            </li>
            <li class="{% if page == pages %}pager-off{% else %}more{% endif %}">
                <a href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ pages }}">
                    <span class="icon sprite-arrow-right-right"></span>
                </a>
            </li>

    {% endspaceless %}
</ul>