<!-- Main footer -->
    <footer id="footer">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <h4>il progetto</h4>
                <ul class="nav nav-stacked">
                    <li><a href="#">confronti</a></li>
                    <li class="active"><a href="#">classifiche</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <h4>cosa puoi fare</h4>
                <ul class="nav nav-stacked">
                    <li><a href="#">confronti</a></li>
                    <li><a href="#">classifiche</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <h4>servizi premium</h4>
                <ul class="nav nav-stacked">
                    <li><a href="#">confronti</a></li>
                    <li><a href="#">classifiche</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <h4>contatti</h4>
                <ul class="nav nav-stacked">
                    <li><a href="#">confronti</a></li>
                    <li><a href="#">classifiche</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
            </div>
        </div>

        <hr class="no-border">

        <h5>con il contributo di</h5>

        <ul class="list-unstyled row partners">
            <li class="col-xs-6 col-sm-3">
                <img class="img-circle" src="http://cambelt.co/60x60/1?color=ffffff" alt="">
            </li>
            <li class="col-xs-6 col-sm-3">
                <img class="img-circle" src="http://cambelt.co/60x60/2?color=ffffff" alt="">
            </li>
            <li class="col-xs-6 col-sm-3">
                <img class="img-circle" src="http://cambelt.co/60x60/3?color=ffffff" alt="">
            </li>
            <li class="col-xs-6 col-sm-3">
                <img class="img-circle" src="http://cambelt.co/60x60/4?color=ffffff" alt="">
            </li>
        </ul>
    </footer>
