{% load staticfiles %}
<!-- Main footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h4>Il progetto</h4>
                <ul class="nav nav-stacked">
                    <li><a href="/pages/faq">FAQ</a></li>
                    <li><a href="/pages/indicatori">Indicatori</a></li>
                    <li><a href="https://it.wikipedia.org/wiki/Glossario_del_bilancio_comunale" target="_blank">Wiki glossario</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h4>Cosa puoi fare</h4>
                <ul class="nav nav-stacked">
                    <li><a href="/pages/bilancio_comune">Entra nel bilancio</a></li>
                    <li><a href="/pages/mappa">Crea le tue mappe</a></li>
                    <li><a href="/pages/confronti">Fai i tuoi confronti</a></li>
                    <li><a href="/pages/classifiche">Fai le tue classifiche</a></li>
                </ul>
            </div>
            <div class="sep hidden-md hidden-lg"> </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h4>Open data e open source</h4>
                <ul class="nav nav-stacked">
                    <li><a href="/pages/software">Software utilizzati</a></li>
                    <li><a href="/pages/licenze">Licenze</a></li>
                    <li><a href="/pages/informativa">Privacy</a></li>
{#                    <li><a href="/pages/avvertenza">Avvertenze sui dati</a></li>#}
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h4>Contatti</h4>
                <ul class="nav nav-stacked">
                    <li>Depp srl</li>
                    <li>via degli Equi 42, Roma</li>
{#                    <li>Tel: +39 06 83608392</li>#}
                    <li>Email: info [at] openbilanci.it</li>
{#                    <li>Servizi: commerciale [at] depp.it</li>#}
                </ul>
                <div class="social-accounts">

                    <a class="fa-stack fa-lg" href="https://twitter.com/openpolis" target="_blank">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </a><a class="fa-stack fa-lg" href="https://www.facebook.com/openpolis" target="_blank">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </a><a class="fa-stack fa-lg" href="https://plus.google.com/+openpolis/" target="_blank">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                    </a><a class="fa-stack fa-lg" href="http://www.youtube.com/channel/UCVoiHyBePeQb8PcD9h5e1Ow" target="_blank">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                    </a><a class="fa-stack fa-lg" href="http://www.linkedin.com/company/openpolis/" target="_blank">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </a>
                </div>
            </div>
        </div>
{#                <hr class="no-border">#}
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <p class="small">E' un progetto</p>
                <ul class="list-unstyled partners clearfix">
                    <li>
                        <a href="http://www.depp.it" class="depp"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-2">
                <p class="small">In collaborazione con</p>
                <ul class="list-unstyled partners clearfix">
                    <li>
                        <a href="http://www.openpolis.it" class="openpolis" target="_blank"><img src="{% static 'img/openpolis.png' %}"
                                                               alt="Openpolis"/></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-8 clearfix">
                <p class="small">Realizzato con il cofinanziamento dell’Unione Europea</p>
                <ul class="list-unstyled partners clearfix">
                    <li>
                        <a href="http://europa.eu" class="ce" target="_blank"></a>
                    </li>
                    <li>
                        <a href="http://www.regione.lazio.it" class="rl" target="_blank"></a>
                    </li>
                    <li>
                        <a href="http://porfesr.lazio.it/PORFESR/home.html" class="por" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>