<!-- Main header -->
<header id="header">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-default navbar-main" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Mostra/nascondi nvigazione</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Open<strong>Bilanci</strong><small>tagline</small></a>

                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ><span class="icon sprite-confronti"></span> confronti</a></li>
                        <li>
                            <a
{#                                href="{% url 'classifiche-redirect' %}"#}
                            >
                                <span class="icon sprite-classifiche"></span>
                                classifiche
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="icon sprite-blog"></span> blog
                            </a>
                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.navbar -->
        </div>
    </div>
</header>