<!-- Static navbar -->
<div class="navbar navbar-default navbar-main" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Mostra/nascondi nvigazione</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Open<strong>Bilanci</strong><small>tagline</small></a>
        <form role="search" class="pull-left">
            <div class="form-group">
                <label class="sr-only" for="city">Cerca un comune</label>
                <input type="text" class="form-control" id="city" placeholder="CERCA UN COMUNE">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <!--button type="submit" class="btn btn-default">Submit</button-->
        </form>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-map-marker"></span> mappa</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> classifiche</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> community</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> login</a></li>
        </ul>
    </div><!-- /nav-collapse -->
</div><!-- /Static navbar -->
