<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Open Bilanci - {% block page_title %}{% endblock %}</title>

        <!-- jQuery (needed in head for select2) -->
        <script src="{% static 'scripts/vendor/jquery/jquery.js' %}"></script>

        <!-- Bootstrap Styles -->
        <link href="{% static 'scripts/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


        <!-- Custom style -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

        <!-- Use this to quickly test CSS changes in a template,
            then move to project.css -->
        {% block extra_css %}{% endblock extra_css %}

    </head>


    <body>
        <div class="container">

            <!-- Main menu -->
            {% include 'commons/navbar.html' %}


            <div class="row">
                <!-- content -->
                <div class="panel" id="main-content">
                    {% block content %}
                        <p>Hello, I'm a base template and shouldn't appear anywhere!</p>
                    {% endblock content %}
                </div>
            </div>
            <div class="row">
                <!-- Footer -->
                {% include 'commons/footer.html' %}
            </div>

        </div> <!-- /container -->


        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'scripts/vendor/bootstrap/js/bootstrap.js' %}"></script>
        <!-- Enscroll -->
        <script src="{% static  'scripts/vendor/enscroll/js/mylibs/enscroll.js' %}"></script>


        {% block extra_js %}{% endblock extra_js %}

        <!-- Custom scripts -->
        <script src="{% static 'scripts/main.js' %}"></script>
        <script src="{% static 'scripts/project.js' %}"></script>



    </body>

</html>
