<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Open Bilanci - {% block page_title %}{% endblock %}</title>

        <meta property="og:title" content="Open Bilanci" />
        <meta property="og:site_name" content="Open Bilanci" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site_full_url }}" />
        <meta property="og:image" content="{{ site_full_url }}{% static 'img/social_image.png' %}" />

        <!-- jQuery (needed in head for select2) -->
        <script src="{% static 'scripts/vendor/jquery/jquery.js' %}"></script>

        <!-- Bootstrap Styles -->
        <link href="{% static 'scripts/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


        <!-- Custom style -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

        <link href="{% static 'css/popover.css' %}" rel="stylesheet" />

        <link href="{% static 'css/select2-bootstrap.css' %}" rel="stylesheet" />

        <!-- Use this to quickly test CSS changes in a template,
            then move to project.css -->
        {% block extra_css %}{% endblock extra_css %}

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    </head>


    <body id={% block body_id %}{% endblock %}>

        {% block container %}
            <div class="container">

                <!-- Main menu -->
                {% block main_menu %}
                    {% if request.servizi_comuni %}
                        {% include 'services/header.html' %}
                    {% else %}
                        {% include 'commons/header.html' %}
                    {% endif %}
                {% endblock %}



                <div class="row">
                    <!-- content -->
                    <div class="panel" id="main-content">
                        {% block content %}
                            <p>Hello, I'm a base template and shouldn't appear anywhere!</p>
                        {% endblock content %}
                    </div>
                </div>

                <div class="row">
                    {% block footer %}
                        <!-- Footer -->
                        {% if request.servizi_comuni %}
                            {% include 'services/footer.html' %}
                        {% else %}
                            {% include 'commons/footer.html' %}
                        {% endif %}
                    {% endblock %}
                </div>

            </div> <!-- /container -->
        {% endblock %}


        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'scripts/vendor/bootstrap/js/bootstrap.js' %}"></script>
        <!-- Enscroll -->
        <script src="{% static  'scripts/vendor/enscroll/js/mylibs/enscroll.js' %}"></script>
        <!-- Project scripts -->
        <script src="{% static 'scripts/project.js' %}"></script>

        {% if not request.servizi_comuni %}
            <script src="{% static 'scripts/select2_locale_it.js' %}"></script>
        {% endif %}

        {% block extra_js %}{% endblock extra_js %}
        <!-- Html designer scripts -->
        <script src="{% static 'scripts/main.js' %}"></script>

        {% block google_analytics %}{% include 'commons/ga.html' %}{% endblock%}




    </body>

</html>
