{%  extends "base.html" %}

{% block page_title %}
    Confronto comuni {{ territorio_1.denominazione }} con {{ territorio_2.denominazione }}
{% endblock %}


{% block content_title %}
    Confronto comuni {{ territorio_1.denominazione }} con {{ territorio_2.denominazione }}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            Confronto comune {{ territorio_1.denominazione }} con {{ territorio_2.denominazione }} per l'anno z
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3">
            Confronta il Comune di {{ territorio_1.denominazione }} con {{ territorio_2.denominazione }}
        </div>

    </div>

{% endblock %}