{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Open Bilanci</title>
        <!-- Bootstrap -->
        <!-- jQuery (needed in head for select2) -->
        <script src="{% static 'scripts/vendor/jquery/jquery.js' %}"></script>
        <link href="{% static 'scripts/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom style -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
<body id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-6">
                 <!-- AddThis Button BEGIN -->
                <a class="share pull-right addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-5370d1fa1cb562ad">
                    Condividi <span class="icon sprite-share"></span>
                </a>
                <script type="text/javascript">
                    var addthis_config = {"data_track_addressbar":false   };
                    var addthis_share =
                                    {
                                       "url":"{{ share_url|safe }}"
                                    }
                </script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5370d1fa1cb562ad"></script>
                <!-- AddThis Button END -->

            </div>
        </div>

        <!-- Main header -->
        <header id="header">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">

                        <h1>
                            <span class="brand">open<strong>bilanci</strong><small>rendiamoci conto</small></span>
                        </h1>

                        <h2>
                            I bilanci di tutti i comuni italiani degli ultimi dieci anni<br>
                            i nomi dei Sindaci a cui chiedere conto
                        </h2>

                    </div>
                </div>
            </div>
        </header>

        <!-- Main panel -->
        <div id="main-content">
            <section id="intro" data-speed="6" data-type="background">
                <div class="container">
                    <form class="form" role="form">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label class="sr-only" for="city">Cerca un comune</label>
                                    <input type="text" class="form-control" id="city" placeholder="CERCA UN COMUNE, SCOPRI I SUOI BILANCI">
                                    <span class="icon sprite-search-alt"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-4">
                                <h3>
                                    <a href="#">
                                        <span class="icon sprite-confronti-big"></span>
                                        confronti
                                    </a>
                                </h3>
                                <p>Lorem Ipsum is simply dummy</p>
                            </div>
                            <div class="col-sm-4">
                                <h3>
                                    <a href="#">
                                        <span class="icon sprite-classifiche-big"></span>
                                        classifiche
                                    </a>
                                </h3>
                                <p>Lorem Ipsum is simply dummy</p>
                            </div>
                            <div class="col-sm-4">
                                <h3>
                                    <a href="#">
                                        <span class="icon sprite-mappa-big"></span>
                                        mappe
                                    </a>
                                </h3>
                                <p>Lorem Ipsum is simply dummy</p>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section id="slider">

                <div class="modal fade video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <iframe src="//player.vimeo.com/video/94017018" width="100%" height="340" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!--ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol-->

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'img/slide_temp.jpg' %}" alt="...">
                            <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/slide_temp.jpg' %}" alt="...">
                            <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/slide_temp.jpg' %}" alt="...">
                            <div class="carousel-caption"></div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>

                    <!-- Open video -->
                    <div class="container video-holder">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary pull-right" data-toggle="modal" data-target=".video-modal">
                                    <i class="fa fa-play-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="from-the-blog"  data-speed="6" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Dal Blog</h1>
                        </div>
                    </div>
                    <ul class="list-unstyled row">
                        <li class="col-sm-4">
                            <hr>
                            <h3><a href="#" title="">Decreto Droghe: primo voto per il post Fini-Giovanardi</a></h3>
                            <p class="small"><time datetime="2014-01-12"><span class="icon sprite-calendar"></span> 12 gennaio 2014</time></p>
                            <div class="text">
                                <p>
                                    Considerata l’apertura del Governo Renzi sui temi della
                                    trasparenza, dell’accountability e dell’opendata, <strong>Effeddì e
                                    Openpolis intendono rilanciare il tema Opensiope.</strong>
                                </p>
                            </div>
                            <footer>
                                <p class="small tags"><span class="icon sprite-tag"></span> <a href="#">bilanci</a>, <a href="#">corruzione</a>, <a href="#">trasparenza</a></p>
                            </footer>
                        </li>
                        <li class="col-sm-4">
                            <hr>
                            <h3><a href="#" title="">Decreto Droghe: primo voto per il post Fini-Giovanardi</a></h3>
                            <p class="small"><time datetime="2014-01-12"><span class="icon sprite-calendar"></span> 12 gennaio 2014</time></p>
                            <div class="text">
                                <p>
                                    Considerata l’apertura del Governo Renzi sui temi della
                                    trasparenza, dell’accountability e dell’opendata, <strong>Effeddì e
                                    Openpolis intendono rilanciare il tema Opensiope.</strong>
                                </p>
                            </div>
                            <footer>
                                <p class="small tags"><span class="icon sprite-tag"></span> <a href="#">bilanci</a>, <a href="#">corruzione</a>, <a href="#">trasparenza</a></p>
                            </footer>
                        </li>
                        <li class="col-sm-4">
                            <hr>
                            <h3><a href="#" title="">Decreto Droghe: primo voto per il post Fini-Giovanardi</a></h3>
                            <p class="small"><time datetime="2014-01-12"><span class="icon sprite-calendar"></span> 12 gennaio 2014</time></p>
                            <p class="text">
                                Considerata l’apertura del Governo Renzi sui temi della
                                trasparenza, dell’accountability e dell’opendata, <strong>Effeddì e
                                Openpolis intendono rilanciare il tema Opensiope.</strong>
                            </p>
                            <footer>
                                <p class="small tags"><span class="icon sprite-tag"></span> <a href="#">bilanci</a>, <a href="#">corruzione</a>, <a href="#">trasparenza</a></p>
                            </footer>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Servizi per i Comuni</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Aggiornamento dei dati</h2>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem
                                Ipsum has been the industry's...
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h2>Comunicazione del bilancio</h2>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem
                                Ipsum has been the industry's...
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h2>Personalizzazione</h2>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem
                                Ipsum has been the industry's...
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="#" class="btn btn-default more-info">MAGGIORI DETTAGLI</a>
                        </div>
                    </div>
                </div>
            </section>


            <section id="open-data" data-speed="6" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Dati aperti</h1>
                            <h2>
                                Lorem Ipsum is simply dummy text of the printing industry<br>
                                Lorem Ipsum is simply dummy text ...<br>
                                Lorem Ipsum is simply dummy text of the printing...<br>
                            </h2>
                        </div>
                    </div>
                </div>
            </section>

        </div><!-- /.panel -->

        <!-- Main footer -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-15">
                        <h4>il progetto</h4>
                        <ul class="nav nav-stacked">
                            <li><a href="#">confronti</a></li>
                            <li class="active"><a href="#">classifiche</a></li>
                            <li><a href="#">blog</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-15">
                        <h4>cosa puoi fare</h4>
                        <ul class="nav nav-stacked">
                            <li><a href="#">confronti</a></li>
                            <li><a href="#">classifiche</a></li>
                            <li><a href="#">blog</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-15">
                        <h4>servizi premium</h4>
                        <ul class="nav nav-stacked">
                            <li><a href="#">confronti</a></li>
                            <li><a href="#">classifiche</a></li>
                            <li><a href="#">blog</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-15">
                        <h4>altro</h4>
                        <ul class="nav nav-stacked">
                            <li><a href="#">confronti</a></li>
                            <li><a href="#">classifiche</a></li>
                            <li><a href="#">blog</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-15">
                        <h4>contatti</h4>
                        <ul class="nav nav-stacked">
                            <li><a href="#">confronti</a></li>
                            <li><a href="#">classifiche</a></li>
                            <li><a href="#">blog</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="no-border">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <p class="small">E' un progetto</p>
                        <ul class="list-unstyled partners clearfix">
                            <li>
                                <a href="#" class="depp"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-10 clearfix">
                        <p class="small">Realizzato con il cofinanziamento dell’Unione Europea</p>
                        <ul class="list-unstyled partners clearfix">
                            <li>
                                <a href="#" class="ce"></a>
                            </li>
                            <li>
                                <a href="#" class="rl"></a>
                            </li>
                            <li>
                                <a href="#" class="por"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div> <!-- /.container -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'scripts/vendor/bootstrap/js/bootstrap.js' %}"></script>
    <!-- Enscroll -->
    <script src="{% static  'scripts/vendor/enscroll/js/mylibs/enscroll.js' %}"></script>

    <!-- Html designer scripts -->
    <script src="{% static 'scripts/main.js' %}"></script>
    <!-- Project scripts -->
    <script src="{% static 'scripts/project.js' %}"></script>
    <script src="{% static 'scripts/select2_locale_it.js' %}"></script>

</body>
</html>