{%  extends "base.html" %}
{% load popover_info %}
{% load staticfiles %}
{% load feedparse %}

{% block page_title %}
    Home page
{% endblock %}

{% block body_id %}home{% endblock %}

{% block extra_js %}
    <!-- Home scrolling -->
    <script src="{% static 'scripts/vendor/jquery.debouncedresize/js/jquery.debouncedresize.js' %}"></script>
    <script src="{% static 'scripts/vendor/jquery.easing/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'scripts/vendor/jquery-waypoints/waypoints.min.js' %}"></script>
    <script>
        $(document).ready(function(){ $('#from-the-blog').find('a').attr("target", "_blank"); })
    </script>
{% endblock extra_js%}

{% block container %}

    <!-- Main header -->
    <header id="header">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">

                    <h1>
                        <span class="brand">open<strong>bilanci</strong><small>rendiamoci conto</small>
                            {% if settings.SITE_VERSION %}
                                <small class="version">{{ settings.SITE_VERSION }}</small>{% endif %}</span>
                    </h1>

                    <h2 style="color:white;">
                        I bilanci di tutti i Comuni italiani <br class="hidden-md hidden-lg">dal 2005 al 2015<br>
                        i Sindaci a cui chiedere conto
                    </h2>

                    <h2>
                        <a href="https://www.openbilanci.it">Vai ai nuovi dati dei <i>bilanci armonizzati</i>, a partire dal 2016</a>
                    </h2>

                </div>
            </div>
        </div>
    </header>

    <!-- Main panel -->
    <div id="main-content">
        <section id="intro">
            <div class="container">
                <form role="search" class="pull-left autosubmit" action="{% url 'bilanci-search' %}" method="get">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                            <div class="form-group">
                                {{ territori_search_form_home }}
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <h3>
                                <a href="{% url 'confronti-home' %}">
                                    <span class="icon sprite-confronti-big"></span>
                                    confronti
                                </a>
                            </h3>
                            <p>confronta due Comuni: cifre, indicatori, gestione dei Sindaci. Condividi quello che trovi</p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <h3>
                                <a href="{% url 'classifiche-redirect' %}">
                                    <span class="icon sprite-classifiche-big"></span>
                                    classifiche
                                </a>
                            </h3>
                            <p>chi spende di pi&ugrave; per la cultura? chi ha le tasse più alte? crea e diffondi la tua classifica</p>
                        </div>
                        {% comment %}
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <h3>
                                <a href="{% url 'mappe' %}" title="Mappe">
                                    <span class="icon sprite-mappa-big"></span>
                                    mappe
                                </a>
                            </h3>
                            <p>cosa cambia da nord a sud nei bilanci dei Comuni? crea la tua mappa e condividi</p>
                        </div>
                        {% endcomment %}
                    </div>
                </form>
            </div>
        </section>

        <section id="slider">

            <div id="carousel" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static 'img/slides/slide_01.jpg' %}" alt="...">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                        <img src="{% static 'img/slides/slide_02.jpg' %}" alt="...">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                        <img src="{% static 'img/slides/slide_03.jpg' %}" alt="...">
                        <div class="carousel-caption"></div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>

            </div>
        </section>

        {% comment %}
        <section id="imported_xml" style="background-color: white;">
            <div class="container">
                {% include 'commons/import_list.html' %}
            </div>
        </section>
        {% endcomment %}

        <section id="from-the-blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1><a href="http://blog.openpolis.it/categorie/neibilanci/">Dal Blog</a></h1>
                    </div>
                </div>
                <ul class="list-unstyled row">
                    {% for blog_post in op_blog_posts %}
                    <li class="col-sm-4">
                        <hr>
                        <h3><a href="{{ blog_post.link }}">{{ blog_post.title }}</a></h3>
                        <p class="small"><time datetime="{{ blog_post.published_parsed|time_to_datetime|date:'Y-m-d' }}"><span class="icon sprite-calendar"></span> {{ blog_post.published_parsed|time_to_datetime|date:'d F Y' }}</time></p>
                        <div class="text">{% if blog_post.excerpt %}
                            {{ blog_post.excerpt|safe }}{% else %}{{ blog_post.content.0.value|truncatewords_html:40|safe }}{% endif %}
                        </div>
                        <footer>
                            <p class="small tags">{% for tag in blog_post.tags %}{% if tag.term.0|lower == tag.term.0 %}<a href="http://blog.openpolis.it/argomenti/{{ tag.term|lower|slugify }}/">{{ tag.term }}</a>{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}</p>
                        </footer>
                    </li>
                    
                    {% endfor %}

                </ul>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="http://blog.openpolis.it/categorie/neibilanci/" class="muted">Leggi tutti</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>I Comuni che adottano Open bilanci scelgono:</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Trasparenza tempestiva</h2>
                        <p class="text">
                          Ora c'&egrave; una piattaforma nazionale dove il tuo Comune può pubblicare subito l'ultimo bilancio approvato - adesso siamo ancora al preventivo 2013! Senza dati aggiornati non c'&egrave; trasparenza n&eacute; partecipazione
                      </p>
                    </div>
                    <div class="col-sm-4">
                        <h2>Accesso totale</h2>
                        <p class="text">
                            I cittadini possono vedere i bilanci anche attraverso il sito web del Comune, sfruttando tutti gli strumenti di visualizzazione, confronto, condivisione e scarico dati di Open bilanci</p>
                    </div>
                    <div class="col-sm-4">
                        <h2>Rendicontazione puntuale</h2>
                        <p class="text">
                            Non sarebbe meglio se il sindaco spiegasse puntualmente, a fianco di cifre e grafici, come e  perch&eacute; una tariffa &egrave; cresciuta o un servizio ridotto? Open bilanci serve anche a questo</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <!--a href="#" class="btn btn-default more-info">MAGGIORI DETTAGLI</a-->
                    </div>
                </div>
            </div>
        </section>


        <section id="open-data" data-speed="6" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Dati aperti</h1>
                        <h2>
                            I bilanci degli ultimi dieci anni di tutti i Comuni sono ora realmente pubblici. <br/>
                            Una grande quantit&agrave; di dati grezzi e ufficiali in formati leggibili da computer e liberamente riusabili, pronti per essere scaricati da cittadini, media e ricercatori.<br>
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <nav id="nav-links" class="hidden">
            <a href="#intro" class="current">Section 1</a>
            <a href="#slider">Section 2</a>
            <a href="#from-the-blog">Section 3</a>
            <a href="#services">Section 4</a>
            <a href="#open-data">Section 5</a>
        </nav>

        <div id="more-content">
            <p class="h1 text-center">
                <a href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </p>
        </div>

    </div><!-- /#main-content -->

    {% include 'commons/footer.html' %}

{% endblock container %}
