{%  extends "base.html" %}

{% block page_title %}
    Login
{% endblock %}

{% block main_menu %}
    {% include 'commons/header_noauth.html' %}
{% endblock %}
{% block footer %}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% if form.errors %}
                <p style="font-weight: bold; background-color: #c1534c;padding: 15px;">Username e password non corretti. Riprova</p>
            {% endif %}


            <div style="height: 200px">
                <div style="margin-top: 50px; text-align: center; font-weight: normal;">
                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-signin" role="form">
                        {% csrf_token %}
                        <h2 class="form-signin-heading">Login al sito</h2>
                        <input type="text" class="form-control" placeholder="Username" name="username" required="" autofocus="">
                        <input type="password" class="form-control" placeholder="Password" name="password" required="">
                        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}" />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
