{%  extends "base.html" %}
{% load front_tags %}

{% block content %}
    {% front_edit_scripts %}
    <h1>
        {% front_edit "title" request.path %}
            Default title
        {% end_front_edit  %}
    </h1>
    <h3>
        {% front_edit "subtitle" request.path %}
            Default subtitle
        {% end_front_edit  %}
    </h3>
    <p>
        {% front_edit "content" request.path %}
            Default content
        {% end_front_edit  %}
    </p>

{% endblock %}

{% block extra_js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

{% endblock %}