/* Info popovers styles */
a[rel=info-popover] i {
  color: #999999;
}
a[rel=info-popover]:hover i {
  color: #4788c2;
}
a[rel=info-popover]:hover {
  text-decoration: none;
}
.popover .popover-inner {
  border: 1px solid #999999 !important;
  padding: 0!important;
  background-color: #ffffff;
}
.popover .popover-title {
  margin: 2px;
  background-color: #f4f477;
  font-weight: bold;
}

.popover .popover-content {
    font-weight: normal;
}
