/**
 * Main style
 * @author mleone <manuel.leone@gmail.com>
 * @version 1.6.0
 **/

// variables
@import "variables.less";

// mixins
@import "mixins.less";

// base tags
body {
    background-color: @baseColor;
    font-family: @mainFont;
    font-weight: @light;
    font-size: @baseFontSize;
    color: @textColor;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: @mainFont;
    font-weight: @light;
    color: @textColor;
}

a {
    color: @activeColor;
    text-decoration: none;
}

a:hover, a:focus {
    color: @textColor;
    outline: none;
    text-decoration: underline;
}

a:visited {
    color: @visitedColor;
}

// classes
.share {
    color: @activeColor;
    text-transform: uppercase;
    font-size: .8em;
    padding: 9px 15px;

    .glyphicon {
        margin-left: .3em;
    }
}

.share:hover {
    color: @activeColor;
}

.download {
    text-transform: uppercase;
    font-size: .8em;
    padding: 5px;

    .glyphicon {
        margin-left: .3em;
    }
}

.download:hover {
    color: @altTextColor;
}

.location {
    border-right: 1px solid #ddd;
    margin-right: 4px;
    padding-right: 6px;
}

.text-alt {
    color: @activeColor;
}

.no-border {
    border-color: transparent;
    margin: 15px 0;
}

.stripe {
    margin-bottom: 30px;
}

.goto-top {
    background: #b9c6c4;
    border-color: #b9c6c4;
    color: #57616c;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;

    span {
        font-size: 10px;
    }

    &:hover {
        border-color: #b9c6c4;
    }
}

.more-info, .more-info:visited{
    background: #b9c6c4;
    border-color: #b9c6c4;
    color: #57616c;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;

    span {
        font-size: 10px;
    }

    &:hover {
        background-color: @activeColor;
        border-color: @activeColor;
        color: #fff;
    }

    &.close {
        border-color: #b9c6c4;
    }
}

.tip {
    z-index: 1;
}

.tooltip.top .tooltip-arrow {
    border-top-color: @textColor;
}

.tooltip-inner {
    background-color: #fff;
    color: @textColor;
    border: 1px solid @textColor;
    text-align: left;

    .link {
        color: @activeColor;
    }
}

.popover .popover-title {
    background-color: @activeColor;
    color: #fff;
}

.video-modal {
    iframe {
        display: block;
    }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

// navbar-main
.navbar-main {
    background: transparent;
    border-color: transparent;
    color: #fff;
    margin-top: 20px;

    .navbar-brand {
        color: #fff;
        font-size: 30px;
        padding-top: 10px;

        small {
            display: block;
            font-size: 12px;
            text-align: right;
        }
    }

    .navbar-brand:hover,
    .navbar-brand:focus {
        color: #fff;
    }

    .navbar-header {
        form {
            margin: 7px 0;
            width: 280px;

            .form-group {
                margin-bottom: 0;
                position: relative;
            }

            .form-control {
                background: transparent;
                color: #fff;
                padding-right: 34px;

                &:-moz-placeholder {
                    color: @altTextColor;
                    font-weight: @light;
                }

                &::-moz-placeholder {
                    color: @altTextColor;
                    font-weight: @light;
                }

                &:-ms-input-placeholder {
                    color: @altTextColor;
                    font-weight: @light;
                }

                &::-webkit-input-placeholder {
                    color: @altTextColor;
                    font-weight: @light;
                }
            }

            .sprite-search {
                position: absolute;
                top: 10px;
                left: auto;
                right: 12px;
            }
        }
    }

    .navbar-nav > li > a {
        color: @altTextColor;

        .icon {
            margin-right: .3em;
        }
    }

    .nav > li.active > a,
    .nav > li.active > a:hover,
    .nav > li > a:hover,
    .nav > li > a:focus {
        background: none;
        color: #fff;
    }

    .nav > li.active > a {
        color: #fff;
        font-weight: @normal;
    }
}

// navbar-subnav
.navbar-subnav {
    margin-top: 0;
    background: @textColor;
    min-height: 0;
    .border-radius(0);

    .nav > li {
        border-right: 1px solid #fff;
    }

    .nav > li > a {
        color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .nav > li.active > a,
    .nav > li.active > a:hover,
    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: @baseColor;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

// main-content
#main-content {

    position: relative;
    overflow: hidden;
    //padding: 20px;

    @media (min-width: 380px) {
        padding: 20px;
    }

    > .panel-heading {
        padding-bottom: 0;
        padding-top: 15px;
        > .panel-title {
            font-size: 38px;
        }
    }

    .panel-default > .panel-heading {
        background-color: #fff;
    }

    .panel-title.text-alt {
        font-size: 34px;
    }

    .nav-tabs.nav-justified > li > a {
        text-align: left;
        font-size: 18px;
    }

    .band {
        border-top: 1px solid @textColor;
        border-bottom: 1px solid @textColor;
        padding: 5px 0;

        p {
            margin: 0;
        }
    }

    // timeline
    .timeline {
        margin-bottom: 40px;
    }

    // faqs
    .faqs {
        a, h3 {
            color: #57616c;
            font-weight: @normal;
        }


        .faq {

            > li {

                margin-bottom: 6px;

                a {
                    .icon {
                        margin-right: 6px;
                    }
                }

                a:hover {
                    text-decoration: none;
                    color: #b5bdc4;
                }
            }
        }

        .faqs-q {
            margin-bottom: 80px;
        }

        .faqs-a {
            article {
                margin-bottom: 40px;
            }
        }
    }

    // toggle-menu
    #toggle-menu.active {
        float: right;
    }

    // scrollbox
    .scrollbox {
        overflow: auto;
        width: auto !important;
        height: 200px;
        padding: 0 5px;
    }

    .track {
        width: 10px;
        background: rgba(0, 0, 0, 0);
        margin-right: 2px;
        .border-radius(10px);
        .transition(background 250ms linear);
    }

    .track:hover,
    .track.dragging {
        background: #d9d9d9; /* Browsers without rgba support */
        background: rgba(0, 0, 0, 0.15);
    }

    .handle {
        width: 7px;
        right: 0;
        background: #999;
        background: rgba(0, 0, 0, 0.4);
        .border-radius(7px);
        .transition(width 250ms);
    }

    .track:hover .handle,
    .track.dragging .handle {
        width: 10px;
    }

    // User avatar
    .media {

        figure {
            width: 42px;
            height: 42px;
            margin-top: 10px;
            display: inline-block;
            overflow: hidden;
            background: #ccc;

            img {
                width: 42px;
            }
        }

        h4 {
            margin-bottom: 0;
            text-transform: uppercase;

            small {
                font-weight: @light;
                margin-left: 16px;
            }
        }
    }

    #log {
        overflow: hidden;
        padding: 15px;

        .sprite-status {
            margin: 6px 10px 0 0;
            float: left;
        }
    }

}


#main-content.map {

    .panel-body {

    }

    #map-canvas {
        min-height: 800px;
        background: #605c5c;
    }
}


#main-content.map.full {
    background: #605c5c;
    border: none;
    padding: 0;

    > .panel-body {
        padding: 0;
    }

    .timeline .col-sm-12 {


        > * {
            background: #fff;
            padding: 35px 50px;
        }

    }
}

// results
#results {

    thead > tr > th {
        background: @activeColor;
        font-weight: @light;
        color: #fff;
        border-bottom: 0 none;
        border-right: 1px solid #fff;

        .btn {
            border: none;
            background: transparent;
            font-weight: @light;
            color: #fff;
            padding: 0;
            .box-shadow(none);
        }
    }

    thead > tr > th:last-child {
        border-right: 0 none;
    }

    tr.collapse.in {
        display: table-row;
    }

    th.alt {
        background: @activeColor;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td {
        background-color: #e2e8e7;
    }

    .table > tbody > tr:hover > td {
         background-color: #b9c6c4;
    }

    .table.no-hover tbody > tr:hover > td {
         background-color: transparent;
    }

    .table > tbody > tr.active > td {
         background-color: @textColor;
         * {
            color: #fff;
         }
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .table caption {
        background-color: @baseColor;
        text-align: left;
        color: #fff;
        padding: 15px 8px;
        font-weight: @heavy;
        line-height: 21px;

        .icon {
            vertical-align: text-bottom;
            margin-right: 6px;
        }
    }

    td.actions {
        .h3 {
            font-weight: @heavy;
            margin: 0;

            small {
                display: inline;
                color: @textColor;
                font-size: 60%
            }
        }
    }

    td.chart-wrapper {
        .chart {
            width: 40px;
            height: 40px;
            overflow: hidden;
            display: block;

            /* Firefox 10+, Firefox on Android */
            //filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");

            /* IE 6-9 */
            //filter: gray;

            /* Chrome 19+, Safari 6+, Safari 6+ iOS */
            //-webkit-filter: grayscale(100%);
        }

        .label {
            color: @textColor;
            font-weight: @normal;
            display: inline-block;
            text-align: left;
            width: 45%;
        }

        .value {
            font-weight: @heavy;;
        }
    }

    .shown td.chart-wrapper .chart {
        //filter: none;
        //-webkit-filter: grayscale(0%);
    }

    td.rate {
        .h2 {
            font-weight: @heavy;
            margin-top: 0;
            margin-bottom: 0;

            .small {
                color: inherit;
                font-size: 18px;
            }
        }

        p.h2 {
            margin-bottom: 20px;
        }

        .chart {
            margin-top: 10px;
        }
    }

    td.entry {
        font-weight: @normal;

        small {
            font-weight: @light;
        }
    }

    td.details {
        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    td.text {

        > h4 {
            margin: 0;
        }

        .alt a {
            color: @textColor;
        }

        .media {
            margin: 0;
            font-size: 12px;

            .h4 {
                font-size: 13px;
                margin: 0;

                a {
                    font-weight: @heavy;
                }
            }

            figure {
                border: 2px solid #fff;
                margin-top: 0;
            }

            p {
                margin: 0;
            }
        }
    }

    td.pos {
        text-align: right;

        .h3 {
            font-weight: @heavy;
            line-height: 43px;
        }
    }

    tr:hover .sprite-trend-up-3 { background-position: -285px -186px; width: 44px; height: 43px; }
    tr:hover .sprite-trend-up-2 { background-position: -285px 0; width: 44px; height: 43px; }
    tr:hover .sprite-trend-up-1 { background-position: -190px -1853px; width: 44px; height: 43px; }
    tr:hover .sprite-trend { background-position: -190px -1667px; width: 44px; height: 43px; }
    tr:hover .sprite-trend-down-1 { background-position: -190px -1481px; width: 44px; height: 43px; }
    tr:hover .sprite-trend-down-2 { background-position: -190px -1295px; width: 44px; height: 43px; }
    tr:hover .sprite-trend-down-3 { background-position: -190px -1109px; width: 44px; height: 43px; }

    .collapse-toggle {
        float: left;
        //margin-bottom: 25px;
    }

    .table.entrate {
        > tbody > tr > td {
            border-top: 2px solid @baseColor;
        }

        > tbody > tr.panel-collapse td td {
            border-top: 1px dashed @baseColor;
        }

        > tbody > tr.panel-collapse td td td {
            border-top: 1px dotted @baseColor;
        }

        > tbody tr.panel-collapse > td {
            border-top: none !important;
        }

        .collapse-toggle .icon {
            margin-right: 6px;
        }

    }

    .tab-pane {
        header {

            margin-bottom: 5px;

            > * {
                float: left;
            }

            h3 {
                margin: 0;
                padding: 3px 0;
            }

            .functions {
                margin: 0 10px;
            }
        }
    }



    .panel-default {

        border-color: @baseColor;

        h3, h4, h5 {
            font-weight: @heavy;
        }

        .panel-heading {
            .media {
                font-size: 13px;

                .h4 {
                    margin: 5px 0 0;

                    a {
                        color: @activeColor;
                    }
                }

                figure {
                    margin-top: 0;
                }

                .borded {
                    border: 3px solid #ddd;
                    width: 50px;
                    height: 50px;
                    margin-top: 8px;

                    img {
                        width: 50px;
                    }
                }
            }
        }

        .panel-title {
            font-size: 24px;
            line-height: 34px;
        }

        .search {
            margin-bottom: 0;
            margin-left: 20px;
            position: relative;

            .form-control:-moz-placeholder {
                color: @textColor;
                font-weight: @light;
            }

            .form-control::-moz-placeholder {
                color: @textColor;
                font-weight: @light;
            }

            .form-control:-ms-input-placeholder {
                color: @textColor;
                font-weight: @light;
            }

            .form-control::-webkit-input-placeholder {
                color: @textColor;
                font-weight: @light;
            }

            .sprite-search-alt {
                position: absolute;
                top: 10px;
                left: auto;
                right: 12px;
            }
        }

        .panel-body {
             padding-bottom: 0;
        }

        .panel-footer {
            padding-bottom: 0;
            padding-top: 0;
        }

        .pagination-wrapper {
            margin: 0 -15px;
            line-height: 28px;
            background: @textColor;
            color: #fff;

            > ul {
                margin: 0;
                padding: 0;

                > li {
                    display: inline;

                    > a, > span {
                        background-color: transparent;
                        color: #fff;
                        border-right: 1px solid #ddd;
                        float: left;
                        padding: 2px 12px;
                        position: relative;
                        text-decoration: none;
                    }
                }

                > li.active a {
                    background-color: @baseColor;
                }
            }

            .dropdown {

                .btn {
                    background: 0;
                    border: none;
                    color: #fff;
                }

            }

            .refresh {
                margin-right: 15px;
            }
        }
    }

    .panel-nobg {
        background: transparent;
        border: 0;
        .box-shadow(none);
    }
}

// balance
#balance {
    h3, h4 {
        font-size: 18px;
    }

    h4 {
        margin-top: 20px;
        font-weight: @normal;
    }

    .panel-default {
        border-color: #5E6A77;

        .table {
            th, td {
                border-color: #5E6A77;
            }

            > tbody > tr > td {
                vertical-align: middle;
                padding: 4px;

                @media (min-width: 380px) {
                    padding: 8px;
                }
            }



            td.text {
                width: 66.6666%;

                > h5 {
                    margin: 0;
                    font-weight: @heavy;
                }

                a {
                    color: @textColor;
                }

            }

            td.pos {
                .h3 {
                    font-weight: @heavy;
                }
            }
        }
    }
}

// overview
#overview {
    .text-center > small {
        display: block;
        color: @textColor;
        font-weight: @light;
    }

    .panel {
        border-width: 7px;
        border-color: @trend;
        min-height: 130px;

        .panel-body {
            padding: 5px;

            .h3 {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .panel:hover {
        background-color: @trend;
    }

    .panel.trend-up-3 {
        border-color: @trendUp3;
    }

    .panel.trend-up-3:hover {
        background-color: @trendUp3;
        .sprite-trend-up-3 { background-position: -285px -186px; width: 44px; height: 43px; }
    }

    .panel.trend-up-2 {
        border-color: @trendUp2;
    }

    .panel.trend-up-2:hover {
        background-color: @trendUp2;
        .sprite-trend-up-2 { background-position: -285px 0; width: 44px; height: 43px; }
    }

    .panel.trend-up-1 {
        border-color: @trendUp1;
    }

    .panel.trend-up-1:hover {
        background-color: @trendUp1;
        .sprite-trend-up-1 { background-position: -190px -1853px; width: 44px; height: 43px; }
    }

    .panel.trend:hover {
        .sprite-trend { background-position: -190px -1667px; width: 44px; height: 43px; }
    }

    .panel.trend-down-1 {
        border-color: @trendDown1;
    }

    .panel.trend-down-1:hover {
        background-color: @trendDown1;
        .sprite-trend-down-1 { background-position: -190px -1481px; width: 44px; height: 43px; }
    }

    .panel.trend-down-2 {
        border-color: @trendDown2;
    }

    .panel.trend-down-2:hover {
        background-color: @trendDown2;
        .sprite-trend-down-2 { background-position: -190px -1295px; width: 44px; height: 43px; }
    }

    .panel.trend-down-3 {
        border-color: @trendDown3;
    }

    .panel.trend-down-3:hover {
        background-color: @trendDown3;
        .sprite-trend-down-3 { background-position: -190px -1109px; width: 44px; height: 43px; }
    }

    .table {

        > tbody > tr > td {
            vertical-align: middle;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        td.text {

            > h4 {
                margin: 0;
            }

            .h3, .h2 {
                font-weight: @heavy;

                .small {
                    color: @textColor;
                }
            }

            a {
                color: @textColor;
            }

        }

        td.pos {
            .h3 {
                font-weight: @heavy;
            }
        }
    }


}

// comparison
#comparison {
    background: #b5bdc4;

    .form-group {
        position: relative;

        .form-control {
            height: 52px;
            font-size: 16px;
            padding-right: 34px;
            border-color: @textColor;
            color: @textColor;
        }

        .sprite-search-alt {
            position: absolute;
            top: 46px;
            left: auto;
            right: 12px;
        }

        .help-block {
            padding: 0 15px;
            color: @textColor;
        }
    }
}

// comments
#comments {

    > h3 {
        font-size: 20px;
        margin: 60px 0 30px;
    }

    .form-group {
        width: 60%;
    }

    .sprite-users {
        margin: 5px 18px 0 10px;
    }

    .media {
        margin-bottom: 30px;

        h4 {
            color: @activeColor;
            margin-bottom: 0;

            small {
                font-weight: @light;
                margin-left: 16px;
            }
        }

        footer {
            a {
                border-right: 1px solid #ddd;
                padding-right: 6px;
                margin-right: 6px;
                color: @activeColor;
            }
            a:last-child {
                border-right: 0 none;
                padding-right: 0;
                margin-right: 0;
            }
        }
    }

}

// sidebar
#sidebar {

    form {
        display: block;
        position: relative;
        width: 100%;
    }

    #side-menu {
        position: relative;
        //width: 100%;
    }

    .panel-default {
        background: @boxBg;
        border-color: @baseColor;

        .menu-title {
            margin-top: 0;
            margin-bottom: 30px;
            font-weight: @heavy;
        }
    }

    .dropdown {
        margin-bottom: 20px;

        .dropdown-toggle {
            display: block;
            width: 100%;
            text-align: left;
            border-color: @textColor;

            .caret {
                margin-top: 8px;
            }
        }

        .dropdown-menu {
            width: 100%;
        }
    }

    .menu {
        border-top: 1px solid @textColor;

        > li {
            border-bottom: 1px solid @textColor;
            overflow: hidden;
            font-size: 13px;

            input {
                float: left;
                margin-right: 10px;
            }

            .icon {
                margin-right: 6px;
                float: left;
            }

            > a {
                font-weight: normal;
            }

            ul ul li {
                padding-left: 20px;
                line-height: 1.3em;
            }

        }

        li > a,
        li > span {
            color: @textColor;
            padding: 5px 0;
            line-height: 15px;
            background: none;
            display: block;
        }

        a.pin {
            display: inline;
            padding: 8px 5px 0;
            margin: 0;
            line-height: 8px;
            z-index: 1;

            .icon {
                margin: 0;
                padding: 0;
            }
        }
    }
}

// filters
#filters {
    .panel {

        background-color: @boxBg;

        h3, h4 {
            font-weight: @heavy;
        }

        .panel-heading {
            line-height: 34px;
            background-color: @boxBg;
            border-bottom: 0;

            .reset-filters {
                margin-top: -12px;
            }
        }

        .panel-title {
            font-size: 20px;
            line-height: 34px;
        }

        .enabled {
            p.h4 {
                margin-bottom: 0;
            }
        }

        .list-group-item {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 14px;
        }

        .list-group-item.label {
            background-color: @baseColor;
            text-align: left;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

// #side-controls
#side-controls {
    position: absolute;
    z-index: 1;
    left: -2px;
    top: 0;
    display: none;

    a {
        padding: 4px;
        border: 1px solid @baseColor;
        width: 30px;
        background: @boxBg;
        .border-radius (3px);
    }

    .grouped {
         margin-top: -1px;
        .border-radius (0);

        &:first-of-type {
            margin-top: 0;
            .border-radiuses (3px, 0, 0, 0);
        }

        &:last-of-type {
            .border-radiuses (0, 3px, 0, 0);
        }

        &:only-of-type {
            .border-radiuses (3px, 3px, 0, 0);
        }
    }


}

// #settings
#settings {
    position: absolute;
    z-index: 1;
    width: 300px;
    left: -320px;

    .slider-arrow.close {
        opacity: 1;
        font-size: 20px;
        line-height: 28px;
    }

    .slider-arrow.show {
        position: absolute;
        right: -50px;
        top: 3px;
        padding: 8px 2px;
        border: 1px solid @baseColor;
        background: @boxBg;
        .border-radius (3px);
    }

    .panel {
        margin: 0;
        background: @boxBg;
        border-color: @baseColor;
        position: relative;

        h3, h4 {
            font-weight: @heavy;
        }

        .panel-heading {
            background: @boxBg;
            line-height: 34px;
        }

        .panel-title {
            font-size: 20px;
            line-height: 34px;
        }

        .enabled {
            p.h4 {
                margin-bottom: 0;
            }
        }

        .list-group-item {
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 14px;
            background-color: @boxBg;
        }

        .list-group-item.label {
            background-color: @baseColor;
            text-align: left;
        }
    }
}

#side-controls-wrapper {
    #side-controls {
        a {
            width: 40px;
        }
    }

    #settings {
        display: block;
        left: 40px;

        .panel {
            font-size: 13px;

            > .panel-heading {
                line-height: 16px;
                padding-top: 7px;
                padding-bottom: 0;
                margin-left: -45px;
                padding-left: 45px + 15px;
                margin-top: -1px;
                border-top: 1px solid;
                border-bottom: 1px solid @textColor;
                height: 40px;

                h3 {
                    font-size: 20px;
                    line-height: 34px;
                }

                .close {
                    line-height: 16px;
                }
            }

            > .panel-body {
                border-top: 1px solid @boxBg;
                margin-top: -1px;
            }

            > .panel-footer {

                .search {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    position: relative;

                    .form-control {

                        &:-moz-placeholder {
                            color: @textColor;
                            font-weight: @light;
                        }

                        &::-moz-placeholder {
                            color: @textColor;
                            font-weight: @light;
                        }

                        &:-ms-input-placeholder {
                            color: @textColor;
                            font-weight: @light;
                        }

                        &::-webkit-input-placeholder {
                            color: @textColor;
                            font-weight: @light;
                        }
                    }

                    .sprite-search-alt {
                        position: absolute;
                        top: 10px;
                        left: auto;
                        right: 12px;
                    }
                }
            }
        }

        #menu-schede {
            margin-top: 0;

            .panel-body {
                padding-top: 0;
                padding-bottom: 0;

                .media {
                    margin: 0;
                    font-size: 12px;

                    .h4 {
                        font-size: 13px;
                        margin: 0;

                        a {
                            font-weight: @heavy;
                        }
                    }

                    figure {
                        border: 2px solid #fff;
                        margin-top: 0;
                    }

                    p {
                        margin: 0;
                    }
                }

                .h3 {
                    font-weight: @heavy;
                }

                h5 a, .h5 {
                    color: @textColor;
                    font-weight: @normal;
                }

                h6 {
                    margin-top: 15px;
                    margin-bottom: 2px;
                }

            }
        }

        #menu-indicatori {
            margin-top: 39px;

            .dropdown {

                .dropdown-toggle {
                    display: block;
                    width: 100%;
                    text-align: left;
                    border-color: @textColor;

                    .caret {
                        margin-top: 8px;
                    }
                }

                .dropdown-menu {
                    width: 100%;
                }
            }

            .scrollbox {
                margin: 0 5px 10px 5px;
                padding-left: 10px;
            }

            .menu {
                border-top: 1px solid @textColor;
                margin-right: 0;

                > li {
                    border-bottom: 1px solid @textColor;
                    overflow: hidden;
                    font-size: 13px;

                    input {
                        float: left;
                        margin-right: 10px;
                    }

                    .icon {
                        margin-right: 6px;
                        float: left;
                    }

                    > a {
                        font-weight: normal;
                    }

                    ul ul li {
                        padding-left: 20px;
                        line-height: 1.3em;
                    }

                }

                li > a {
                    color: @textColor;
                    padding: 5px;
                    line-height: 15px;
                    background: none;
                }

                a.pin {
                    display: inline;
                    padding: 8px 5px 0;
                    margin: 0;
                    line-height: 8px;
                    z-index: 1;

                    .icon {
                        margin: 0;
                        padding: 0;
                    }
                }
            }

        }

        #menu-selezione {
            margin-top: 0;

            .dropdown {

                .dropdown-toggle {
                    display: block;
                    width: 100%;
                    text-align: left;
                    border-color: @textColor;

                    .caret {
                        margin-top: 8px;
                    }
                }

                .dropdown-menu {
                    width: 100%;
                }
            }

            .scrollbox {
                margin: 0 5px 10px 5px;
                padding-left: 10px;
            }

            .multi-level-menu {
                margin-top: 20px;

                .menu {

                    > li {
                        margin-bottom: 10px;
                    }

                    ul li {
                        padding-left: 10px;
                        border-left: 1px solid #e0e0e0;
                        margin: 0 0 0 5px;
                    }

                    li {

                        a {
                            color: @textColor;
                            padding: 2px 0;
                            line-height: 15px;
                            background: none;
                            display: inline;


                            > i {
                                color: @altTextColor;
                                margin-right: 4px;
                            }

                            &:hover {
                                text-decoration: underline;

                                & > i.fa-plus-circle {
                                    color: @textColor;
                                }
                            }

                            i.fa-question-circle {
                                margin-left: 4px;
                                margin-right: 0;
                                color: @textColor;
                            }

                            &:hover > i.fa-question-circle {
                                color: @activeColor;
                            }
                        }

                        i.fa-angle-left {
                            color: @altTextColor;
                            margin-right: 5px;
                            margin-left: 4px;
                            .rotate(-45deg);
                        }



                        &.active a {

                            i.fa-minus-circle {
                                color: @textColor;
                            }
                        }

                        &.active > a {
                            font-weight: @heavy;
                        }
                    }
                }
            }

        }

        #menu-filtri {
            margin-top: 78px;

            .panel-body {
                padding-bottom: 0;
            }

            .panel-title,
            .reset-filters {
                display: inline-block;
                margin-right: 5px;
            }

            .list-group-item {
                padding-bottom: 5px;
                padding-top: 5px;
            }

            .list-group-item.label {
                padding-bottom: 10px;
                padding-top: 10px;
            }

        }

    }
}

// footer
#footer {
    color: #fff;
    padding: 60px 0;

    h4, h5 {
        font-weight: @heavy;
        color: #fff;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nav > li > a {
        padding: 0;
        color: @altTextColor;
    }

    .nav > li.active > a,
    .nav > li.active > a:hover,
    .nav > li > a:hover,
    .nav > li > a:focus {
        background: none;
        color: #fff;
    }

    .nav > li.active > a {
        color: #fff;
        font-weight: @normal;
    }

    .nav.no-icons > li > a {
        padding: 0 15px;
    }

    .partners {
        margin-bottom: 20px;

        li {
            float: left;
            margin-right: 60px;

            &:last-child {
                margin-right: 0;
            }

            a {
                background: url(../img/loghi.png) no-repeat 0 0;
                display: inline-block;
                height: 60px;

                &.ce {
                    width: 43px;
                    background-position: 0 0;
                }

                &.rl {
                    width: 91px;
                    background-position: -89px 0;
                }

                &.por {
                    width: 58px;
                    background-position: -229px 0;
                }

                &.depp {
                    width: 148px;
                    background-position: -332px 0;
                }
            }
        }
    }

}

// Icons
.icon {
    background: url(../img/icons.png) no-repeat top left;
    display: inline-block;
    vertical-align: middle;
}

.sprite-world { background-position: 0 -792px; width: 30px; height: 29px; }

.sprite-updown { background-position: 0 -871px; width: 45px; height: 23px; }

.sprite-search { background-position: -95px -1160px; width: 16px; height: 16px; }
.sprite-search-alt { background-position: -190px -848px; width: 16px; height: 16px; }

.sprite-confronti{ background-position: -95px -1290px; width: 22px; height: 14px; }
.active .sprite-confronti, a:hover .sprite-confronti { background-position: -95px -1226px; }

.sprite-classifiche { background-position: -95px -1417px; width: 20px; height: 13px; }
.active .sprite-classifiche, a:hover .sprite-classifiche { background-position: -95px -1354px; }

.sprite-blog { background-position: -95px -1546px; width: 23px; height: 16px; }
.active .sprite-blog, a:hover .sprite-blog { background-position: -95px -1480px; }

.sprite-mappa { background-position: -285px -878px; width: 18px; height: 20px; }
.active .sprite-mappa, a:hover .sprite-mappa { background-position: -285px -808px; width: 18px; height: 20px; }

.sprite-arrow-left { background-position: -190px -979px; width: 8px; height: 15px; }
.more .sprite-arrow-left { background-position: -190px -914px; width: 8px; height: 15px; }
.sprite-arrow-right { background-position: -95px -1820px; width: 8px; height: 15px; }
.more .sprite-arrow-right { background-position: -190px -1044px; width: 8px; height: 15px; }

.off .sprite-refresh { background-position: -190px -62px; width: 13px; height: 12px; }
.sprite-refresh { background-position: -190px 0; width: 13px; height: 12px; }

.sprite-toggle-menu { background-position: 0 -1229px; width: 24px; height: 13px; }
.sprite-toggle-menu:hover { background-position: 0 -1166px; width: 24px; height: 13px; }

.sprite-filters { background-position: 0 -1099px; width: 23px; height: 10px; }

.active .sprite-toggle-menu { background-position: 1px -944px; width: 24px; height: 24px; }
.active .sprite-toggle-menu:hover { background-position: 0 -1018px; width: 23px; height: 24px; }

.sprite-trend-up-3-small { background-position: 0 -1784px; width: 24px; height: 24px; }
a:hover .sprite-trend-up-3-small { background-position: 0 -1710px; width: 24px; height: 24px; }

.sprite-trend-up-2-small { background-position: 0 -1932px; width: 23px; height: 24px; }
a:hover .sprite-trend-up-2-small { background-position: 0 -1858px; width: 23px; height: 24px; }

.sprite-trend-up-1-small { background-position: -95px -74px; width: 24px; height: 24px; }
a:hover .sprite-trend-up-1-small { background-position: -95px 0; width: 24px; height: 24px; }

.sprite-trend-small { background-position: -95px -222px; width: 23px; height: 24px; }
a:hover .sprite-trend-small { background-position: -95px -148px; width: 23px; height: 24px; }

.sprite-trend-down-1-small { background-position: -95px -369px; width: 24px; height: 24px; }
a:hover .sprite-trend-down-1-small { background-position: -95px -296px; width: 24px; height: 23px; }

.sprite-trend-down-2-small { background-position: -95px -517px; width: 23px; height: 24px; }
a:hover .sprite-trend-down-2-small { background-position: -95px -443px; width: 23px; height: 24px; }

.sprite-trend-down-3-small { background-position: -95px -665px; width: 23px; height: 24px; }
a:hover .sprite-trend-down-3-small { background-position: -95px -591px; width: 23px; height: 24px; }

.sprite-trend-up-3 { background-position: -285px -279px; width: 44px; height: 43px; }
a:hover .sprite-trend-up-3 { background-position: -285px -186px; width: 44px; height: 43px; }

.sprite-trend-up-2 { background-position: -285px -93px; width: 44px; height: 43px; }
a:hover .sprite-trend-up-2 { background-position: -285px 0; width: 44px; height: 43px; }

.sprite-trend-up-1 { background-position: -190px -1946px; width: 44px; height: 43px; }
a:hover .sprite-trend-up-1 { background-position: -190px -1853px; width: 44px; height: 43px; }

.sprite-trend { background-position: -190px -1760px; width: 44px; height: 43px; }
a:hover .sprite-trend { background-position: -190px -1667px; width: 44px; height: 43px; }

.sprite-trend-down-1 { background-position: -190px -1574px; width: 44px; height: 43px; }
a:hover .sprite-trend-down-1 { background-position: -190px -1481px; width: 44px; height: 43px; }

.sprite-trend-down-2 { background-position: -190px -1388px; width: 44px; height: 43px; }
a:hover .sprite-trend-down-2 { background-position: -190px -1295px; width: 44px; height: 43px; }

.sprite-trend-down-3 { background-position: -190px -1202px; width: 44px; height: 43px; }
a:hover .sprite-trend-down-3 { background-position: -190px -1109px; width: 44px; height: 43px; }

.sprite-delete { background-position: -190px -181px; width: 11px; height: 10px; }
.sprite-delete-small { background-position: -190px -124px; width: 8px; height: 7px; }

.sprite-share { background-position: -95px -1612px; width: 20px; height: 19px; }

.sprite-info { background-position: -190px -241px; width: 9px; height: 8px; }

.sprite-alert { background-position: -190px -415px; width: 3px; height: 8px; }
a:hover .sprite-alert { background-position: -190px -357px; width: 3px; height: 8px; }

.sprite-users { background-position: -95px -1747px; width: 24px; height: 23px; }

.sprite-autonomia-finanziaria { background-position: -190px -473px; width: 16px; height: 15px; }
.sprite-capacita-programmatoria { background-position: -190px -538px; width: 12px; height: 15px; }
.sprite-peso-amministrazione { background-position: -190px -603px; width: 14px; height: 11px; }
.sprite-propensione-sviluppo { background-position: -190px -664px; width: 14px; height: 14px; }
.sprite-sostenibilita { background-position: -190px -728px; width: 14px; height: 9px; }
.sprite-indicatori { background-position: -190px -787px; width: 12px; height: 11px; }

.sprite-autonomia-finanziaria-big { background-position: -95px -809px; width: 24px; height: 21px; }
.sprite-capacita-programmatoria-big { background-position: -95px -880px; width: 18px; height: 24px; }
.sprite-peso-amministrazione-big { background-position: -95px -954px; width: 24px; height: 20px; }
.sprite-propensione-sviluppo-big { background-position: -95px -1024px; width: 23px; height: 20px; }
.sprite-sostenibilita-big { background-position: -95px -1094px; width: 24px; height: 16px; }
.sprite-indicatori-big { background-position: -95px -739px; width: 21px; height: 20px; }

.sprite-tasso-crescita-popolazione { background-position: 0 -701px; width: 37px; height: 41px; }
.sprite-indice-invecchiamento { background-position: 0 -607px; width: 45px; height: 44px; }
.sprite-verde-pubblico { background-position: 0 -522px; width: 45px; height: 35px; }
.sprite-redditi { background-position: 0 -444px; width: 33px; height: 28px; }
.sprite-tasso-migratorio { background-position: 0 -352px; width: 37px; height: 42px; }

.sprite-submit { background-position: 0 0; width: 39px; height: 38px; }
.sprite-submit:hover { background-position: 0 -88px; width: 39px; height: 38px; }

.sprite-small-town { background-position: -95px -1681px; width: 17px; height: 16px; }

.success .sprite-status {}
.warning .sprite-status {}
.error .sprite-status { background-position: 0 -176px; width: 40px; height: 35px; }

.sprite-plus { background-position: 0 -1491px; width: 24px; height: 23px; }
a:hover .sprite-plus { background-position: 0 -1418px; width: 24px; height: 23px; }

.sprite-minus { background-position: 0 -1637px; width: 24px; height: 23px; }
a:hover .sprite-minus { background-position: 0 -1564px; width: 24px; height: 23px; }

.sprite-open-menu { background-position: -286px -516px; width: 20px; height: 16px; }
a:hover .sprite-open-menu { background-position: -286px -590px; width: 20px; height: 16px; }
.sprite-close-menu { background-position: -286px -664px; width: 20px; height: 16px;}
a:hover .sprite-close-menu { background-position: -286px -738px; width: 20px; height: 16px; }

.sprite-open-menu-schede { background-position: -285px -948px; width: 30px; height: 30px; }
.sprite-close-menu-schede { background-position: -285px -1028px; width: 30px; height: 30px; }
.sprite-open-menu-selezione { background-position: -285px -948px; width: 30px; height: 30px; }
.sprite-close-menu-selezione { background-position: -285px -1028px; width: 30px; height: 30px; }
.sprite-open-menu-indicatori { background-position: -285px -1108px; width: 30px; height: 30px; }
.sprite-close-menu-indicatori { background-position: -285px -1188px; width: 30px; height: 30px; }
.sprite-open-menu-filtri { background-position: -285px -1268px; width: 30px; height: 30px; }
.sprite-close-menu-filtri { background-position: -285px -1348px; width: 30px; height: 30px; }

.sprite-classifiche-big { background-position: -285px -1493px; width: 23px; height: 15px; }
a:hover .sprite-classifiche-big, a.active .sprite-classifiche-big { background-position: -285px -1428px; width: 23px; height: 15px; }
.sprite-confronti-big { background-position: -285px -1628px; width: 31px; height: 20px; }
a:hover .sprite-confronti-big, a.active .sprite-confronti-big { background-position: -285px -1558px; width: 31px; height: 20px; }
.sprite-mappa-big { background-position: -285px -1774px; width: 25px; height: 26px; }
a:hover .sprite-mappa-big, a.active .sprite-mappa-big { background-position: -285px -1698px; width: 25px; height: 26px; }

.sprite-tag { background-position: -285px -1850px; width: 12px; height: 8px; }
.sprite-calendar { background-position: -285px -1908px; width: 13px; height: 9px; }

// Splash page
@import "splash.less";

// Home page
@import "home.less";

// Media queries
@media (max-width: 992px) {
    .navbar-main .navbar-header form {
        width: 95px;
    }
}

@media (max-width: 768px) {
    .navbar-subnav .nav > li {
        border-right: 0;
    }
}

@media (max-width: 400px) {
    .navbar-main .navbar-header form {
        width: 100%;
    }

    #settings {
        position: relative;
        top: auto !important;
        left: auto !important;
        width: 100%;

        .panel > .panel-heading {
             margin-left: 0 !important;
             padding-left: 15px !important;
        }
    }

}
