//Open Bilanci custom Less
@import "main.less";

.composition-widget-container {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.fun-int, .fun-int:visited{
    background: #b9c6c4;
    border-color: #b9c6c4;
    color: #57616c;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;

    span {
        font-size: 10px;
    }
}

.composition-widget-container iframe,
.composition-widget-container object,
.composition-widget-container embed
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form ul li label{
  font-weight: normal;
  display: inline;
}

#results td img.secondary-graph-toggle{
  margin-bottom:0;
  padding-bottom: 20px;

}