@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/**
 * Main style
 * @author mleone
 * @version 1.5.7
 **/
/**
 * Main LESS variables
 * @author mleone
 * @version 1.5.7
 **/
/**
 * Common LESS mixins
 * @author mleone
 * @version 1.5.7
 **/
body {
  background-color: #5e6a77;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #2a3036;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #2a3036;
}
a {
  color: #cc6633;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a3036;
  outline: none;
  text-decoration: underline;
}
a:visited {
  color: #ff9966;
}
.share {
  color: #cc6633;
  text-transform: uppercase;
  font-size: .8em;
  padding: 9px 15px;
}
.share .glyphicon {
  margin-left: .3em;
}
.share:hover {
  color: #cc6633;
}
.download {
  text-transform: uppercase;
  font-size: .8em;
  padding: 5px;
}
.download .glyphicon {
  margin-left: .3em;
}
.download:hover {
  color: #99a5b1;
}
.location {
  border-right: 1px solid #ddd;
  margin-right: 4px;
  padding-right: 6px;
}
.text-alt {
  color: #cc6633;
}
.no-border {
  border-color: transparent;
  margin: 15px 0;
}
.stripe {
  margin-bottom: 30px;
}
.goto-top {
  background: #b9c6c4;
  border-color: #b9c6c4;
  color: #57616c;
  font-size: 12px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
}
.goto-top span {
  font-size: 10px;
}
.goto-top:hover {
  border-color: #b9c6c4;
}
.more-info,
.more-info:visited {
  background: #b9c6c4;
  border-color: #b9c6c4;
  color: #57616c;
  font-size: 12px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
}
.more-info span,
.more-info:visited span {
  font-size: 10px;
}
.more-info:hover,
.more-info:visited:hover {
  background-color: #cc6633;
  border-color: #cc6633;
  color: #fff;
}
.more-info.close,
.more-info:visited.close {
  border-color: #b9c6c4;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #2a3036;
}
.tooltip-inner {
  background-color: #fff;
  color: #2a3036;
  border: 1px solid #2a3036;
  text-align: left;
}
.tooltip-inner .link {
  color: #cc6633;
}
.video-modal iframe {
  display: block;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
.navbar-main {
  background: transparent;
  border-color: transparent;
  color: #fff;
  margin-top: 20px;
}
.navbar-main .navbar-brand {
  color: #fff;
  font-size: 30px;
  padding-top: 10px;
}
.navbar-main .navbar-brand small {
  display: block;
  font-size: 12px;
  text-align: right;
}
.navbar-main .navbar-brand:hover,
.navbar-main .navbar-brand:focus {
  color: #fff;
}
.navbar-main .navbar-header form {
  margin: 7px 0;
  width: 280px;
}
.navbar-main .navbar-header form .form-group {
  margin-bottom: 0;
  position: relative;
}
.navbar-main .navbar-header form .form-control {
  background: transparent;
  color: #fff;
  padding-right: 34px;
}
.navbar-main .navbar-header form .form-control:-moz-placeholder {
  color: #99a5b1;
  font-weight: 300;
}
.navbar-main .navbar-header form .form-control::-moz-placeholder {
  color: #99a5b1;
  font-weight: 300;
}
.navbar-main .navbar-header form .form-control:-ms-input-placeholder {
  color: #99a5b1;
  font-weight: 300;
}
.navbar-main .navbar-header form .form-control::-webkit-input-placeholder {
  color: #99a5b1;
  font-weight: 300;
}
.navbar-main .navbar-header form .sprite-search {
  position: absolute;
  top: 10px;
  left: auto;
  right: 12px;
}
.navbar-main .navbar-nav > li > a {
  color: #99a5b1;
}
.navbar-main .navbar-nav > li > a .icon {
  margin-right: .3em;
}
.navbar-main .nav > li.active > a,
.navbar-main .nav > li.active > a:hover,
.navbar-main .nav > li > a:hover,
.navbar-main .nav > li > a:focus {
  background: none;
  color: #fff;
}
.navbar-main .nav > li.active > a {
  color: #fff;
  font-weight: 400;
}
.navbar-subnav {
  margin-top: 0;
  background: #2a3036;
  min-height: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar-subnav .nav > li {
  border-right: 1px solid #fff;
}
.navbar-subnav .nav > li > a {
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar-subnav .nav > li.active > a,
.navbar-subnav .nav > li.active > a:hover,
.navbar-subnav .nav > li > a:hover,
.navbar-subnav .nav > li > a:focus {
  background-color: #5e6a77;
}
.navbar-subnav .navbar-nav {
  margin: 0;
}
.navbar-subnav .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
#main-content {
  position: relative;
  overflow: hidden;
}
@media (min-width: 380px) {
  #main-content {
    padding: 20px;
  }
}
#main-content > .panel-heading {
  padding-bottom: 0;
  padding-top: 15px;
}
#main-content > .panel-heading > .panel-title {
  font-size: 38px;
}
#main-content .panel-default > .panel-heading {
  background-color: #fff;
}
#main-content .panel-title.text-alt {
  font-size: 34px;
}
#main-content .nav-tabs.nav-justified > li > a {
  text-align: left;
  font-size: 18px;
}
#main-content .band {
  border-top: 1px solid #2a3036;
  border-bottom: 1px solid #2a3036;
  padding: 5px 0;
}
#main-content .band p {
  margin: 0;
}
#main-content .timeline {
  margin-bottom: 40px;
}
#main-content .faqs a,
#main-content .faqs h3 {
  color: #57616c;
  font-weight: 400;
}
#main-content .faqs .faq > li {
  margin-bottom: 6px;
}
#main-content .faqs .faq > li a .icon {
  margin-right: 6px;
}
#main-content .faqs .faq > li a:hover {
  text-decoration: none;
  color: #b5bdc4;
}
#main-content .faqs .faqs-q {
  margin-bottom: 80px;
}
#main-content .faqs .faqs-a article {
  margin-bottom: 40px;
}
#main-content #toggle-menu.active {
  float: right;
}
#main-content .scrollbox {
  overflow: auto;
  width: auto !important;
  height: 200px;
  padding: 0 5px;
}
#main-content .track {
  width: 10px;
  background: rgba(0, 0, 0, 0);
  margin-right: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background 250ms linear;
  -moz-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  -o-transition: background 250ms linear;
}
#main-content .track:hover,
#main-content .track.dragging {
  background: #d9d9d9;
  /* Browsers without rgba support */

  background: rgba(0, 0, 0, 0.15);
}
#main-content .handle {
  width: 7px;
  right: 0;
  background: #999;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: width 250ms;
  -moz-transition: width 250ms;
  -ms-transition: width 250ms;
  -o-transition: width 250ms;
}
#main-content .track:hover .handle,
#main-content .track.dragging .handle {
  width: 10px;
}
#main-content .media figure {
  width: 42px;
  height: 42px;
  margin-top: 10px;
  display: inline-block;
  overflow: hidden;
  background: #ccc;
}
#main-content .media figure img {
  width: 42px;
}
#main-content .media h4 {
  margin-bottom: 0;
  text-transform: uppercase;
}
#main-content .media h4 small {
  font-weight: 300;
  margin-left: 16px;
}
#main-content #log {
  overflow: hidden;
  padding: 15px;
}
#main-content #log .sprite-status {
  margin: 6px 10px 0 0;
  float: left;
}
#main-content.map #map-canvas {
  min-height: 800px;
  background: #605c5c;
}
#main-content.map #side-controls a {
  width: 40px;
}
#main-content.map #settings {
  display: block;
  left: 40px;
}
#main-content.map #settings .panel {
  font-size: 13px;
}
#main-content.map #settings .panel .panel-heading {
  line-height: 16px;
  padding-top: 7px;
  padding-bottom: 0;
  margin-left: -45px;
  padding-left: 60px;
  margin-top: -1px;
  border-top: 1px solid;
  border-bottom: 0;
  height: 39px;
}
#main-content.map #settings .panel .panel-heading h3 {
  font-size: 20px;
  line-height: 34px;
}
#main-content.map #settings .panel .panel-heading .close {
  line-height: 16px;
}
#main-content.map #settings .panel .panel-footer .search {
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}
#main-content.map #settings .panel .panel-footer .search .form-control:-moz-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#main-content.map #settings .panel .panel-footer .search .form-control::-moz-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#main-content.map #settings .panel .panel-footer .search .form-control:-ms-input-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#main-content.map #settings .panel .panel-footer .search .form-control::-webkit-input-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#main-content.map #settings .panel .panel-footer .search .sprite-search-alt {
  position: absolute;
  top: 10px;
  left: auto;
  right: 12px;
}
#main-content.map #settings #menu-schede {
  margin-top: 0;
}
#main-content.map #settings #menu-schede .panel-body {
  padding-top: 0;
  padding-bottom: 0;
}
#main-content.map #settings #menu-schede .panel-body .media {
  margin: 0;
  font-size: 12px;
}
#main-content.map #settings #menu-schede .panel-body .media .h4 {
  font-size: 13px;
  margin: 0;
}
#main-content.map #settings #menu-schede .panel-body .media .h4 a {
  font-weight: 700;
}
#main-content.map #settings #menu-schede .panel-body .media figure {
  border: 2px solid #fff;
  margin-top: 0;
}
#main-content.map #settings #menu-schede .panel-body .media p {
  margin: 0;
}
#main-content.map #settings #menu-schede .panel-body .h3 {
  font-weight: 700;
}
#main-content.map #settings #menu-schede .panel-body h5 a,
#main-content.map #settings #menu-schede .panel-body .h5 {
  color: #2a3036;
  font-weight: 400;
}
#main-content.map #settings #menu-schede .panel-body h6 {
  margin-top: 15px;
  margin-bottom: 2px;
}
#main-content.map #settings #menu-indicatori {
  margin-top: 39px;
}
#main-content.map #settings #menu-indicatori .dropdown {
  margin: 20px 15px;
}
#main-content.map #settings #menu-indicatori .dropdown .dropdown-toggle {
  display: block;
  width: 100%;
  text-align: left;
  border-color: #2a3036;
}
#main-content.map #settings #menu-indicatori .dropdown .dropdown-toggle .caret {
  margin-top: 8px;
}
#main-content.map #settings #menu-indicatori .dropdown .dropdown-menu {
  width: 100%;
}
#main-content.map #settings #menu-indicatori .scrollbox {
  margin: 0 5px 10px 5px;
  padding-left: 10px;
}
#main-content.map #settings #menu-indicatori .menu {
  border-top: 1px solid #2a3036;
  margin-right: 0;
}
#main-content.map #settings #menu-indicatori .menu > li {
  border-bottom: 1px solid #2a3036;
  overflow: hidden;
  font-size: 13px;
}
#main-content.map #settings #menu-indicatori .menu > li input {
  float: left;
  margin-right: 10px;
}
#main-content.map #settings #menu-indicatori .menu > li .icon {
  margin-right: 6px;
  float: left;
}
#main-content.map #settings #menu-indicatori .menu > li > a {
  font-weight: normal;
}
#main-content.map #settings #menu-indicatori .menu > li ul ul li {
  padding-left: 20px;
  line-height: 1.3em;
}
#main-content.map #settings #menu-indicatori .menu li > a {
  color: #2a3036;
  padding: 5px;
  line-height: 15px;
  background: none;
}
#main-content.map #settings #menu-indicatori .menu .tooltip {
  z-index: 9999999;
}
#main-content.map #settings #menu-indicatori .menu a.pin {
  display: inline;
  padding: 8px 5px 0;
  margin: 0;
  line-height: 8px;
  z-index: 1;
}
#main-content.map #settings #menu-indicatori .menu a.pin .icon {
  margin: 0;
  padding: 0;
}
#main-content.map #settings #menu-filtri {
  margin-top: 78px;
}
#main-content.map #settings #menu-filtri .panel-body {
  padding-bottom: 0;
}
#main-content.map #settings #menu-filtri .panel-title,
#main-content.map #settings #menu-filtri .reset-filters {
  display: inline-block;
  margin-right: 5px;
}
#main-content.map #settings #menu-filtri .list-group-item {
  padding-bottom: 5px;
  padding-top: 5px;
}
#main-content.map #settings #menu-filtri .list-group-item.label {
  padding-bottom: 10px;
  padding-top: 10px;
}
#main-content.map.full {
  background: #605c5c;
  border: none;
  padding: 0;
}
#main-content.map.full > .panel-body {
  padding: 0;
}
#main-content.map.full .timeline .col-sm-12 > * {
  background: #fff;
  padding: 35px 50px;
}
#results thead > tr > th {
  background: #cc6633;
  font-weight: 300;
  color: #fff;
  border-bottom: 0 none;
  border-right: 1px solid #fff;
}
#results thead > tr > th .btn {
  border: none;
  background: transparent;
  font-weight: 300;
  color: #fff;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#results thead > tr > th:last-child {
  border-right: 0 none;
}
#results tr.collapse.in {
  display: table-row;
}
#results th.alt {
  background: #cc6633;
}
#results .table-striped > tbody > tr:nth-child(2n+1) > td {
  background-color: #e2e8e7;
}
#results .table > tbody > tr:hover > td {
  background-color: #b9c6c4;
}
#results .table.no-hover tbody > tr:hover > td {
  background-color: transparent;
}
#results .table > tbody > tr.active > td {
  background-color: #2a3036;
}
#results .table > tbody > tr.active > td * {
  color: #fff;
}
#results .table > tbody > tr > td {
  vertical-align: middle;
}
#results .table caption {
  background-color: #5e6a77;
  text-align: left;
  color: #fff;
  padding: 15px 8px;
  font-weight: 700;
  line-height: 21px;
}
#results .table caption .icon {
  vertical-align: text-bottom;
  margin-right: 6px;
}
#results td.actions .h3 {
  font-weight: 700;
  margin: 0;
}
#results td.actions .h3 small {
  display: inline;
  color: #2a3036;
  font-size: 60%;
}
#results td.chart-wrapper .chart {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: block;
  /* Firefox 10+, Firefox on Android */

  /* IE 6-9 */

  /* Chrome 19+, Safari 6+, Safari 6+ iOS */

}
#results td.chart-wrapper .label {
  color: #2a3036;
  font-weight: 400;
  display: inline-block;
  text-align: left;
  width: 45%;
}
#results td.chart-wrapper .value {
  font-weight: 700;
}
#results td.rate .h2 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
#results td.rate .h2 .small {
  color: inherit;
  font-size: 18px;
}
#results td.rate p.h2 {
  margin-bottom: 20px;
}
#results td.rate .chart {
  margin-top: 10px;
}
#results td.entry {
  font-weight: 400;
}
#results td.entry small {
  font-weight: 300;
}
#results td.details img {
  width: 100%;
  margin-bottom: 20px;
}
#results td.text > h4 {
  margin: 0;
}
#results td.text .alt a {
  color: #2a3036;
}
#results td.text .media {
  margin: 0;
  font-size: 12px;
}
#results td.text .media .h4 {
  font-size: 13px;
  margin: 0;
}
#results td.text .media .h4 a {
  font-weight: 700;
}
#results td.text .media figure {
  border: 2px solid #fff;
  margin-top: 0;
}
#results td.text .media p {
  margin: 0;
}
#results td.pos {
  text-align: right;
}
#results td.pos .h3 {
  font-weight: 700;
  line-height: 43px;
}
#results tr:hover .sprite-trend-up-3 {
  background-position: -285px -186px;
  width: 44px;
  height: 43px;
}
#results tr:hover .sprite-trend-up-2 {
  background-position: -285px 0;
  width: 44px;
  height: 43px;
}
#results tr:hover .sprite-trend-up-1 {
  background-position: -190px -1853px;
  width: 44px;
  height: 43px;
}
#results tr:hover .sprite-trend {
  background-position: -190px -1667px;
  width: 44px;
  height: 43px;
}
#results tr:hover .sprite-trend-down-1 {
  background-position: -190px -1481px;
  width: 44px;
  height: 43px;
}
#results tr:hover .sprite-trend-down-2 {
  background-position: -190px -1295px;
  width: 44px;
  height: 43px;
}
#results tr:hover .sprite-trend-down-3 {
  background-position: -190px -1109px;
  width: 44px;
  height: 43px;
}
#results .collapse-toggle {
  float: left;
}
#results .table.entrate > tbody > tr > td {
  border-top: 2px solid #5e6a77;
}
#results .table.entrate > tbody > tr.panel-collapse td td {
  border-top: 1px dashed #5e6a77;
}
#results .table.entrate > tbody > tr.panel-collapse td td td {
  border-top: 1px dotted #5e6a77;
}
#results .table.entrate > tbody tr.panel-collapse > td {
  border-top: none !important;
}
#results .table.entrate .collapse-toggle .icon {
  margin-right: 6px;
}
#results .tab-pane header {
  margin-bottom: 5px;
}
#results .tab-pane header > * {
  float: left;
}
#results .tab-pane header h3 {
  margin: 0;
  padding: 3px 0;
}
#results .tab-pane header .functions {
  margin: 0 10px;
}
#results .panel-default {
  border-color: #5e6a77;
}
#results .panel-default h3,
#results .panel-default h4,
#results .panel-default h5 {
  font-weight: 700;
}
#results .panel-default .panel-heading .media {
  font-size: 13px;
}
#results .panel-default .panel-heading .media .h4 {
  margin: 5px 0 0;
}
#results .panel-default .panel-heading .media .h4 a {
  color: #cc6633;
}
#results .panel-default .panel-heading .media figure {
  margin-top: 0;
}
#results .panel-default .panel-heading .media .borded {
  border: 3px solid #ddd;
  width: 50px;
  height: 50px;
  margin-top: 8px;
}
#results .panel-default .panel-heading .media .borded img {
  width: 50px;
}
#results .panel-default .panel-title {
  font-size: 24px;
  line-height: 34px;
}
#results .panel-default .search {
  margin-bottom: 0;
  margin-left: 20px;
  position: relative;
}
#results .panel-default .search .form-control:-moz-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#results .panel-default .search .form-control::-moz-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#results .panel-default .search .form-control:-ms-input-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#results .panel-default .search .form-control::-webkit-input-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#results .panel-default .search .sprite-search-alt {
  position: absolute;
  top: 10px;
  left: auto;
  right: 12px;
}
#results .panel-default .panel-body {
  padding-bottom: 0;
}
#results .panel-default .panel-footer {
  padding-bottom: 0;
  padding-top: 0;
}
#results .panel-default .pagination-wrapper {
  margin: 0 -15px;
  line-height: 28px;
  background: #2a3036;
  color: #fff;
}
#results .panel-default .pagination-wrapper > ul {
  margin: 0;
  padding: 0;
}
#results .panel-default .pagination-wrapper > ul > li {
  display: inline;
}
#results .panel-default .pagination-wrapper > ul > li > a,
#results .panel-default .pagination-wrapper > ul > li > span {
  background-color: transparent;
  color: #fff;
  border-right: 1px solid #ddd;
  float: left;
  padding: 2px 12px;
  position: relative;
  text-decoration: none;
}
#results .panel-default .pagination-wrapper > ul > li.active a {
  background-color: #5e6a77;
}
#results .panel-default .pagination-wrapper .dropdown .btn {
  background: 0;
  border: none;
  color: #fff;
}
#results .panel-default .pagination-wrapper .refresh {
  margin-right: 15px;
}
#results .panel-nobg {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#balance h3,
#balance h4 {
  font-size: 18px;
}
#balance h4 {
  margin-top: 20px;
  font-weight: 400;
}
#balance .panel-default {
  border-color: #5E6A77;
}
#balance .panel-default .table th,
#balance .panel-default .table td {
  border-color: #5E6A77;
}
#balance .panel-default .table > tbody > tr > td {
  vertical-align: middle;
  padding: 4px;
}
@media (min-width: 380px) {
  #balance .panel-default .table > tbody > tr > td {
    padding: 8px;
  }
}
#balance .panel-default .table td.text {
  width: 66.6666%;
}
#balance .panel-default .table td.text > h5 {
  margin: 0;
  font-weight: 700;
}
#balance .panel-default .table td.text a {
  color: #2a3036;
}
#balance .panel-default .table td.pos .h3 {
  font-weight: 700;
}
#overview .text-center > small {
  display: block;
  color: #2a3036;
  font-weight: 300;
}
#overview .panel {
  border-width: 7px;
  border-color: #ceccc4;
  min-height: 130px;
}
#overview .panel .panel-body {
  padding: 5px;
}
#overview .panel .panel-body .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#overview .panel:hover {
  background-color: #ceccc4;
}
#overview .panel.trend-up-3 {
  border-color: #7c8e16;
}
#overview .panel.trend-up-3:hover {
  background-color: #7c8e16;
}
#overview .panel.trend-up-3:hover .sprite-trend-up-3 {
  background-position: -285px -186px;
  width: 44px;
  height: 43px;
}
#overview .panel.trend-up-2 {
  border-color: #9fb746;
}
#overview .panel.trend-up-2:hover {
  background-color: #9fb746;
}
#overview .panel.trend-up-2:hover .sprite-trend-up-2 {
  background-position: -285px 0;
  width: 44px;
  height: 43px;
}
#overview .panel.trend-up-1 {
  border-color: #c9dd79;
}
#overview .panel.trend-up-1:hover {
  background-color: #c9dd79;
}
#overview .panel.trend-up-1:hover .sprite-trend-up-1 {
  background-position: -190px -1853px;
  width: 44px;
  height: 43px;
}
#overview .panel.trend:hover .sprite-trend {
  background-position: -190px -1667px;
  width: 44px;
  height: 43px;
}
#overview .panel.trend-down-1 {
  border-color: #e48d7e;
}
#overview .panel.trend-down-1:hover {
  background-color: #e48d7e;
}
#overview .panel.trend-down-1:hover .sprite-trend-down-1 {
  background-position: -190px -1481px;
  width: 44px;
  height: 43px;
}
#overview .panel.trend-down-2 {
  border-color: #b74731;
}
#overview .panel.trend-down-2:hover {
  background-color: #b74731;
}
#overview .panel.trend-down-2:hover .sprite-trend-down-2 {
  background-position: -190px -1295px;
  width: 44px;
  height: 43px;
}
#overview .panel.trend-down-3 {
  border-color: #9b2c1b;
}
#overview .panel.trend-down-3:hover {
  background-color: #9b2c1b;
}
#overview .panel.trend-down-3:hover .sprite-trend-down-3 {
  background-position: -190px -1109px;
  width: 44px;
  height: 43px;
}
#overview .table > tbody > tr > td {
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 25px;
}
#overview .table td.text > h4 {
  margin: 0;
}
#overview .table td.text .h3,
#overview .table td.text .h2 {
  font-weight: 700;
}
#overview .table td.text .h3 .small,
#overview .table td.text .h2 .small {
  color: #2a3036;
}
#overview .table td.text a {
  color: #2a3036;
}
#overview .table td.pos .h3 {
  font-weight: 700;
}
#comparison {
  background: #b5bdc4;
}
#comparison .form-group {
  position: relative;
}
#comparison .form-group .form-control {
  height: 52px;
  font-size: 16px;
  padding-right: 34px;
  border-color: #2a3036;
  color: #2a3036;
}
#comparison .form-group .sprite-search-alt {
  position: absolute;
  top: 46px;
  left: auto;
  right: 12px;
}
#comparison .form-group .help-block {
  padding: 0 15px;
  color: #2a3036;
}
#comments > h3 {
  font-size: 20px;
  margin: 60px 0 30px;
}
#comments .form-group {
  width: 60%;
}
#comments .sprite-users {
  margin: 5px 18px 0 10px;
}
#comments .media {
  margin-bottom: 30px;
}
#comments .media h4 {
  color: #cc6633;
  margin-bottom: 0;
}
#comments .media h4 small {
  font-weight: 300;
  margin-left: 16px;
}
#comments .media footer a {
  border-right: 1px solid #ddd;
  padding-right: 6px;
  margin-right: 6px;
  color: #cc6633;
}
#comments .media footer a:last-child {
  border-right: 0 none;
  padding-right: 0;
  margin-right: 0;
}
#sidebar form {
  display: block;
  position: relative;
  width: 100%;
}
#sidebar #side-menu {
  position: absolute;
  width: 100%;
}
#sidebar .panel-default {
  background: #f8f8f8;
  border-color: #5e6a77;
}
#sidebar .panel-default .menu-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
}
#sidebar .dropdown {
  margin-bottom: 20px;
}
#sidebar .dropdown .dropdown-toggle {
  display: block;
  width: 100%;
  text-align: left;
  border-color: #2a3036;
}
#sidebar .dropdown .dropdown-toggle .caret {
  margin-top: 8px;
}
#sidebar .dropdown .dropdown-menu {
  width: 100%;
}
#sidebar .menu {
  border-top: 1px solid #2a3036;
}
#sidebar .menu > li {
  border-bottom: 1px solid #2a3036;
  overflow: hidden;
  font-size: 13px;
}
#sidebar .menu > li input {
  float: left;
  margin-right: 10px;
}
#sidebar .menu > li .icon {
  margin-right: 6px;
  float: left;
}
#sidebar .menu > li > a {
  font-weight: normal;
}
#sidebar .menu > li ul ul li {
  padding-left: 20px;
  line-height: 1.3em;
}
#sidebar .menu li > a,
#sidebar .menu li > span {
  color: #2a3036;
  padding: 5px 0;
  line-height: 15px;
  background: none;
  display: block;
}
#sidebar .menu .tooltip {
  z-index: 9999999;
}
#sidebar .menu a.pin {
  display: inline;
  padding: 8px 5px 0;
  margin: 0;
  line-height: 8px;
  z-index: 1;
}
#sidebar .menu a.pin .icon {
  margin: 0;
  padding: 0;
}
#filters .panel {
  background-color: #f8f8f8;
}
#filters .panel h3,
#filters .panel h4 {
  font-weight: 700;
}
#filters .panel .panel-heading {
  line-height: 34px;
  background-color: #f8f8f8;
  border-bottom: 0;
}
#filters .panel .panel-heading .reset-filters {
  margin-top: -12px;
}
#filters .panel .panel-title {
  font-size: 20px;
  line-height: 34px;
}
#filters .panel .enabled p.h4 {
  margin-bottom: 0;
}
#filters .panel .list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}
#filters .panel .list-group-item.label {
  background-color: #5e6a77;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
#side-controls {
  position: absolute;
  z-index: 1;
  left: -2px;
  top: 0;
  display: none;
}
#side-controls a {
  padding: 4px;
  border: 1px solid #5e6a77;
  width: 30px;
  background: #f8f8f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#side-controls .grouped {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#side-controls .grouped:first-of-type {
  border-bottom: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#side-controls .grouped:last-of-type {
  border-top: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#settings {
  position: absolute;
  z-index: 1;
  width: 300px;
  left: -320px;
}
#settings .slider-arrow.close {
  opacity: 1;
  font-size: 20px;
  line-height: 28px;
}
#settings .slider-arrow.show {
  position: absolute;
  right: -50px;
  top: 3px;
  padding: 8px 2px;
  border: 1px solid #5e6a77;
  background: #f8f8f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#settings .panel {
  margin: 0;
  background: #f8f8f8;
  border-color: #5e6a77;
  position: relative;
}
#settings .panel h3,
#settings .panel h4 {
  font-weight: 700;
}
#settings .panel .panel-heading {
  background: #f8f8f8;
  line-height: 34px;
}
#settings .panel .panel-title {
  font-size: 20px;
  line-height: 34px;
}
#settings .panel .enabled p.h4 {
  margin-bottom: 0;
}
#settings .panel .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  background-color: #f8f8f8;
}
#settings .panel .list-group-item.label {
  background-color: #5e6a77;
  text-align: left;
}
#footer {
  color: #fff;
  padding: 60px 0;
}
#footer h4,
#footer h5 {
  font-weight: 700;
  color: #fff;
}
#footer hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
#footer .nav > li > a {
  padding: 0;
  color: #99a5b1;
}
#footer .nav > li.active > a,
#footer .nav > li.active > a:hover,
#footer .nav > li > a:hover,
#footer .nav > li > a:focus {
  background: none;
  color: #fff;
}
#footer .nav > li.active > a {
  color: #fff;
  font-weight: 400;
}
#footer .nav.no-icons > li > a {
  padding: 0 15px;
}
#footer .partners {
  margin-bottom: 20px;
}
#footer .partners li {
  float: left;
  margin-right: 60px;
}
#footer .partners li:last-child {
  margin-right: 0;
}
#footer .partners li a {
  background: url(../img/loghi.png) no-repeat 0 0;
  display: inline-block;
  height: 60px;
}
#footer .partners li a.ce {
  width: 43px;
  background-position: 0 0;
}
#footer .partners li a.rl {
  width: 91px;
  background-position: -89px 0;
}
#footer .partners li a.por {
  width: 58px;
  background-position: -229px 0;
}
#footer .partners li a.depp {
  width: 148px;
  background-position: -332px 0;
}
.icon {
  background: url(../img/icons.png) no-repeat top left;
  display: inline-block;
  vertical-align: middle;
}
.sprite-world {
  background-position: 0 -792px;
  width: 30px;
  height: 29px;
}
.sprite-updown {
  background-position: 0 -871px;
  width: 45px;
  height: 23px;
}
.sprite-search {
  background-position: -95px -1160px;
  width: 16px;
  height: 16px;
}
.sprite-search-alt {
  background-position: -190px -848px;
  width: 16px;
  height: 16px;
}
.sprite-confronti {
  background-position: -95px -1290px;
  width: 22px;
  height: 14px;
}
.active .sprite-confronti,
a:hover .sprite-confronti {
  background-position: -95px -1226px;
}
.sprite-classifiche {
  background-position: -95px -1417px;
  width: 20px;
  height: 13px;
}
.active .sprite-classifiche,
a:hover .sprite-classifiche {
  background-position: -95px -1354px;
}
.sprite-blog {
  background-position: -95px -1546px;
  width: 23px;
  height: 16px;
}
.active .sprite-blog,
a:hover .sprite-blog {
  background-position: -95px -1480px;
}
.sprite-mappa {
  background-position: -285px -878px;
  width: 18px;
  height: 20px;
}
.active .sprite-mappa,
a:hover .sprite-mappa {
  background-position: -285px -808px;
  width: 18px;
  height: 20px;
}
.sprite-arrow-left {
  background-position: -190px -979px;
  width: 8px;
  height: 15px;
}
.more .sprite-arrow-left {
  background-position: -190px -914px;
  width: 8px;
  height: 15px;
}
.sprite-arrow-right {
  background-position: -95px -1820px;
  width: 8px;
  height: 15px;
}
.more .sprite-arrow-right {
  background-position: -190px -1044px;
  width: 8px;
  height: 15px;
}
.off .sprite-refresh {
  background-position: -190px -62px;
  width: 13px;
  height: 12px;
}
.sprite-refresh {
  background-position: -190px 0;
  width: 13px;
  height: 12px;
}
.sprite-toggle-menu {
  background-position: 0 -1229px;
  width: 24px;
  height: 13px;
}
.sprite-toggle-menu:hover {
  background-position: 0 -1166px;
  width: 24px;
  height: 13px;
}
.sprite-filters {
  background-position: 0 -1099px;
  width: 23px;
  height: 10px;
}
.active .sprite-toggle-menu {
  background-position: 1px -944px;
  width: 24px;
  height: 24px;
}
.active .sprite-toggle-menu:hover {
  background-position: 0 -1018px;
  width: 23px;
  height: 24px;
}
.sprite-trend-up-3-small {
  background-position: 0 -1784px;
  width: 24px;
  height: 24px;
}
a:hover .sprite-trend-up-3-small {
  background-position: 0 -1710px;
  width: 24px;
  height: 24px;
}
.sprite-trend-up-2-small {
  background-position: 0 -1932px;
  width: 23px;
  height: 24px;
}
a:hover .sprite-trend-up-2-small {
  background-position: 0 -1858px;
  width: 23px;
  height: 24px;
}
.sprite-trend-up-1-small {
  background-position: -95px -74px;
  width: 24px;
  height: 24px;
}
a:hover .sprite-trend-up-1-small {
  background-position: -95px 0;
  width: 24px;
  height: 24px;
}
.sprite-trend-small {
  background-position: -95px -222px;
  width: 23px;
  height: 24px;
}
a:hover .sprite-trend-small {
  background-position: -95px -148px;
  width: 23px;
  height: 24px;
}
.sprite-trend-down-1-small {
  background-position: -95px -369px;
  width: 24px;
  height: 24px;
}
a:hover .sprite-trend-down-1-small {
  background-position: -95px -296px;
  width: 24px;
  height: 23px;
}
.sprite-trend-down-2-small {
  background-position: -95px -517px;
  width: 23px;
  height: 24px;
}
a:hover .sprite-trend-down-2-small {
  background-position: -95px -443px;
  width: 23px;
  height: 24px;
}
.sprite-trend-down-3-small {
  background-position: -95px -665px;
  width: 23px;
  height: 24px;
}
a:hover .sprite-trend-down-3-small {
  background-position: -95px -591px;
  width: 23px;
  height: 24px;
}
.sprite-trend-up-3 {
  background-position: -285px -279px;
  width: 44px;
  height: 43px;
}
a:hover .sprite-trend-up-3 {
  background-position: -285px -186px;
  width: 44px;
  height: 43px;
}
.sprite-trend-up-2 {
  background-position: -285px -93px;
  width: 44px;
  height: 43px;
}
a:hover .sprite-trend-up-2 {
  background-position: -285px 0;
  width: 44px;
  height: 43px;
}
.sprite-trend-up-1 {
  background-position: -190px -1946px;
  width: 44px;
  height: 43px;
}
a:hover .sprite-trend-up-1 {
  background-position: -190px -1853px;
  width: 44px;
  height: 43px;
}
.sprite-trend {
  background-position: -190px -1760px;
  width: 44px;
  height: 43px;
}
a:hover .sprite-trend {
  background-position: -190px -1667px;
  width: 44px;
  height: 43px;
}
.sprite-trend-down-1 {
  background-position: -190px -1574px;
  width: 44px;
  height: 43px;
}
a:hover .sprite-trend-down-1 {
  background-position: -190px -1481px;
  width: 44px;
  height: 43px;
}
.sprite-trend-down-2 {
  background-position: -190px -1388px;
  width: 44px;
  height: 43px;
}
a:hover .sprite-trend-down-2 {
  background-position: -190px -1295px;
  width: 44px;
  height: 43px;
}
.sprite-trend-down-3 {
  background-position: -190px -1202px;
  width: 44px;
  height: 43px;
}
a:hover .sprite-trend-down-3 {
  background-position: -190px -1109px;
  width: 44px;
  height: 43px;
}
.sprite-delete {
  background-position: -190px -181px;
  width: 11px;
  height: 10px;
}
.sprite-delete-small {
  background-position: -190px -124px;
  width: 8px;
  height: 7px;
}
.sprite-share {
  background-position: -95px -1612px;
  width: 20px;
  height: 19px;
}
.sprite-info {
  background-position: -190px -241px;
  width: 9px;
  height: 8px;
}
.sprite-alert {
  background-position: -190px -415px;
  width: 3px;
  height: 8px;
}
a:hover .sprite-alert {
  background-position: -190px -357px;
  width: 3px;
  height: 8px;
}
.sprite-users {
  background-position: -95px -1747px;
  width: 24px;
  height: 23px;
}
.sprite-autonomia-finanziaria {
  background-position: -190px -473px;
  width: 16px;
  height: 15px;
}
.sprite-capacita-programmatoria {
  background-position: -190px -538px;
  width: 12px;
  height: 15px;
}
.sprite-peso-amministrazione {
  background-position: -190px -603px;
  width: 14px;
  height: 11px;
}
.sprite-propensione-sviluppo {
  background-position: -190px -664px;
  width: 14px;
  height: 14px;
}
.sprite-sostenibilita {
  background-position: -190px -728px;
  width: 14px;
  height: 9px;
}
.sprite-indicatori {
  background-position: -190px -787px;
  width: 12px;
  height: 11px;
}
.sprite-autonomia-finanziaria-big {
  background-position: -95px -809px;
  width: 24px;
  height: 21px;
}
.sprite-capacita-programmatoria-big {
  background-position: -95px -880px;
  width: 18px;
  height: 24px;
}
.sprite-peso-amministrazione-big {
  background-position: -95px -954px;
  width: 24px;
  height: 20px;
}
.sprite-propensione-sviluppo-big {
  background-position: -95px -1024px;
  width: 23px;
  height: 20px;
}
.sprite-sostenibilita-big {
  background-position: -95px -1094px;
  width: 24px;
  height: 16px;
}
.sprite-indicatori-big {
  background-position: -95px -739px;
  width: 21px;
  height: 20px;
}
.sprite-tasso-crescita-popolazione {
  background-position: 0 -701px;
  width: 37px;
  height: 41px;
}
.sprite-indice-invecchiamento {
  background-position: 0 -607px;
  width: 45px;
  height: 44px;
}
.sprite-verde-pubblico {
  background-position: 0 -522px;
  width: 45px;
  height: 35px;
}
.sprite-redditi {
  background-position: 0 -444px;
  width: 33px;
  height: 28px;
}
.sprite-tasso-migratorio {
  background-position: 0 -352px;
  width: 37px;
  height: 42px;
}
.sprite-submit {
  background-position: 0 0;
  width: 39px;
  height: 38px;
}
.sprite-submit:hover {
  background-position: 0 -88px;
  width: 39px;
  height: 38px;
}
.sprite-small-town {
  background-position: -95px -1681px;
  width: 17px;
  height: 16px;
}
.error .sprite-status {
  background-position: 0 -176px;
  width: 40px;
  height: 35px;
}
.sprite-plus {
  background-position: 0 -1491px;
  width: 24px;
  height: 23px;
}
a:hover .sprite-plus {
  background-position: 0 -1418px;
  width: 24px;
  height: 23px;
}
.sprite-minus {
  background-position: 0 -1637px;
  width: 24px;
  height: 23px;
}
a:hover .sprite-minus {
  background-position: 0 -1564px;
  width: 24px;
  height: 23px;
}
.sprite-open-menu {
  background-position: -286px -516px;
  width: 20px;
  height: 16px;
}
a:hover .sprite-open-menu {
  background-position: -286px -590px;
  width: 20px;
  height: 16px;
}
.sprite-close-menu {
  background-position: -286px -664px;
  width: 20px;
  height: 16px;
}
a:hover .sprite-close-menu {
  background-position: -286px -738px;
  width: 20px;
  height: 16px;
}
.sprite-open-menu-schede {
  background-position: -285px -948px;
  width: 30px;
  height: 30px;
}
.sprite-close-menu-schede {
  background-position: -285px -1028px;
  width: 30px;
  height: 30px;
}
.sprite-open-menu-indicatori {
  background-position: -285px -1108px;
  width: 30px;
  height: 30px;
}
.sprite-close-menu-indicatori {
  background-position: -285px -1188px;
  width: 30px;
  height: 30px;
}
.sprite-open-menu-filtri {
  background-position: -285px -1268px;
  width: 30px;
  height: 30px;
}
.sprite-close-menu-filtri {
  background-position: -285px -1348px;
  width: 30px;
  height: 30px;
}
.sprite-classifiche-big {
  background-position: -285px -1493px;
  width: 23px;
  height: 15px;
}
a:hover .sprite-classifiche-big,
a.active .sprite-classifiche-big {
  background-position: -285px -1428px;
  width: 23px;
  height: 15px;
}
.sprite-confronti-big {
  background-position: -285px -1628px;
  width: 31px;
  height: 20px;
}
a:hover .sprite-confronti-big,
a.active .sprite-confronti-big {
  background-position: -285px -1558px;
  width: 31px;
  height: 20px;
}
.sprite-mappa-big {
  background-position: -285px -1774px;
  width: 25px;
  height: 26px;
}
a:hover .sprite-mappa-big,
a.active .sprite-mappa-big {
  background-position: -285px -1698px;
  width: 25px;
  height: 26px;
}
.sprite-tag {
  background-position: -285px -1850px;
  width: 12px;
  height: 8px;
}
.sprite-calendar {
  background-position: -285px -1908px;
  width: 13px;
  height: 9px;
}
/**
 * Splash style
 * @author mleone
 * @version 1.5.7
 **/
#splash .container-fluid {
  padding: 10px 0;
}
#splash #header .brand {
  color: #fff;
  line-height: 30px;
  display: inline-block;
}
#splash #header .brand small {
  display: block;
  font-size: 12px;
  line-height: 1.42857;
  text-align: right;
  color: #fff;
}
#splash #header h4 {
  color: #fff;
  line-height: 1.4em;
}
#splash #main-content {
  padding: 0;
}
#splash #main-content form {
  margin: 20px 0 0;
}
#splash #main-content form .row > div {
  margin-bottom: 20px;
}
#splash #main-content form .form-control {
  font-size: 18px;
}
#splash #main-content form .form-control:-moz-placeholder {
  color: #99a5b1;
  font-weight: 300;
}
#splash #main-content form .form-control::-moz-placeholder {
  color: #99a5b1;
  font-weight: 300;
}
#splash #main-content form .form-control:-ms-input-placeholder {
  color: #99a5b1;
  font-weight: 300;
}
#splash #main-content form .form-control::-webkit-input-placeholder {
  color: #99a5b1;
  font-weight: 300;
}
#splash #main-content form .btn-danger {
  background-color: #b84a34;
  border-color: #b84a34;
  min-width: 180px;
}
#splash #main-content .preview {
  position: relative;
  width: 100%;
  height: 391px;
  background: url(../img/splash.jpg) no-repeat center center;
}
#splash #footer {
  color: #fff;
  padding: 10px 0;
}
#splash #footer li a {
  background: url(../img/loghi.png) no-repeat 0 0;
  display: inline-block;
  height: 56px;
}
#splash #footer li a.ce {
  width: 43px;
  background-position: 0 0;
}
#splash #footer li a.rl {
  width: 91px;
  background-position: -89px 0;
}
#splash #footer li a.por {
  width: 58px;
  background-position: -229px 0;
}
@media (max-width: 992px) {
  #splash #main-content .preview {
    height: 250px;
    -moz-background-size: 1600px 250px;
    -webkit-background-size: 1600px 250px;
    background-size: 1600px 250px;
  }
}
/**
 * Home style
 * @author mleone
 * @version 1.5.7
 **/
#home .container-fluid {
  padding: 10px 0;
}
#home #header .brand {
  color: #fff;
  line-height: 30px;
  display: inline-block;
}
#home #header .brand small {
  display: block;
  font-size: 12px;
  line-height: 1.42857;
  text-align: right;
  color: #fff;
}
#home #header h2 {
  color: #fff;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
}
#home #main-content {
  padding: 0;
  position: relative;
}
#home #main-content #nav-links {
  position: fixed;
  z-index: 9999;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#home #main-content #nav-links a {
  display: block;
  position: relative;
  color: transparent;
  height: 16px;
}
#home #main-content #nav-links a:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
#home #main-content #nav-links a:hover:after {
  background: #cc6633;
}
#home #main-content #nav-links a.current:after {
  background: #cc6633;
}
#home #main-content #more-content {
  position: fixed;
  z-index: 99999;
  width: 100%;
  left: 0;
  bottom: 10px;
}
#home #main-content #more-content p {
  margin: 0;
}
#home #main-content #more-content p a {
  display: inline-block;
  padding: .2em .3em;
  color: #cc6633;
  background: #fff;
  opacity: .1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
#home #main-content #more-content p a:hover {
  opacity: 1;
}
#home #main-content #nav-links,
#home #main-content #more-content {
  display: none;
}
@media (min-width: 768px) {
  #home #main-content #nav-links,
  #home #main-content #more-content {
    display: block;
  }
}
#home #main-content form {
  margin: 20px 0 0;
}
#home #main-content form .row > div {
  margin-bottom: 20px;
}
#home #main-content form .form-group {
  margin-bottom: 0;
  position: relative;
}
#home #main-content form .form-control {
  position: relative;
  padding-right: 34px;
  height: 48px;
  font-size: 16px;
}
#home #main-content form .form-control:-moz-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#home #main-content form .form-control::-moz-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#home #main-content form .form-control:-ms-input-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#home #main-content form .form-control::-webkit-input-placeholder {
  color: #2a3036;
  font-weight: 300;
}
#home #main-content form .sprite-search-alt {
  position: absolute;
  top: 16px;
  left: auto;
  right: 12px;
}
#home #main-content section {
  padding: 40px 0 60px;
}
#home #main-content section h1 {
  font-size: 38px;
  margin-bottom: 20px;
}
#home #main-content section .text {
  margin: 30px 0;
}
#home #main-content #intro {
  padding-top: 0;
  padding-bottom: 30px;
  color: #fff;
}
#home #main-content #intro h3 a {
  color: #fff;
}
#home #main-content #intro h3 a .icon {
  display: block;
  margin: 10px auto;
  height: 26px;
}
#home #main-content #intro h3 a:hover,
#home #main-content #intro h3 a.active {
  font-weight: 400;
  text-decoration: none;
}
#home #main-content #slider {
  padding: 0;
}
#home #main-content #slider .carousel-inner {
  background: #fff;
}
#home #main-content #slider .carousel-control {
  background: none;
  opacity: 0;
}
#home #main-content #slider .carousel-control .fa {
  background: #2a3036;
  position: absolute;
  z-index: 3;
  top: 50%;
  font-size: 20px;
  height: auto;
  margin-top: -48px;
  font-weight: 700;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#home #main-content #slider .carousel-control .fa-angle-left {
  left: -32px;
  padding: 10px 10px 10px 35px;
}
#home #main-content #slider .carousel-control .fa-angle-right {
  right: -32px;
  padding: 10px 35px 10px 10px;
}
@media (min-width: 768px) {
  #home #main-content #slider .carousel-control .fa {
    top: 50%;
    font-size: 28px;
    height: auto;
    margin-top: -28px;
  }
  #home #main-content #slider .carousel-control .fa-angle-left {
    left: -32px;
    padding: 15px 15px 15px 40px;
  }
  #home #main-content #slider .carousel-control .fa-angle-right {
    right: -32px;
    padding: 15px 40px 15px 15px;
  }
}
#home #main-content #slider .carousel-control:hover {
  opacity: 1;
}
#home #main-content #slider .video-holder .btn {
  background: #5e6a77;
  border-color: #5e6a77;
  color: #99a5b1;
  font-size: 20px;
  height: 60px;
  width: 100%;
}
#home #main-content #slider .video-holder .btn:hover {
  color: #fff;
}
@media (min-width: 768px) {
  #home #main-content #slider .video-holder {
    margin-top: -100px;
  }
  #home #main-content #slider .video-holder .btn {
    font-size: 30px;
    height: 80px;
    width: 140px;
    margin-bottom: 20px;
  }
}
#home #main-content #from-the-blog {
  background-color: #edede2;
  color: #2c3138;
  font-size: 13px;
}
#home #main-content #from-the-blog h1 {
  color: #b84a34;
}
#home #main-content #from-the-blog li hr {
  margin: 20px 0 0 0;
  height: 5px;
  background: #b84a34;
  width: 40%;
}
#home #main-content #from-the-blog li a {
  color: #b84a34;
}
#home #main-content #from-the-blog li a:active,
#home #main-content #from-the-blog li a:hover {
  color: #2c3138;
  text-decoration: none;
}
#home #main-content #from-the-blog li h3 {
  font-size: 21px;
}
#home #main-content #from-the-blog li time .icon {
  margin-right: 3px;
  margin-top: -3px;
}
#home #main-content #from-the-blog li .tags .icon {
  margin-right: 6px;
}
#home #main-content #from-the-blog li .tags a {
  color: #2c3138;
  text-decoration: underline;
}
#home #main-content #from-the-blog li .tags a:hover {
  text-decoration: none;
}
#home #main-content #services {
  background-color: #f8f8f8;
  color: #5f6a77;
}
#home #main-content #services h1,
#home #main-content #services h2 {
  color: #5f6a77;
}
#home #main-content #services h2 {
  font-size: 26px;
  font-weight: 700;
}
#home #main-content #services .more-info {
  background-color: transparent;
  border-color: #b84a34;
  color: #b84a34;
}
#home #main-content #services .more-info:hover {
  background-color: #b84a34;
  border-color: #b84a34;
  color: #fff;
}
#home #main-content #open-data {
  background: #b84b36 url(../img/texture_open_data.png) 50% 0 fixed;
  color: #fff;
}
#home #main-content #open-data h1,
#home #main-content #open-data h2 {
  color: #fff;
}
#home #main-content #open-data h2 {
  font-size: 26px;
  font-weight: 400;
}
@media (max-width: 992px) {
  #splash #main-content .preview {
    height: 250px;
    -moz-background-size: 1600px 250px;
    -webkit-background-size: 1600px 250px;
    background-size: 1600px 250px;
  }
}
@media (max-width: 992px) {
  .navbar-main .navbar-header form {
    width: 95px;
  }
}
@media (max-width: 768px) {
  .navbar-subnav .nav > li {
    border-right: 0;
  }
}
@media (max-width: 320px) {
  .navbar-main .navbar-brand {
    padding: 10px 0;
  }
}
.composition-widget-container {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.fun-int,
.fun-int:visited {
  background: #b9c6c4;
  border-color: #b9c6c4;
  color: #57616c;
  font-size: 12px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
}
.fun-int span,
.fun-int:visited span {
  font-size: 10px;
}
.composition-widget-container iframe,
.composition-widget-container object,
.composition-widget-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
form ul li label {
  font-weight: normal;
  display: inline;
}
#results td img.secondary-graph-toggle {
  margin-bottom: 0;
  padding-bottom: 20px;
}
select.parameter-dropdown {
  width: 100%;
  padding: 3px;
  background-color: #fff;
  border-radius: 4px;
}
.earlybird-error {
  color: white;
  font-weight: bold;
}
form ul li label {
  font-weight: 300;
  display: inline;
}
.section_title {
  margin-bottom: 10px;
}
.section_title .cas_com_box {
  font-size: 14px;
}
.section_title .values_type {
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}
.section_title .values_type img#gear {
  width: auto!important;
  height: 19px;
  margin-bottom: 0px;
}
#main-content .scrollbox {
  height: 250px;
}
#sidebar .dropdown > .separator {
  height: 1px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: black;
  margin-bottom: 9px;
  margin-top: 20px;
}
#sidebar ul.menu {
  border: 0;
}
#sidebar ul.menu li {
  font-size: 14px;
  border: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
#sidebar ul.menu li.active > div.row > div > a {
  font-weight: bold;
}
#sidebar ul.menu .mytooltip {
  float: right;
  margin-right: 2px;
  z-index: 0;
  width: 8px;
}
.confronti_parameter_list a {
  color: #2a3036;
}
.confronti_parameter_list a:visited {
  color: #2a3036;
}
#results .panel-default .pagination-wrapper > ul > li > a {
  padding: 2px 8px;
}
.table.table-striped a {
  color: #cc6633;
  font-weight: bold;
}
