
.visup-hidden {
  display: none !important;
  visibility: hidden !important;
}


/*SELECTOR*/

.visup-selector-dropdown {
	height: 103px;
}

.visup-selector-buttons {
	cursor: pointer;
	text-align: center;
	display: inline-block;
	position: absolute;
	right: 0px;
	bottom: 58px;
	height: 46px;
}

.visup-selector-buttons select {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	background: #ffffff;
	width: 100%;
	color: #2a3037;
	border: 2px solid #2a3037;
	padding: 5px 16px 5px 5px;
	margin-top: 5px;
	font-size: 10px;
	font-weight: 300px;
}

.visup-selector-buttons-head {
	margin-left: 15px;
	text-align: left;
	font-size: 12px;
	font-weight: 700;
}

.visup-selector-buttons-ddown-container {
	position: absolute;
	left: 15px;
	right: 0px;
	height: 100%;
}

.visup-selector-buttons-ddown-icon {
	position: absolute;
	bottom: 4px;
	right: 8px;
}

.visup-selector-buttons select:focus {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	outline: none;
}

.visup-selector-button {
	height: 42px;
	padding: 11px 10px 20px 10px;
	border-radius: 7px;
	margin-bottom: 20px;
	cursor: pointer; 
	font-size: 18px;
}

.visup-selector-line {
	shape-rendering: crispEdges;
	stroke-width: 4px;
	stroke-linecap: round;
}

.visup-selector-tick {
	height: 45px;
	position: absolute;
	text-align: center;
}

.visup-selector-tick.disabled .visup-selector-tick-text {
	color: #b9c6c4 !important;
}

.visup-selector-tick.disabled .visup-selector-tick-pointer {
	cursor: auto;
}
/*.visup-selector-tick-line {
	border-radius: 1px;
	background: #2a3037;
	height: 8px;
	width: 2px;
	margin-left: -1px;
}*/

.visup-selector-tick-text {
	width: 60px;
	margin-left: -30px;
	font-size: 11px;
	font-weight: 700;
}

.visup-selector-tick-pointer {
	opacity: 0;
	background-color: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 50px;
	height: 35px;
	margin-left: -25px;
	margin-top: -35px;
}

.visup-selector-axisX-container {
	position: relative;
	height: 45px;
}

.visup-selector-circle {
	stroke: #ffffff;
	stroke-width: 2px;
}

.visup-selector-circle.disabled {
	fill: #b9c6c4 !important;
}

/*.visup-selector-circle.visup-highlighted {
	fill: #c6d1cf!important;
}*/


/*SPANS*/

.visup-span-container {
	position: relative;
	width: 100%;
}

.visup-span-row {
	height: 40px;
	width: 100%;
	margin-bottom: 18px;
}

.visup-span-descriptions {
	white-space: nowrap;
	position: relative;
	height: 80%;
	width: 100%;
}

.visup-span-bars {
	position: relative;
	height: 10px;
	width: 100%;
}

.visup-span-descr {
	overflow: hidden;
	position: absolute;
	height: 100%;
	/*padding-top: 5px;*/
	cursor: pointer;
}

.visup-span-descr.visup-collide {
	/*border-right: 1px solid #c6d1cf;*/
}

.visup-span-descr.visup-collide:hover {
	/*border-right: 1px solid #c6d1cf;*/
	background-color: white;
	z-index: 2;
	width: auto !important;
	padding-right: 20px;
}

.visup-span-descr.visup-collide:hover .visup-span-descr-labels{
	/*padding: 1px 8px 1px 0px;*/
}

.visup-span-descr.visup-collide:hover .visup-span-label {
	width: auto !important;
}

.visup-span-descr.visup-collide:hover .visup-span-sublabel {
	width: auto !important;
}

.visup-span-descr-labels {
	vertical-align: top;
	display: inline-block;
	padding: 1px 0px 1px 0px;
}

.visup-span-descr .visup-span-descr-arrow,
.visup-span-descr.visup-collide:hover .visup-span-descr-arrow,
.visup-span-descr.visup-span-disabled .visup-span-descr-arrow,
.visup-span-descr.visup-span-disabled.visup-collide .visup-span-descr-arrow
.visup-span-descr.visup-span-disabled.visup-collide:hover .visup-span-descr-arrow {
	display: none;
}

.visup-span-descr.visup-collide .visup-span-descr-arrow {
	height: 100%;
	background: #ffffff;
	display: inline-block;
	padding: 6px 7px 0px;
	position: absolute;
	width: 20px;
	/*left: 10px;*/
	right: 0px;
}

.visup-span-descr.visup-collide:hover .visup-span-descr-arrow {
	width: 20px;
	height: 100%;
	display: inline-block;
	padding: 6px 7px 0px;
	position: absolute;
	/*left: auto;*/
	-moz-transform: scaleX(-1);    /* Gecko */
	-o-transform: scaleX(-1);      /* Operah */
	-webkit-transform: scaleX(-1); /* webkit */
	transform: scaleX(-1); 
}

.visup-span-bar {
	position: absolute;
	height: 100%;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
}

.visup-span-bar.disabled {
	background-color: #ffffff !important;
	/*border-color: #b9c6c4 !important;*/
}

.visup-span-icon {
	margin-right: 4px;
	background-size: cover;
	vertical-align: top;
	display: inline-block;
	height: 25px;
	width: 25px;
	background-color: #2a3037;
	border-radius: 20px;
	border: 3px solid;
}

.visup-span-label {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 40%;
	line-height: 13px;
	font-size: 12px;
	font-weight: 900;
	/*color: #cc6633;*/
	text-decoration: none;
	/*max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;*/
}

.visup-span-label:hover {
	cursor: pointer;
	text-decoration: underline;
}


.visup-span-sublabel {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 40%;
	font-size: 9px;
	font-weight: 400;
	text-transform: uppercase;
}

.visup-span-axisX {
	position: relative;
	height: 35px;
}



/*TIMELINE*/

.visup-timeline-container {
	position: relative;
	height: 100%;
	width: 100%;
	margin-bottom: 15px;
}

.visup-timeline-back {
	shape-rendering: crispEdges;
	cursor: pointer;
	fill: rgba(0,0,0,0);
}

.visup-timeline-back-highlighted {
	fill: #f2efe7;
}

.visup-timeline-back-line {
	stroke: #b9c6c4;
	stroke-width: 1px;
	shape-rendering: crispEdges;
	pointer-events: none;
}

.visup-timeline-line {
	fill:none;
	stroke-width:7px;
	stroke:white;
	opacity:0;
	pointer-events: none;
}

.visup-timeline-circle {
	fill:white;
	opacity: 0;
	pointer-events: none;
}

path.domain {
	fill:none;
}

.visup-timeline-axisY-container g.tick line {
	stroke: #b9c6c4;
	stroke-width:1px;
	shape-rendering:crispEdges;
}

g.tick text {
	font-weight: 300;
	font-size: 16px;
	pointer-events: none;
}

.visup-yAxis-unit {
	position: absolute;
	bottom: 3px;
	right: 0px;
	text-align: left;
}

.visup-timeline-tooltip-container {
	top:-20px;
	position: absolute;
}

.visup-timeline-tooltip {
	border: 3px solid;
	background-color: white;
	width: 150px;
	height: 35px;
	padding: 8px;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 5px;
}

.visup-timeline-tooltip h4 {
	font-weight: 600;
	display: inline-block;
	margin: 0px;
}

.visup-timeline-tooltip p {
	padding-left: 5px;
	display: inline-block;
	margin: 0px;
}

.visup-backline {
	stroke: #b9c6c4;
	stroke-width: 1px;
	stroke-dasharray: 5, 5;
	shape-rendering: crispEdges;
}

.visup-clipPath-rect.visup-above{
	/*shape-rendering: geometricPrecision;*/
	fill:none;
	stroke-width: none;
	/*stroke-width:1px;*/
	/*stroke: #2a3037;*/
}

.visup-clippath {
	position: absolute;
	border: 1px solid #b9c6c4;
	border-radius: 5px;
	pointer-events: none;
}

/*LEGEND*/

.visup-legend-container {
	width: 100%;
	padding-left: 5px;
}

.visup-legend-title {
	border-bottom: 1px solid #2a3037;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
}

.visup-legend-row {
	border-bottom: 1px dashed #2a3037 
}

.visup-legend-row:first-child {
	border-top: 1px solid #2a3037 
}

.visup-legend-row:last-child {
	border-bottom: 1px solid #2a3037 
}

.visup-legend-item {
	padding: 17px 5px;
	display: inline-block;
	vertical-align: top;
}

.visup-legend-item-description {
	display: inline-block;
}

.visup-legend-item-icon {
	font-size: 13px;
}

.visup-legend-item-text {
	color:black;
	display: inline;
	margin-left: 5px;
}

.visup-legend-item-tooltip {
	display: inline-block;
}

.visup-legend-item-caret {
	padding: 0px 8px ;
	vertical-align: middle;
	font-size: 18px;
	line-height: 1px;
	display: inline-block;
}

.visup-legend-item-value {
	padding-right: 5px;
	display: inline-block;
	font-size: 12px;
	font-weight: 900;
}

.visup-legend-item-unit {
	font-size: 8px;
	font-weight: 300;
	display: inline-block;
}



/*COMPOSIZIONE*/

.visup-composizione-button {
	border-radius: 6px;
	margin: 5px;
	background-color: #c6d1cf;
	width: 130px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 8px;
}

.visup-dot-circle {
  stroke-width: 8px;
}

.visup-dot-text {
  text-anchor: middle;
}

.visup-chart-yAxis-line {
  shape-rendering: crispEdges;
  stroke:#2a3037;
  stroke-width: 1px;
  stroke-dasharray: 3,3;
}

.visup-chart-yAxis path {
  fill: none;
}

.visup-composizione-legend-container {
	bottom: 0px;
}

.visup-composizione-legend-item {
  width: 50px;
  padding: 3px;
  display: inline-block;
  float: left;
}

.visup-composizione-legend-item-text {
  text-align: center;
}

.visup-composizione-legend-item-icon {
  border-radius: 4px;
  height: 14px;
}

